<div class="splash-image hello" style="{{> header_splash_image}}">
    <div class="splash-overlay">
        <div class="container-fluid">
            <div class="mdc-layout-grid">
                <h1 class="header-text">
                    <span class="header-text-banner">
                        Hello,<br />
                        we're SCVO
                    </span>
                </h1>
                <p class="header-extra">
                    Championing Scotland's vibrant charities,<br />
                    voluntary organisations &amp; social enterprises
                </p>
                <p>
                    <a href="/about" class="mdc-button">Find out more</a>
                </p>
            </div>
            <!-- {{> header_caption}} -->
        </div>
    </div>
</div>

<section class="search">
    <div class="container-fluid">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                    <h3>What can we help you with?</h3>
                    <form [searchroute]="'main_search'" class="home_search_form" autocomplete="off">
                        <input type="text" class="mdc-textfield__input white-text mdc-text-field searchRoute" placeholder="Search SCVO, Goodmoves, TFN, and more" id="q" name="q">
                        <button type="submit" class="mdc-toolbar__icon mdc-toolbar__search search-button-large" aria-label="Search" alt="Search">
                            <span class="far fa-2x fa-search" aria-hidden="true"></span>
                        </button>
                    </form>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                    <h3>Trending topics</h3>
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                                <a href="https://thegathering.scot/">The Gathering</a>
                            </div>
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                                <a href="/jobs/community-jobs-scotland/information-for-employers/become-an-employer">Become a CJS employer</a>
                            </div>
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                                <a href="/running-your-organisation/business-planning/writing-business-plan">Writing a business plan</a>
                            </div>
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                                <a href="/running-your-organisation/governance/roles-responsibilities">Governance roles & responsibilites</a>
                            </div>
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                                <a href="/setting-up-a-charity/write-your-constitution">Write your constitution</a>
                            </div>
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                                <a href="/setting-up-a-charity/frequently-asked-questions">Setting up a charity FAQs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="featured-content">
    <div class="featured-background-image" style="padding: 1rem 0; background-image: url('https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/banners/scvo-hp-g2018-banner-gb-1400x400.jpg');">
        <div class="container-fluid">
            <div class="featured scvo-cms scvo-cms-page scvo-cms-page-20536 mdc-layout-grid">
                <div class="mdc-layout-grid__inner" style="position: relative;">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" style="text-align: center;">
                        <a href="https://thegathering.scot/">
                            <img class="header-image" alt="" src="https://thegathering.scot/wp-content/uploads/2017/09/g2018-logo-WHITE-DETAIL.png" style="max-width: 100%; height: auto;">
                        </a>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <div class="mdc-card" style="background-color: rgba(0,0,0,0.5);">
                            <section class="mdc-card__supporting-text" style="padding-top: 1.5rem; line-height: 1.6rem; font-size: 1.3rem;">
                                The Gathering is the largest free third sector event in the UK, a place for all the amazing people working in the third sector to network, showcase what they do and learn from each other.
                            </section>
                            <section class="mdc-card__actions">
                                <ul>
                                    <li><a class="mdc-card__action mdc-button" href="https://thegathering.scot/about/">Find out more</a></li>
                                    <li><a class="mdc-card__action mdc-button" href="https://thegathering.scot/events/">Book to attend</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <h2>Latest blog post</h2>
    </div>
    {{#with supplimentaryResponses.blogs_latest.hits.hits.[0]}}
    <div {{#if _source.header_background}}class="featured-background-image" style="background-image: url('{{_source.header_background}}');"{{else}}class="featured-text"{{/if}}>
        <div class="container-fluid">
            {{{_source.rendered.featured}}}
        </div>
    </div>
    {{/with}}

    <div class="featured-background-image" style="background-image: url('https://storage.googleapis.com/scvo-cms/wp-content/uploads/2017/10/eu-are-valued-bg-1400x400.jpg');">
        <div class="container-fluid">
            <div class="featured scvo-cms scvo-cms-page scvo-cms-page-20536 mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone">
                        <a ng-reflect-router-link="/projects-campaigns/europe-and" href="/projects-campaigns/europe-and-the-third-sector/eu-are-valued">
                            <img alt="#EUareValued" class="header-text" src="https://storage.googleapis.com/scvo-cms/wp-content/uploads/2017/10/eu-are-valued-text.png">
                        </a>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8 mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone">
                        <p style="padding-top: 2.5rem; line-height: 1.6rem; font-size: 1.3rem;">
                            Here at SCVO, we love charities. We believe every person who works to make a difference to Scottish communities should be valued, and that includes our colleagues who have come from other EU countries to live and work here. Scotland’s third sector is strengthened thanks to their contribution…
                            <a ng-reflect-router-link="/projects-campaigns/europe-and" href="/projects-campaigns/europe-and-the-third-sector/eu-are-valued">Read more</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <h2>Latest press release</h2>
    </div>
    {{#with supplimentaryResponses.press_latest.hits.hits.[0]}}
    <div {{#if _source.header_background}}class="featured-background-image" style="background-image: url('{{_source.header_background}}');"{{else}}class="featured-text"{{/if}}>
        <div class="container-fluid">
            {{{_source.rendered.featured}}}
        </div>
    </div>
    {{/with}}

    <!-- {{#each supplimentaryResponses.featured.hits.hits}}
    <div {{#if _source.header_background}}class="featured-background-image" style="background-image: url('{{_source.header_background}}');"{{else}}class="featured-text"{{/if}}>
        <div class="container-fluid">
            {{{_source.rendered.featured}}}
        </div>
    </div>
    {{/each}} -->
</section>

<section class="callout-image cta-content">
    <div class="container-fluid">
        <div class="cta-grid mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <h2>
                        Find information on...
                    </h2>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                    <h3>
                        <a href="/setting-up-a-charity">
                            <span class="fal fa-book fa-fw fa-3x" aria-hidden="true"></span>
                            <span class="underline">Setting up an organisation</span>
                        </a>
                    </h3>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                    <h3>
                        <a href="/funding">
                            <span class="fal fa-money-bill fa-fw fa-3x" aria-hidden="true"></span>
                            <span class="underline">Funding for my project</span>
                        </a>
                    </h3>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                    <h3>
                        <a href="/events">
                            <span class="fal fa-graduation-cap fa-fw fa-3x" aria-hidden="true"></span>
                            <span class="underline">Training courses &amp; events</span>
                        </a>
                    </h3>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                    <h3>
                        <a href="/jobs">
                            <span class="fal fa-briefcase fa-fw fa-3x" aria-hidden="true"></span>
                            <span class="underline">Jobs in the sector</span>
                        </a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="latest-content">
    <div class="container-fluid">
        <div class="latest-grid mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                    <h2>
                        Recent SCVO blog posts
                    </h2>
                    {{{supplimentaryResponses.blogs_latest.hits.hits.[1]._source.rendered.gist}}}
                    {{{supplimentaryResponses.blogs_latest.hits.hits.[2]._source.rendered.gist}}}
                    {{{supplimentaryResponses.blogs_latest.hits.hits.[3]._source.rendered.gist}}}
                    <h2>
                        <a href="/blogs">Read more SCVO blogs</a>
                    </h2>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                    <h2>
                        Latest TFN news
                    </h2>
                    {{#each supplimentaryResponses.tfn_latest.hits.hits}}
                    {{{_source.rendered.scvo_gist}}}
                    {{/each}}
                    <h2>
                        <a href="http://thirdforcenews.org.uk">Read more on TFN</a>
                    </h2>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone no-border">
                    <h2>
                        Top third sector jobs
                    </h2>
                    {{#each supplimentaryResponses.goodmoves_latest.hits.hits}}
                    {{{_source.rendered.gist}}}
                    {{/each}}
                    <h2>
                        <a href="https://goodmoves.com">See more on <strong>good</strong>moves</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>

{{> footer_services}}
