{{#*inline "term_checkbox"}}
<div class="mdc-form-field">
  <div class="mdc-checkbox">
    <input type="checkbox" class="mdc-checkbox__native-control" id="{{instance_id}}_{{field}}_{{slug}}" name="{{#compare field "===" "type"}}{{field}}{{else}}{{field}}[]{{/compare}}" value="{{slug}}"{{#if (contains selected slug)}} checked{{/if}}  onchange="this.form.submit();" />
    <div class="mdc-checkbox__background">
      <svg class="mdc-checkbox__checkmark"
      viewBox="0 0 24 24">
      <path class="mdc-checkbox__checkmark-path"
      fill="none"
      stroke="white"
      d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
    </svg>
    <div class="mdc-checkbox__mixedmark"></div>
  </div>
</div>
<label for="{{instance_id}}_{{field}}_{{slug}}">
  {{{default value.key value}}}
</label>
</div>
{{/inline}}

<div class="mdc-drawer__content">
  <!-- <h2 class="mdc-drawer__content-heading hide-sm mdc-drawer--occasional-ie11">Search funds</h2> -->
  <form action="/search/advanced" method="GET" class="search-form">
    {{#each (split "keywords,sort" ",")}}
      {{#if (getProperty @root.request.params.query this) ~}}
        <input type="hidden" name="{{this}}" value="{{getProperty @root.request.params.query this}}" />
      {{/if ~}}
    {{/each ~}}
    <!-- <div class="h-padding">
      <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
        <span class="far fa-search mdc-text-field__icon" tabindex="-1"></span>
        <input type="text" id="{{instance_id}}-keywords" name="keywords" class="mdc-text-field__input mdc-text-field--fullwidth" value="{{@root.request.params.query.keywords}}" data-lpignore="true" autocomplete="off">
        <label class="mdc-floating-label" for="keywords">
          Keywords
        </label>
        <div class="mdc-line-ripple"></div>
      </div>
    </div> -->
    <a href="/search{{@root.request.url.search}}" class="mdc-drawer__content-heading cursor-pointer noselect mdc-drawer--occasional-ie11">
      Simple filters
      <span class="mdc-icon-toggle pull-right">
        <i class="far fa-chevron-left" aria-hidden="true"></i>
      </span>
    </a>

    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        {{#each (split "activities,beneficiaries,geographical_areas_funded,fund_status,charities_only,type_of_cost,type_of_funding" ",")}}
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
            <h3 class="mdc-drawer__content-heading noselect mdc-drawer--occasional-ie11">
              {{getProperty @root.context.metaData.termTypeLabels (concat this ".plural")}}
            </h3>
            <div class="mdc-drawer--occasional-ie11">
              {{#each (getProperty @root.data.supplimentaryResponses.types.aggregations (concat this "_slugs.buckets")) ~}}
                {{#if key ~}}
                  {{> term_checkbox slug=key field=../this selected=(getProperty @root.request.params.query ../this) instance_id=../../instance_id value=(lookup (getProperty @root.data.supplimentaryResponses.types.aggregations (concat ../this ".buckets")) @index)}}
                {{/if ~}}
              {{/each ~}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>

    <!-- <div class="h-margin v-margin mdc-drawer--occasional-ie11">
      <button class="mdc-button mdc-button--raised mdc-button--large mdc-button--fullwidth mdc-ripple-surface mdc-ripple-surface--primary" type="submit" id="{{instance_id}}-search-submit" data-mdc-auto-init="MDCRipple">
        <span class="far fa-search-plus fa-fw mdc-list-item__graphic" aria-hidden="true"></span>
        Filter
      </button>
    </div> -->
  </form>
</div>