{{{rendered.fund_status}}}
<div class="mdc-card__info--fund-row">
  <div class="mdc-card__info--fund">
    {{#if funder_organisation.has_logo ~}}
    <div class="mdc-card__media mdc-card__media--funder pull-right hide-sm">
      <a href="/funder/{{funder_organisation.slug}}{{@root.request.url.search}}">
        <img src="{{funder_organisation.logo_url}}" alt="{{funder_organisation.name}}" />
      </a>
    </div>
    {{/if ~}}
    <h2 class="mdc-card__info--fund-title mdc-typography--headline5">
      <a href="/fund/{{slug}}{{@root.request.url.search}}">
        <span class="hover-underline">{{title}}</span>
        {{#ifAll fund_status fund_status_slug ~}}
          <span class="mdc-typography--caption fund-status fund-{{fund_status_slug}}">Status: {{{fund_status}}}</span>
        {{/ifAll ~}}
      </a>
    </h2>
    <ul class="fa-ul funder">
      <li class="mdc-card__info--fund-funder mdc-typography--body1">
        <span class="fa-li"><span class="far fa-building fa-fw" title="Funder"></span></span>
        <a href="/funder/{{funder_organisation.slug}}{{@root.request.url.search}}">{{funder_organisation.name}}</a>
      </li>
    </ul>
    <div class="fund-details">
      <h4 class="mdc-typography--headline6">Fund details</h4>
      <dl>
        {{#if (length (arrayify type_of_funding)) ~}}
          <dt>Type of funding</dt>
          <dd>
            {{#each (arrayify type_of_funding) ~}}
              {{{this}}}{{#unless @last}}, {{/unless}}
            {{/each}}
          </dd>
        {{/if ~}}
        {{#if source_of_fund ~}}
          <dt>Source</dt>
          <dd>
            {{{source_of_fund}}}
          </dd>
        {{/if ~}}
        {{#if (length (arrayify type_of_cost)) ~}}
          <dt>Type of cost</dt>
          <dd>
            {{#each (arrayify type_of_cost) ~}}
              {{{this}}}{{#unless @last}}, {{/unless}}
            {{/each}}
          </dd>
        {{/if ~}}
        {{#if when_to_apply ~}}
          <dt>When to apply</dt>
          <dd>
            {{{when_to_apply}}}
          </dd>
        {{/if ~}}
        {{#if next_deadline ~}}
          <dt>Next deadline</dt>
          <dd>
            {{{next_deadline}}}
          </dd>
        {{/if ~}}
        {{#if for_charities_only ~}}
          <dt>Charities only</dt>
          <dd>
            {{{for_charities_only}}}
          </dd>
        {{/if ~}}
        {{#if website ~}}
          <dt>Website</dt>
          <dd>
            {{{website}}}
          </dd>
        {{/if ~}}
        {{#if email ~}}
          <dt>Email</dt>
          <dd>
            {{{email}}}
          </dd>
        {{/if ~}}
        {{#if phone ~}}
          <dt>Phone</dt>
          <dd>
            {{{phone}}}
          </dd>
        {{/if ~}}
        {{#if how_to_apply ~}}
          <dt>How to apply</dt>
          <dd>
            {{{how_to_apply}}}
          </dd>
        {{/if ~}}
        {{#if exclusions ~}}
          <dt>Exclusions</dt>
          <dd>
            {{{exclusions}}}
          </dd>
        {{/if ~}}
      </dl>
    </div>
  </div>
</div>
