{{#if @root.data.primaryResponse.hits.hits.[0] ~}}
{{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
<title>Vacancies with {{title}} – {{momentFormat (moment now) "MMMM YYYY"}} – Goodmoves</title>
<meta property="og:title" content="Vacancies with {{title}} – {{momentFormat (moment now) "MMMM YYYY"}} – Goodmoves" data-dynamic="true">
{{#ifAny logo_url og_image ../og_image ~}}
<meta property="og:image" content="{{default logo_url og_image ../og_image}}" data-dynamic="true">
{{/ifAny ~}}
{{#ifAny og_summary description ../og_summary ../description ~}}
<meta property="og:summary" content="{{stripTags (regexReplace (default og_summary (default ../og_summary (default description ../description))) '\r|\n' 'gi' '')}}" data-dynamic="true">
<meta name="description" content="{{stripTags (regexReplace (default description (default ../description (default og_summary ../og_summary))) '\r|\n' 'gi' '')}}" data-dynamic="true">
{{/ifAny ~}}
{{#if rendered.json_ld ~}}
<script type="application/ld+json" data-dynamic="true">
{{{rendered.json_ld}}}
</script>
{{/if ~}}
{{/with ~}}
{{else}}
<title>Goodmoves – charity and voluntary sector recruitment</title>
<meta property="og:title" content="Goodmoves – charity and voluntary sector recruitment" data-dynamic="true">
{{/if ~}}