<div class="mdc-card milo-volunteering-opportunity full" data-opportunity-id="{{Id}}">
  {{> opportunity_key_info}}
  <hr class="mdc-list-divider" />
  <div class="opportunity-info-container">
    {{#>components_tab_bar id="opportunity-tab-bar" defaultTabIdentifier="tab"}}
      {{>components_tab iconClasses="far fa-list-ul fa-fw" label="Information" active=true tabName="panel-1"}}
      {{>components_tab iconClasses="far fa-map-marker-alt fa-fw" label="Location" active=false tabName="panel-2"}}
    {{/components_tab_bar}}
    <hr class="mdc-list-divider" />
    <div class="panels" for="opportunity-tab-bar">
      <div class="panel panel--active mdc-card--full-content" role="tabpanel" aria-hidden="false" id="panel-1">
        <div class="key-info-extra">
          <ul class="fa-ul">
            {{#if available_from ~}}
            <li class="mdc-card__info--opportunity-from mdc-typography--body1">
              <span class="fa-li"><span class="far fa-calendar-plus fa-fw" title="Start date"></span></span>
              Advertised from {{momentFormat (moment available_from "x") "Do MMMM YYYY"}}
            </li>
            {{/if ~}}
          </ul>
        </div>
        <div class="detailed-info">
          {{#if description ~}}
          <h4 class="mdc-typography--headline6">Description</h4>
          <div class="mdc-typography--body1">
            {{{description}}}
          </div>
          {{/if ~}}

          {{#if organisation_aims_and_objectives ~}}
          <h4 class="mdc-typography--headline6">Organisation Aims and objectives</h4>
          <div class="mdc-typography--body1">
            {{{organisation_aims_and_objectives}}}
          </div>
          {{/if ~}}


            <h4 class="mdc-typography--headline6">Availability</h4>
            <div class="mdc-typography--body1">
              {{#if @root.data.transformTimes.any}}
                {{>opportunity_timings_display}}
              {{/if}}
            </div>




        </div>
      </div>
      <div class="panel mdc-card--full-content" role="tabpanel" aria-hidden="true" id="panel-2">
        <h1>TODO: Do this</h1>
        {{!--
        {{#ifAny organisation.profile organisation_website organisation_twitter organisation_facebook organisation_linkedin ~}}
        <div class="key-info-extra">
          {{#if organisation.profile ~}}
          <h4 class="mdc-typography--headline6">Organisation profile</h4>
          <div class="mdc-typography--body1">
            {{{organisation.profile}}}
          </div>
          {{/if ~}}
          <ul class="fa-ul">
            {{#if organisation_website ~}}
            {{#compare organisation_website "!==" null ~}}
            {{#compare organisation_website "!==" "http://" ~}}
            <li class="mdc-card__info--opportunity-website mdc-typography--body1">
              <span class="fa-li"><span class="far fa-link fa-fw" title="Website"></span></span>
              <a href="{{organisation_website_url}}">
                {{organisation_website}}
              </a>
            </li>
            {{/compare ~}}
            {{/compare ~}}
            {{/if ~}}
            {{#if organisation_twitter ~}}
            {{#compare organisation_twitter "!==" null ~}}
            {{#compare organisation_twitter "!==" "http://" ~}}
            <li class="mdc-card__info--opportunity-twitter mdc-typography--body1">
              <span class="fa-li"><span class="fab fa-twitter fa-fw" title="Twitter"></span></span>
              <a href="{{organisation_twitter_url}}">
                {{organisation_twitter}}
              </a>
            </li>
            {{/compare ~}}
            {{/compare ~}}
            {{/if ~}}
            {{#if organisation_facebook ~}}
            {{#compare organisation.acebook "!==" null ~}}
            {{#compare organisation_facebook "!==" "http://" ~}}
            <li class="mdc-card__info--opportunity-facebook mdc-typography--body1">
              <span class="fa-li"><span class="fab fa-facebook fa-fw" title="Facebook"></span></span>
              <a href="{{organisation_facebook_url}}">
                {{organisation_facebook}}
              </a>
            </li>
            {{/compare ~}}
            {{/compare ~}}
            {{/if ~}}
            {{#if organisation_linkedin ~}}
            {{#compare organisation_linkedin "!==" null ~}}
            {{#compare organisation_linkedin "!==" "http://" ~}}
            <li class="mdc-card__info--opportunity-linkedin mdc-typography--body1">
              <span class="fa-li"><span class="fab fa-linkedin fa-fw" title="LinkedIn"></span></span>
              <a href="{{organisation_linkedin_url}}">
                {{organisation_linkedin}}
              </a>
            </li>
            {{/compare ~}}
            {{/compare ~}}
            {{/if ~}}
          </ul>
        </div>
        {{/ifAny ~}}
        --}}
        <div class="location-info">
          {{#compare (length geo_opportunity_coords) ">" 0 ~}}
            <div class="container-content container-map">
              <div id="map-opportunity" data-map-name="opportunityMap" data-map-options='{
                "center": {
                  "lat": {{geo_opportunity_coords.0.lat}},
                  "lng": {{geo_opportunity_coords.0.lon}}
                },
                "zoom": 13
              }'></div>
            </div>
            {{#each (arrayify geo_opportunity_coords) ~}}
              <marker style="display:none;" data-map="opportunityMap" data-lat="{{lat}}" data-lng="{{lon}}" data-title="{{../organisation.name}} - {{../title}}">
                <h3 class="mdc-typography--headline7">{{../organisation.name}}</h3>
                <p class="mdc-typography--body2">{{../title}}</p>
              </marker>
            {{/each ~}}
          {{else}}
            <div class="container-content v-margin-full">
              <p class="mdc-typography--body1">
                Area: {{{location}}}. Specific job location not provided.
              </p>
            </div>
          {{/compare ~}}
        </div>
      </div>
    </div>
    {{> opportunity_actions slug=slug Id=Id action="organisation"}}
  </div>
</div>
{{#if @root.request.params.query.email ~}}
  {{> ga documentType="milo-volunteering-opportunity" documentId=Id hitType="full-from-email"}}
{{else}}
  {{> ga documentType="milo-volunteering-opportunity" documentId=Id hitType="full"}}
{{/if ~}}
