<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="/{{#if request.params.path}}{{replace request.params.path '_' ''}}{{else}}{{/if}}">
  {{{layoutParts.head}}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="57x57" href="https://storage.googleapis.com/scvo-assets/assets/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://storage.googleapis.com/scvo-assets/assets/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://storage.googleapis.com/scvo-assets/assets/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://storage.googleapis.com/scvo-assets/assets/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://storage.googleapis.com/scvo-assets/assets/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://storage.googleapis.com/scvo-assets/assets/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://storage.googleapis.com/scvo-assets/assets/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://storage.googleapis.com/scvo-assets/assets/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://storage.googleapis.com/scvo-assets/assets/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="https://storage.googleapis.com/scvo-assets/assets/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://storage.googleapis.com/scvo-assets/assets/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://storage.googleapis.com/scvo-assets/assets/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://storage.googleapis.com/scvo-assets/assets/icons/favicon-16x16.png">
  <link rel="manifest" href="https://storage.googleapis.com/scvo-assets/assets/icons/manifest.json">
  <meta name="msapplication-TileColor" content="#00838f">
  <meta name="msapplication-TileImage" content="https://storage.googleapis.com/scvo-assets/assets/icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#00838f">
  <link rel="search" type="application/opensearchdescription+xml" title="SCVO" href="https://storage.googleapis.com/scvo-assets/assets/opensearch.xml" />
  <!-- <link type="text/css" rel="stylesheet" href="https://unpkg.com/material-components-web@0.37.1/dist/material-components-web.min.css"> -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-TXfwrfuHVznxCssTxWoPZjhcss/hp38gEOH8UPZG/JcXonvBQ6SlsIF49wUzsGno" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="/assets/css/getinvolved-legacy-styles.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3467930-4"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-3467930-4', { 'send_page_view': true, 'anonymize_ip': true });

  {{#ifAny request.params.query.debug (compare request.url.hostname "getinvolved.local") ~}}
  console.log('#### DEBUG MODE ON ####');
  console.log('Request:', {{{regexReplace (regexReplace (stringify request) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  console.log('Route:', {{{regexReplace (regexReplace (stringify route) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  console.log('Data:', {{{regexReplace (regexReplace (stringify data) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  console.log('Menus:', {{{regexReplace (regexReplace (stringify context.metaData.menus) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  {{/ifAny ~}}
  </script>
</head>
<body class="{{#if request.params.path}}{{replace request.params.path '_' ' '}}{{else}}home{{/if}}">
  <scvo-site>
    <div class="mdc-typography">
      <header class="mdc-top-app-bar mdc-elevation--z5 top-bar-stuck" id="top-bar">
        <div class="container-fluid">
          <div class="mdc-top-app-bar__row mdc-top-app-bar__upper">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
              <span class="mdc-toolbar__title catalog-title">
                <a href="/" class="brand-logo" title="Get Involved!">
                  <img src="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/logos/get-involved.png" class="brand-logo-mobile" />
                  <img src="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/logos/get-involved.png" class="brand-logo-desktop" />
                </a>
              </span>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end mdc-top-app-bar__section--shrink-to-fit hide-lg">
              <button class="mdc-top-app-bar__navigation-icon" data-drawer-target="#mobile-menu">
                <span class="far fa-fw fa-2x fa-bars"></span>
              </button>
              {{#unless route.metaData.hideSearch}}
              <button class="mdc-top-app-bar__navigation-icon hide-lg" data-drawer-target="#sidebar-temporary" title="Search">
                <span class="far fa-fw fa-2x fa-search"></span>
              </button>
              {{/unless}}
            </section>
          </div>
          <div class="mdc-top-app-bar__row mdc-top-app-bar__lower hide-sm hide-md">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__main">
              <nav id="main-tab-bar" class="mdc-tab-bar" [menu]="'main'" [menulinkselector]="''" [menulabelselector]="'span.mdc-tab--label'" [menuactiveclass]="'active'">
                {{#each context.metaData.menus.main}}
                <a class="mdc-tab{{#if (regexMatch ../request.url.pathname route "gi")}} mdc-tab--active{{/if}}" href="{{path}}">
                  <span class="mdc-tab--label">{{{label}}}</span>
                </a>
                {{/each}}
              </nav>
            </section>
          </div>
        </div>
      </header>

      <aside class="mdc-drawer mdc-drawer--temporary" id="mobile-menu" data-mdc-auto-init="MDCTemporaryDrawer">
        <nav class="mdc-drawer__drawer">
          <header class="mdc-drawer__header">
            <div class="mdc-temporary-drawer__header-content mdc-theme--text-primary-on-primary">
              <img src="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/logos/get-involved.png" class="brand-logo-mobile" />
            </div>
          </header>
          <nav class="mdc-drawer__content mdc-list">
            {{#each @root.context.metaData.menus.mobile ~}}
            <a class="mdc-list-item{{#if (regexMatch @root.request.url.pathname route "gi")}} mdc-list-item--activated{{/if}}" href="{{stripTrailingSlash path}}">
              {{#if icon ~}}
              <span class="far fa-{{icon}} mdc-list-item__graphic" aria-hidden="true"></span>
              {{/if ~}}
              {{{label}}}
            </a>
            {{/each ~}}
          </nav>
        </nav>
      </aside>

      <main class="mdc-theme--background mdc-toolbar-fixed-adjust {{#if layoutParts.sidebar}}drawer-container-permanent{{else}}drawer-container-temporary{{/if}}">
        {{#if layoutParts.sidebar ~}}
        <aside class="mdc-drawer mdc-drawer--temporary mdc-drawer--occasional mdc-elevation--z3" id="sidebar-temporary" data-mdc-auto-init="MDCTemporaryDrawer">
          <div class="mdc-drawer__drawer">
            {{{layoutParts.sidebar}}}
          </div>
        </aside>
        {{/if}}
        <div class="container-fluid">
          {{{layoutParts.body}}}
        </div>
      </main>

      <footer>
        <div class="footer-main">
          <div class="container-fluid">
            <div class="mdc-layout-grid">
              <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-9-desktop">
                  <h3>About</h3>
                  <p>
                    <strong>Get Involved</strong> is run by the
                    <a href="https://scvo.org">Scottish Council for Voluntary Organisations</a> and powered by a collaboration of infrastructure organisations across Scotland. <a href="/about">Read more</a>
                  </p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-3-desktop">
                  <h3>Help</h3>
                  <ul class="mdc-list">
                    {{#each context.metaData.menus.footer}}
                    <li class="mdc-list-item">
                      <a href="{{path}}">{{{label}}}</a>
                    </li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container-fluid">
            <div class="mdc-layout-grid">
              <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-9-desktop">
                  <p>
                    &copy; {{momentFormat (moment) "YYYY"}}. The Scottish Council for Voluntary Organisations (SCVO) is a Scottish Charitable Incorporated Organisation. Charity registered in Scotland <a href="https://www.oscr.org.uk/about-charities/search-the-register/charity-details?number=SC003558">SC003558</a>. Registered office Mansfield Traquair Centre, 15 Mansfield Place, Edinburgh EH3 6BB.
                  </p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-3-desktop">
                  <a href="https://scvo.org" title="Scottish Council for Voluntary Organisations">
                    <img src="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/logos/scvo.png" alt="Scottish Council for Voluntary Organisations" class="logo scvo" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </scvo-site>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/headroom.min.js"></script>
  {{#if (contains request.url.host '.local')}}
  <script type="text/javascript" src="https://unpkg.com/material-components-web@0.37.1/dist/material-components-web.js"></script>
  {{else}}
  <script type="text/javascript" src="https://unpkg.com/material-components-web@0.37.1/dist/material-components-web.min.js"></script>
  {{/if}}
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@7/dist/polyfill.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/string.js/3.3.3/string.min.js"></script>
  <script type="text/javascript">
  var $buoop = {required:{e:-3,f:-3,o:-3,s:-1,c:-3},insecure:true,unsupported:true,api:2018.07 };
  function $buo_f(){
    var e = document.createElement("script");
    e.src = "//browser-update.org/update.min.js";
    document.body.appendChild(e);
  };
  try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
  catch(e){window.attachEvent("onload", $buo_f)}
  </script>
  <script type="text/javascript" id="cookieinfo" src="/assets/js/cookieinfo.min.js" data-message="We use cookies to track anonymous usage statistics and do not collect any personal information that can be used to identify you. By continuing to visit this site you agree to our use of cookies." data-font-family="'Open Sans',Helvetica,Arial,sans-serif" data-bg="#fff" data-link="#c2185b" data-divlink="#fff" data-divlinkbg="#c2185b" data-position="bottom" data-accept-on-scroll="true" data-moreinfo="/cookies" data-cookie="CookieInfoScript" data-text-align="left"></script>
  <script type="text/javascript" src="/assets/js/getinvolved-legacy/root.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJdxcQpVKQ6HdrjnPXycUoZqsmp-Ep3l0&libraries=places&region=uk&callback=initMap" async defer></script>

  {{{layoutParts.foot}}}
</body>
</html>
