<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>The Scotland Declaration on Human Rights</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#00838f">
    <meta name="msapplication-TileImage" content="/assets/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#00838f">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <style type="text/css">
    {{{this.css}}}
    </style>
    {{{headerTags}}}
    <script type="application/ld+json">
    {{{route.jsonLd}}}
    </script>
</head>
<body class="{{replace route.params.path '_' ' '}}">
    <scvo-site>
        <div class="mdc-typography">
            <header class="mdc-toolbar">
                <div class="mdc-toolbar__row">
                    <div class="container-fluid">
                        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                            <span class="mdc-toolbar__title catalog-title">
                                <a href="/" class="brand-logo" title="The Scotland Declaration on Human Rights">
                                    <img src="https://storage.cloud.google.com/humanrightsdeclaration/SDHR-logo-RGB-TALL-LARGE.PNG" class="brand-logo-mobile" />
                                    <img src="https://storage.cloud.google.com/humanrightsdeclaration/SDHR-logo-RGB-WIDE-LARGE.PNG" class="brand-logo-desktop" />
                                </a>
                            </span>
                        </section>
                        <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
                            <nav id="main-tab-bar" class="mdc-tab-bar">
                                <a class="mdc-tab" href="/">Home</a>
                                <a class="mdc-tab" href="/the-declaration">The Declaration</a>
                                <a class="mdc-tab" href="/why-sign">Why sign?</a>
                                <a class="mdc-tab" href="/sign-up">Sign up</a>
                                <!-- <a class="mdc-tab" href="/signatories">Signatories</a> -->
                            </nav>
                            <button id="menu_button" class="menu mdc-toolbar__icon mdc-toolbar__icon--menu" onclick="menu_draw.MDCTemporaryDrawer.open = true">
                                <span class="fa fa-2x fa-bars" aria-hidden="true"></span>
                            </button>
                        </section>
                    </div>
                </div>
            </header>

            <aside class="mdc-temporary-drawer" id="menu_draw" dir="rtl">
                <nav class="mdc-temporary-drawer__drawer">
                    <header class="mdc-temporary-drawer__header">
                        <div class="mdc-temporary-drawer__header-content mdc-theme--text-primary-on-primary">
                            <img src="https://storage.cloud.google.com/humanrightsdeclaration/SDHR-logo-RGB-TALL-LARGE.PNG" class="brand-logo-mobile" />
                        </div>
                    </header>
                    <nav class="mdc-temporary-drawer__content mdc-list-group">
                        <div id="icon-with-text-demo" class="mdc-list">
                            <a class="mdc-list-item" href="/" data-mdc-tabindex-handled="true" tabindex="-1" onclick="menu_draw.MDCTemporaryDrawer.open = false">Home</a>
                            <a class="mdc-list-item" href="/the-declaration" data-mdc-tabindex-handled="true" tabindex="-1" onclick="menu_draw.MDCTemporaryDrawer.open = false">The Declaration</a>
                            <a class="mdc-list-item" href="/why-sign" data-mdc-tabindex-handled="true" tabindex="-1" onclick="menu_draw.MDCTemporaryDrawer.open = false">Why sign?</a>
                            <a class="mdc-list-item" href="/sign-up" data-mdc-tabindex-handled="true" tabindex="-1" onclick="menu_draw.MDCTemporaryDrawer.open = false">Sign up</a>
                            <!-- <a class="mdc-list-item" href="/signatories" data-mdc-tabindex-handled="true" tabindex="-1" onclick="menu_draw.MDCTemporaryDrawer.open = false">Signatories</a> -->
                        </div>
                    </nav>
                </nav>
            </aside>

            <main>
                <div class="container-fluid">
                    <router-outlet>{{{route.rendered}}}</router-outlet>
                </div>
            </main>

            <footer>
                <div class="footer">
                    <div class="container-fluid">
                        <div class="footer-main">
                            <div class="footer-brand">
                                <a href="http://scvo.org" class="brand-logo" title="The Scotland Declaration on Human Rights">
                                    <img src="assets/images/scvo-logo.png" />
                                </a>
                                <p>The Scotland Declaration on Human Rights is supported by the Scottish Council for Voluntary Organisations</p>
                            </div>
                            <div class="footer-copyright">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>
                                            &copy; 2017. The Scottish Council for Voluntary Organisations (SCVO) is a Scottish Charitable Incorporated Organisation. Charity registered in Scotland <a href="http://www.oscr.org.uk/charities/search-scottish-charity-register/charity-details?number=SC003558">SC003558</a>.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </scvo-site>
    <script type="text/javascript" src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script type="text/javascript">
    // Material Design Components
    mdc.autoInit();

    // Browser Update
    var $buoop = {notify:{i:-4,f:-4,o:-4,s:-2,c:-4},unsecure:true,api:5};
    function $buo_f(){
     var e = document.createElement("script");
     e.src = "//browser-update.org/update.min.js";
     document.body.appendChild(e);
    };
    try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
    catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <script type="text/javascript" src="inline.bundle.js"></script>
    <script type="text/javascript" src="polyfills.bundle.js"></script>
    <script type="text/javascript" src="styles.bundle.js"></script>
    <script type="text/javascript" src="vendor.bundle.js"></script>
    <script type="text/javascript" src="main.bundle.js"></script>
</body>
</html>
