{{#compare request.params.path "===" "signatories" ~}}
<title>{{route.metaData.title}}</title>
<meta property="og:title" content="{{route.metaData.title}}" data-dynamic="true">
{{else}}
{{#if data.primaryResponse.hits.hits.[0] ~}}
{{#with data.primaryResponse.hits.hits.[0]._source ~}}
{{#if title ~}}
<title>{{{title}}} is a signatory of the Scotland Declaration on Human Rights</title>
<meta property="og:title" content="{{{title}}} is a signatory of the Scotland Declaration on Human Rights" data-dynamic="true">
{{else}}
<title>{{route.metaData.title}}</title>
<meta property="og:title" content="{{route.metaData.title}}" data-dynamic="true">
{{/if ~}}
{{#if files.0.uploadUrl ~}}
<meta property="og:image" content="{{files.0.uploadUrl}}" data-dynamic="true">
<meta property="og:image:width" content="128" data-dynamic="true">
<meta property="og:image:height" content="128" data-dynamic="true">
{{/if ~}}
{{#ifAny og_summary description ../og_summary ../description ~}}
<meta property="og:summary" content="{{stripTags (regexReplace (default og_summary (default ../og_summary (default description ../description))) '\r|\n' 'gi' '')}}" data-dynamic="true">
<meta name="description" content="{{stripTags (regexReplace (default description (default ../description (default og_summary ../og_summary))) '\r|\n' 'gi' '')}}" data-dynamic="true">
{{/ifAny ~}}
{{#if rendered.json_ld ~}}
<script type="application/ld+json" data-dynamic="true">
{{{rendered.json_ld}}}
</script>
{{/if ~}}
{{/with ~}}
{{else}}
<title>{{route.metaData.title}}</title>
<meta property="og:title" content="{{route.metaData.title}}" data-dynamic="true">
{{/if ~}}
{{/compare ~}}