<div class="signatories">
  <h1>Signatories <span class="small">({{@root.data.supplimentaryResponses.total.hits.total}})</span></h1>

  <form action="/signatories" [searchroute]="'signatory_search'" data-auto-search="true">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h4>Search</h4>
          <div class="mdc-textfield mdc-textfield--upgraded keywords">
            <input type="text" class="mdc-textfield__input" name="q" id="keywords" value="{{@root.request.params.query.q}}" placeholder="Search for a declaration signatory">
            <button type="submit" class="mdc-toolbar__icon mdc-toolbar__search search-button-large" aria-label="Search" alt="Search">
              <span class="far fa-2x fa-search" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
          <h4>Total signatories found: {{data.primaryResponse.hits.total}}</h4>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">
          <h4 class="sort">Sort</h4>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
          <div class="mdc-form-field sort">
            <select class="mdc-select" role="listbox" id="sort" name="sort">
              <option value="" {{#if @root.request.params.query.sort}}{{else}}selected{{/if}}>Date signed</option>
              <option value="AZ" {{#if @root.request.params.query.sort}}selected{{else}}{{/if}}>Alphabetical</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="mdc-layout-grid signatories-search">
    <div class="mdc-layout-grid__inner">
      {{#each @root.data.primaryResponse.hits.hits}}
      <div class="mdc-layout-grid__cell signatory inner mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        {{{_source.rendered.humanrightsdeclaration_search_result}}}
      </div>
      {{/each}}
    </div>
  </div>

  {{> pagination paging=@root.data.primaryResponse.pagination}}
</div>
