<div class="mdc-card full" data-organisation-id="{{Id}}">
  <div class="mdc-card__info--organisation-row">
    <div class="mdc-card__info--organisation">
      <div class="mdc-card__info--organisation-title mdc-typography--headline">
        {{title}}
      </div>
    </div>
    {{#if has_logo ~}}
    <div class="mdc-card__media mdc-card__media--square mdc-card__media--organisation">
      <img src="{{logo_url}}" alt="{{name}}" />
    </div>
    {{/if ~}}
  </div>
  <div class="mdc-card__info--organisation-row">
    <div class="detailed-info">
      {{#if description ~}}
      <div class="mdc-typography--body1">
        {{{description}}}
      </div>
      {{/if ~}}
      <div class="key-info-extra">
        <ul class="fa-ul">
          {{#if website ~}}
          <li class="mdc-card__info--vacancy-website mdc-typography--body1">
            <span class="fa-li"><span class="far fa-link fa-fw" title="Website"></span></span>
            <a href="{{website_url}}">
              {{website}}
            </a>
          </li>
          {{/if ~}}
        </ul>
      </div>
    </div>
  </div>
</div>
