<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Scottish Council for Voluntary Organisations</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <style type="text/css">
    {{{this.css}}}
    </style>
    {{{headerTags}}}
    <script type="application/ld+json">
    {{{route.jsonLd}}}
    </script>
</head>
<body>
    <scvo-site>
        <div class="mdc-typography">
            <header class="mdc-toolbar mdc-toolbar--fixed">
                <div class="mdc-toolbar__row">
                    <div class="container-fluid">
                        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                            <button class="menu mdc-toolbar__icon--menu" onclick="menu_draw.MDCTemporaryDrawer.open = true"><span class="fa fa-2x fa-bars" aria-hidden="true"></span></button>
                            <span class="mdc-toolbar__title catalog-title">SCVO</span>
                        </section>
                        <section class="mdc-toolbar__section mdc-toolbar__section--align-end toolbar-search">
                            <div class="mdc-form-field mdc-form-field--align-end">
                                <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
                                    <input type="text" class="mdc-textfield__input white-text searchRoute" placeholder="Search" id="search"
                                    [searchRoute]='"main-search"' [paramsTemplate]='"{ \"queryParams\": { \"q\": %q } }"'>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="mdc-toolbar__row">
                    <div class="container-fluid">
                        <section class="mdc-toolbar__section mdc-toolbar__section--align-start toolbar-menu">
                            <nav id="basic-tab-bar" class="mdc-tab-bar">
                                {{#each menus.main}}
                                <a class="mdc-tab" href="{{path}}">{{label}}</a>
                                {{/each}}
                            </nav>
                        </section>
                    </div>
                </div>
            </header>

            <aside class="mdc-temporary-drawer" id="menu_draw" data-mdc-auto-init="MDCTemporaryDrawer">
                <nav class="mdc-temporary-drawer__drawer">
                    <header class="mdc-temporary-drawer__header">
                        <div class="mdc-temporary-drawer__header-content mdc-theme--primary-bg mdc-theme--text-primary-on-primary">
                            SCVO
                        </div>
                    </header>
                    <nav class="mdc-temporary-drawer__content mdc-list-group">
                        <div id="icon-with-text-demo" class="mdc-list">
                            <a class="mdc-list-item" href="/" data-mdc-tabindex-handled="true" tabindex="-1">
                                <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">home</i>Home
                            </a>
                            <a class="mdc-list-item" href="/search" data-mdc-tabindex-handled="true" tabindex="-1">
                                <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">search</i>Search
                            </a>
                        </div>
                    </nav>
                </nav>
            </aside>

            <main class="mdc-toolbar-fixed-adjust">
                <div class="page-content">
                    <router-outlet>{{{route.rendered}}}</router-outlet>
                </div>
            </main>

            <footer>
                <div class="footer">
                    <div class="container-fluid">
                        <div class="footer-main">
                            <div class="row">
                                <div class="col-lg-8 col-md-5 col-sm-12">
                                    <a href="/" class="brand-logo" title="Scottish Council for Voluntary Organisations">
                                        <img src="assets/images/scvo-logo.png" />
                                    </a>
                                    <p>The <strong>Scottish Council for Voluntary Organisations</strong> is the membership organisation for Scotland's charities, voluntary organisations and social enterprises.</p>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-6">
                                    <ul class="right">
                                        {{#each menus.footer}}
                                        <li><a class="" href="{{path}}">{{label}}</a></li>
                                        {{/each}}
                                    </ul>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-6">
                                    <ul class="right">
                                        <li><a href="mailto:enquiries@scvo.org.uk">enquiries@scvo.org.uk</a></li>
                                        <li><a href="tel:+441314748000">0131 474 8000</a></li>
                                        <li><a href="https://www.facebook.com/SCVO1939">Facebook</a></li>
                                        <li><a href="https://twitter.com/scvotweet">Twitter</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer-copyright">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p><small>&copy; 2017. The Scottish Council for Voluntary Organisations (SCVO) is a Scottish Charitable Incorporated Organisation. Charity registered in Scotland <a href="http://www.oscr.org.uk/charities/search-scottish-charity-register/charity-details?number=SC003558">SC003558</a>.</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </scvo-site>
    <script type="text/javascript" src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script type="text/javascript">
    mdc.autoInit();
    </script>
    <script type="text/javascript" src="inline.bundle.js"></script>
    <script type="text/javascript" src="polyfills.bundle.js"></script>
    <script type="text/javascript" src="styles.bundle.js"></script>
    <script type="text/javascript" src="vendor.bundle.js"></script>
    <script type="text/javascript" src="main.bundle.js"></script>
</body>
</html>
