<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="/">
  {{{layoutParts.head}}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="57x57" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scotlandforeurope/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scotlandforeurope/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scotlandforeurope/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scotlandforeurope/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scotlandforeurope/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scotlandforeurope/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scotlandforeurope/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scotlandforeurope/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scotlandforeurope/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scotlandforeurope/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scotlandforeurope/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scotlandforeurope/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scotlandforeurope/favicon-16x16.png">
  <link rel="manifest" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scotlandforeurope/manifest.json">
  <meta name="msapplication-TileColor" content="#0070bb">
  <meta name="msapplication-TileImage" content="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scotlandforeurope/ms-icon-144x144.png">
  <meta name="theme-color" content="#0070bb">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3467930-31"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-3467930-31', { 'send_page_view': true, 'anonymize_ip': true });

  {{#ifAny request.params.query.debug (compare request.url.hostname "scotlandforeurope.local") ~}}
  console.log('#### DEBUG MODE ON ####');
  console.log('Request:', {{{regexReplace (regexReplace (stringify request) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  console.log('Route:', {{{regexReplace (regexReplace (stringify route) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  console.log('Data:', {{{regexReplace (regexReplace (stringify data) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  console.log('Menus:', {{{regexReplace (regexReplace (stringify context.metaData.menus) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  {{/ifAny ~}}
  </script>

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-9ralMzdK1QYsk4yBY680hmsb4/hJ98xK3w0TIaJ3ll4POWpWUYaA2bRjGGujGT8w" crossorigin="anonymous">

  {{#compare @root.request.url.hostname "scotlandforeurope.local" ~}}
    <link type="text/css" rel="stylesheet" href="/assets/scotlandforeurope/main.css">
  {{else}}
    <link type="text/css" rel="stylesheet" href="https://storage.googleapis.com/scvo-assets/scotlandforeurope/main-{{@root.context.metaData.assetsVersion}}.css">
  {{/compare ~}}
</head>
<body class="{{#if request.params.path}}{{replace request.params.path '_' ' '}}{{else}}home{{/if}}">
  <charter-site>
    <div class="mdc-typography">
      <header class="mdc-toolbar">
        <div class="mdc-toolbar__row">
          <div class="container-fluid">
            <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
              <span class="mdc-toolbar__title catalog-title">
                <a href="/" class="brand-logo" title="Scotland for Europe">
                  <img src="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/logos/sfe-mobile.png" class="brand-logo-mobile" />
                  <img src="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/logos/sfe-desktop.png" class="brand-logo-desktop" />
                </a>
              </span>
            </section>
            <section class="mdc-toolbar__section mdc-toolbar__section--align-end mdc-toolbar__section--shrink-to-fit hide-lg">
              <button class="mdc-top-app-bar__navigation-icon" data-drawer-target="#mobile-menu">
                <span class="far fa-fw fa-2x fa-bars"></span>
              </button>
            </section>
          </div>
        </div>
        <div class="mdc-toolbar__row navbar">
          <div class="container-fluid">
            <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
              <nav id="main-tab-bar" class="mdc-tab-bar" [menu]="'main'" [menulinkselector]="''" [menulabelselector]="'span.mdc-tab--label'" [menuactiveclass]="'active'">
                {{#each context.metaData.menus.main}}
                <a class="mdc-tab{{#if (regexMatch ../request.url.pathname route "gi")}} mdc-tab--active{{/if}}" href="{{path}}"><span class="mdc-tab--label">{{{label}}}</span></a>
                {{/each}}
              </nav>
            </section>
          </div>
        </div>
      </header>

      <aside class="mdc-drawer mdc-drawer--modal" id="mobile-menu" data-mdc-auto-init="MDCDrawer">
        <div class="mdc-drawer__content">
          <nav class="mdc-list">
            {{#each @root.context.metaData.menus.main ~}}
            <a class="mdc-list-item {{#if (regexMatch @root.request.url.pathname route "gi")}} mdc-list-item--activated{{/if}}"
               href="{{stripTrailingSlash path}}" {{#if (regexMatch @root.request.url.pathname route "gi")}}aria-selected="true"{{else}}aria-hidden="true"{{/if}}>
              {{#if icon ~}}
              <span class="far fa-{{icon}} mdc-list-item__graphic" aria-hidden="true"></span>
              {{/if ~}}
              {{{label}}}
            </a>
            {{/each ~}}
          </nav>
        </div>
      </aside>

      <div class="mdc-drawer-scrim"></div>

      <main>
        <div class="container-fluid">
          {{{layoutParts.body}}}
        </div>
      </main>

      <footer>
        <div class="footer-main">
          <div class="container-fluid">
            <div class="mdc-layout-grid">
              <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-9-desktop">
                  <h3>About</h3>
                  <p>
                    <strong>Scotland for Europe</strong> emerged from a discussion between a range of like-minded civil society activists. In its initial phase, the campaign is being coordinated on a voluntary basis by Vanessa Glynn, Chair of the <a href="http://www.euromovescotland.org.uk/">European Movement in Scotland</a> (EmiS), Colin Campbell Executive, Director of <a href="http://social-capital.net/">Assist Social Capital</a>, Kirsty Hughes, Director of the <a href="https://www.scer.scot/">Scottish Centre on European Relations</a> and the <a href="https://scvo.org">Scottish Council for Voluntary Organisations</a>. EMiS has received a small grant from <a href="https://www.bestforbritain.org/">Best for Britain</a> towards start-up costs.
                  </p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-3-desktop">
                  <h3>Help</h3>
                  <ul class="mdc-list">
                    <li class="mdc-list-item">
                      <a href="/accessibility">Accessibility</a>
                    </li>
                    <li class="mdc-list-item">
                      <a href="/privacy">Privacy</a>
                    </li>
                    <li class="mdc-list-item">
                      <a href="/cookies">Cookies</a>
                    </li>
                    <li class="mdc-list-item">
                      <a href="/terms">Terms &amp; conditions</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container-fluid">
            <div class="mdc-layout-grid">
              <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-9-desktop">
                  <p>
                    &copy; {{momentFormat (moment) "YYYY"}}. The Scottish Council for Voluntary Organisations (SCVO) is a Scottish Charitable Incorporated Organisation. Charity registered in Scotland <a href="https://www.oscr.org.uk/about-charities/search-the-register/charity-details?number=SC003558">SC003558</a>. Registered office Mansfield Traquair Centre, 15 Mansfield Place, Edinburgh EH3 6BB.
                  </p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-3-desktop">
                  <a href="https://scvo.org" title="Scottish Council for Voluntary Organisations">
                    <img src="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/logos/scvo.png" alt="Scottish Council for Voluntary Organisations" class="logo scvo" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </charter-site>
  {{#if (contains request.url.host '.local')}}
  <script type="text/javascript" src="https://unpkg.com/material-components-web@0.39.1/dist/material-components-web.js"></script>
  {{else}}
  <script type="text/javascript" src="https://unpkg.com/material-components-web@0.39.1/dist/material-components-web.min.js"></script>
  {{/if}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript">
  var $buoop = {required:{e:-3,f:-3,o:-3,s:-1,c:-3},insecure:true,unsupported:true,api:2018.07 };
  function $buo_f(){
   var e = document.createElement("script");
   e.src = "//browser-update.org/update.min.js";
   document.body.appendChild(e);
  };
  try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
  catch(e){window.attachEvent("onload", $buo_f)}
  </script>
  <script type="text/javascript" id="cookieinfo" src="/assets/js/cookieinfo.min.js" data-message="We use cookies to track anonymous usage statistics and do not collect any personal information that can be used to identify you. By continuing to visit this site you agree to our use of cookies." data-font-family="'Open Sans',Helvetica,Arial,sans-serif" data-bg="#fff" data-link="#022347" data-divlink="#fff" data-divlinkbg="#022347" data-position="bottom" data-accept-on-scroll="true" data-moreinfo="/cookies" data-cookie="CookieInfoScript" data-text-align="left"></script>
  <script type="text/javascript" src="/assets/js/scotlandforeurope/root.js"></script>

  {{#compare request.url.hostname "scotlandforeurope.local" ~}}
    <script type="text/javascript" src="/assets/scotlandforeurope/main.js"></script>
  {{else}}
    <script type="text/javascript" src="https://storage.googleapis.com/scvo-assets/scotlandforeurope/main-{{@root.context.metaData.assetsVersion}}.js"></script>
  {{/compare ~}}

  {{{layoutParts.foot}}}
</body>
</html>
