<div class="mdc-card content-primary gist{{if top_job " top-content"}}" data-vacancy-id="{{Id}}">
  <div class="mdc-card__info--content-primary-row">
    <div class="mdc-card__media mdc-card__media--square demo-card__media search-result-card__media--content-secondary" style="background-image:url({{organisation.logo_url}});"></div>
    <div class="mdc-card__info--content-primary">
      <div class="mdc-card__info--content-primary-title mdc-typography--headline7">
        {{title}}
      </div>
      <div class="mdc-card__info--content-primary-organisation mdc-typography--body1">
        <a href="/organisation/{{organisation.slug}}{{@root.request.url.search}}">{{organisation.name}}</a>
      </div>
      <div class="mdc-card__info--content-primary-details mdc-typography--caption">
        <span class="far fa-calendar-alt fa-fw" title="Closing date"></span>
        {{{momentFormat (moment closing_date "x") "Do MMMM YYYY"}}}
      </div>
    </div>
  </div>
  {{> vacancy_actions slug=slug Id=Id}}
</div>
{{>ga documentType="goodmoves-vacancy" documentId=Id hitType=(default hitContext "summary")}}
