{{>vacancy_status}}
<div class="mdc-card__info--content-primary-row">
  <div class="mdc-card__info--content-primary">
    {{#if organisation.has_logo ~}}
    <div class="mdc-card__media mdc-card__media--content-secondary pull-right">
      <a href="/organisation/{{organisation.slug}}{{@root.request.url.search}}">
        <img src="{{organisation.logo_url}}" alt="{{organisation.name}}" />
      </a>
    </div>
    {{/if ~}}
    {{#compare @root.route.name "===" "vacancy" ~}}
    {{#compare view "===" "full" ~}}
    {{#if @root.request.url.search ~}}
    {{#ifAny @root.request.params.query.keywords @root.request.params.query.location @root.request.params.query.salary_min @root.request.params.query.salary_max @root.request.params.query.working_patterns @root.request.params.query.regions @root.request.params.query.roles @root.request.params.query.sectors @root.request.params.query.home_based @root.request.params.query.various_locations ~}}
    <a href="/search{{@root.request.url.search}}" class="back-to-results"><span class="far fa-chevron-circle-left" aria-hidden="true"></span> <span class="underline">Back to search results</span></a>
    {{/ifAny ~}}
    {{/if ~}}
    {{/compare ~}}
    {{/compare ~}}
    <h2 class="mdc-card__info--content-primary-title mdc-typography--headline5">
      <a href="/vacancy/{{slug}}{{@root.request.url.search}}">
        {{#if top_job}}<span class="top-content">Top job!</span>{{/if}}
        <span class="hover-underline">{{title}}</span>
      </a>
    </h2>
    <ul class="fa-ul organisation">
      <li class="mdc-card__info--content-primary-secondary mdc-typography--body1">
        <span class="fa-li"><span class="far fa-building fa-fw" title="Organisation"></span></span>
        <a href="/organisation/{{organisation.slug}}{{@root.request.url.search}}">{{organisation.name}}</a>
      </li>
    </ul>
    <!-- <div class="mdc-layout-grid hide-md hide-lg">
      <p class="mdc-typography--body2 v-margin-full-bottom">
        {{#compare (trim location) "===" ""}}This is a {{lowercase role_status_list}} position{{else}}This {{lowercase role_status_list}} position is based in {{trim (replace location "Based in" "")}}{{/compare}}{{#compare salary "!==" "TBC"}}{{#compare (trim salary) "!==" "Unpaid"}}{{#compare (trim salary) "!==" "Sessional"}}, with a salary of {{{trim (lowercase salary)}}}{{/compare}}{{else}} and is unpaid{{/compare}}{{/compare}}. The closing date for applications is the {{{momentFormat (moment closing_date "x") "Do \o\f MMMM YYYY"}}}.
      </p>
    </div> -->
    <ul class="fa-ul first">
      {{#if role_status_list ~}}
      <li class="mdc-card__info--content-primary-status mdc-typography--body1">
        <span class="fa-li"><span class="far fa-clock fa-fw" title="Status"></span></span>
        {{role_status_list}}
      </li>
      {{/if ~}}
      {{#if salary ~}}
      <li class="mdc-card__info--content-primary-salary mdc-typography--body1">
        <span class="fa-li"><span class="far fa-calculator fa-fw" title="Salary"></span></span>
        {{{trim salary}}}
      </li>
      {{/if ~}}
    </ul>
    <ul class="fa-ul last">
      {{#if location ~}}
      <li class="mdc-card__info--content-primary-location mdc-typography--body1">
        <span class="fa-li"><span class="far fa-map-marker-alt fa-fw" title="Location"></span></span>
        {{location}}
      </li>
      {{/if ~}}
      {{#if closing_date ~}}
      <li class="mdc-card__info--content-primary-closing mdc-typography--body1">
        <span class="fa-li"><span class="far fa-calendar-alt fa-fw" title="Closing date"></span></span>
        Closing
        {{{momentFormat (moment closing_date "x") "Do MMMM YYYY"}}}
      </li>
      {{/if ~}}
    </ul>
  </div>
</div>
