<div class="mdc-card goodmoves-vacancy list {{if top_job "top-job"}}" data-vacancy-id="{{Id}}">
  {{> vacancy_key_info}}
  <hr class="mdc-list-divider" />
  {{#if description_short ~}}
  <div class="search-result-article__snippet mdc-typography--body1">
    {{{description_short}}}
  </div>
  <hr class="mdc-list-divider" />
  {{/if}}
  <div class="mdc-card__actions">
    <div class="mdc-card__action-buttons demo-card__action-buttons--text-only mdc-card__actions--full-bleed">
      <a href="/vacancy/{{slug}}{{@root.request.url.search}}" class="mdc-card__action">Find out more</a>
    </div>
    <div class="mdc-card__action-icons pull-right">
      {{> shortlist_chip id=Id}}
    </div>
  </div>
</div>
