<div class="map-content">
  <h3 class="mdc-typography--headline7">
    <a href="/vacancy/{{slug}}{{@root.request.url.search}}">{{title}}</a>
  </h3>
  {{#if organisation.name ~}}
  <div class="mdc-typography--body1 v-margin">
    <strong>{{organisation.name}}</strong>
  </div>
  {{/if ~}}
  <div class="mdc-typography--body2 post-info">
    {{#if role_status_list ~}}
    <div class="post-info-item post-info-status">
      <span class="far fa-clock fa-fw" title="Working pattern"></span>
      {{{role_status_list}}}
    </div>
    {{/if ~}}
    {{#if salary ~}}
    <div class="post-info-item post-info-salary">
      <span class="far fa-calculator fa-fw" title="Salary"></span>
      {{{salary}}}
    </div>
    {{/if ~}}
  </div>
  <div class="mdc-typography--body2">
    <a href="/vacancy/{{slug}}{{@root.request.url.search}}" class="mdc-card__action">Find out more</a>
  </div>
  {{>ga documentType="goodmoves-vacancy" documentId=Id hitType="map"}}
</div>
