<div class="goodmoves-{{vacancy_status}} map-content">
  <h3 class="mdc-typography--headline7">{{title}}</h3>
  {{#if organisation.name ~}}
  <div class="mdc-typography--body2 v-margin">
    <strong>{{organisation.name}}</strong>
  </div>
  {{/if ~}}
  <div class="mdc-typography--body2 post-info">
    {{#if role_status_list ~}}
    <li class="mdc-card__info--vacancy-status mdc-typography--body1">
      <span class="fa-li"><span class="far fa-clock fa-fw" title="Status"></span></span>
      {{role_status_list}}
    </li>
    {{/if ~}}
    {{#if salary ~}}
    <div class="post-info-item post-info-salary">
      <span class="far fa-calculator fa-fw" title="Salary"></span>
      {{{salary}}}
    </div>
    {{/if ~}}
  </div>
  <div class="mdc-typography--body1">
    <a href="/vacancy/{{slug}}{{@root.request.url.search}}" class="mdc-card__action">Find out more</a>
  </div>
</div>