{{#if data.primaryResponse.hits.hits.[0] ~}}
{{#with data.primaryResponse.hits.hits.[0]._source ~}}
{{#ifAny title og_title ~}}
<title>{{{default title og_title}}} – Goodmoves</title>
<meta property="og:title" content="{{{default title og_title}}} – Goodmoves" data-dynamic="true">
{{else}}
<title>Goodmoves – charity and voluntary sector recruitment</title>
<meta property="og:title" content="Goodmoves – charity and voluntary sector recruitment" data-dynamic="true">
{{/ifAny ~}}
<!-- <meta property="og:image" content="" data-dynamic="true"> -->
<meta property="og:image:width" content="96" data-dynamic="true">
<meta property="og:image:height" content="96" data-dynamic="true">
{{#ifAny og_summary description ../og_summary ../description ~}}
<meta property="og:summary" content="{{default og_summary (default ../og_summary (default description ../description))}}" data-dynamic="true">
<meta name="description" content="{{default description (default ../description (default og_summary ../og_summary))}}" data-dynamic="true">
{{/ifAny ~}}
{{#if rendered.json_ld ~}}
<script type="application/ld+json" data-dynamic="true">
{{{rendered.json_ld}}}
</script>
{{/if ~}}
{{/with ~}}
{{else}}
<title>Goodmoves – charity and voluntary sector recruitment</title>
<meta property="og:title" content="Goodmoves – charity and voluntary sector recruitment" data-dynamic="true">
{{/if ~}}