<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner expand paging hide-on-med-and-up">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h3 class="nomargin">
        <a href="/skill-up/communicating"{{#compare request.params.slug "===" "communicating"}} class="active"{{/compare}}>
          <span class="number">1</span>
        </a>
        <a href="/skill-up/handling-info"{{#compare request.params.slug "===" "handling-info"}} class="active"{{/compare}}>
          <span class="number">2</span>
        </a>
        <a href="/skill-up/transacting"{{#compare request.params.slug "===" "transacting"}} class="active"{{/compare}}>
          <span class="number">3</span>
        </a>
        <a href="/skill-up/problem-solving"{{#compare request.params.slug "===" "problem-solving"}} class="active"{{/compare}}>
          <span class="number">4</span>
        </a>
        <a href="/skill-up/safety"{{#compare request.params.slug "===" "safety"}} class="active"{{/compare}}>
          <span class="number">5</span>
        </a>
      </h3>
    </div>
  </div>
  <div class="mdc-layout-grid__inner expand detail">
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-4">
      {{#compare request.params.slug "===" "communicating"}}
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/WEB-Skill-Up-(Communicating).png" alt="Communicating illustration" class="responsive-img margin-top" />
      {{else}}
      {{#compare request.params.slug "===" "handling-info"}}
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/WEB-Skill-Up-(Managing-Info).png" alt="Handling information and content illustration" class="responsive-img margin-top" />
      {{else}}
      {{#compare request.params.slug "===" "transacting"}}
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/WEB-Skill-Up-(Transacting).png" alt="Transacting illustration" class="responsive-img margin-top" />
      {{else}}
      {{#compare request.params.slug "===" "problem-solving"}}
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/WEB-Skill-Up-(Problem-Solving).png" alt="Problem Solving illustration" class="responsive-img margin-top" />
      {{else}}
      {{#compare request.params.slug "===" "safety"}}
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/WEB-Skill-Up-(Creating).png" alt="Creating illustration" class="responsive-img margin-top" />
      {{else}}
      {{/compare}}
      {{/compare}}
      {{/compare}}
      {{/compare}}
      {{/compare}}
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1">
      &nbsp;
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7 mdc-layout-grid__cell--span-4-phone">
      <div class="pull-right expand">
        <h3>
          <a href="/skill-up">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
          </a>
        </h3>
      </div>
      {{#compare request.params.slug "===" "communicating"}}
      <h3><span class="number">1</span> Communicating</h3>
      <ul class="mdc-layout-grid__cell collapsible">
        <li>
          <div class="mdc-layout-grid__cell collapsible-header">
            <h4>&mdash; Individuals</h4>
          </div>
          <div class="mdc-layout-grid__cell collapsible-body">
            <ul>
              <li>Keep in touch using email, instant messaging, video calls and social media</li>
              <li>Post on forums to connect with communities</li>
              <li>Communicate with organisations about their products and services</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="mdc-layout-grid__cell collapsible-header">
            <h4>&mdash; Organisations</h4>
          </div>
          <div class="mdc-layout-grid__cell collapsible-body">
            <ul>
              <li>Maintain customer and client relationships</li>
              <li>Use social media to promote your organisation and connect with new customers and service users</li>
              <li>Improve your customer service by providing accessible information and answers to frequently asked questions</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="mdc-layout-grid__cell collapsible-header">
            <h4>&mdash; Safety &amp; Security</h4>
          </div>
          <div class="mdc-layout-grid__cell collapsible-body">
            <ul>
              <li>Understand how to protect your identities</li>
              <li>Protect yourself from scams</li>
              <li>Use the right security settings (including parental controls)</li>
              <li>Protect your customer data</li>
            </ul>
          </div>
        </li>
      </ul>
      {{else}}
      {{#compare request.params.slug "===" "handling-info"}}
      <h3><span class="number">2</span> Handling information and content</h3>
      <ul class="mdc-layout-grid__cell collapsible">
        <li>
          <div class="mdc-layout-grid__cell collapsible-header">
            <h4>&mdash; Individuals</h4>
          </div>
          <div class="mdc-layout-grid__cell collapsible-body">
            <ul>
              <li>Use a search engine to find the information you need</li>
              <li>Search for deals on comparison websites</li>
              <li>Bookmark useful websites and services</li>
              <li>Store data on a device or in the cloud</li>
            </ul>
          </div>
        </li>

        <li>
          <div class="mdc-layout-grid__cell collapsible-header">
            <h4>&mdash; Organisations</h4>
          </div>
          <div class="mdc-layout-grid__cell collapsible-body">
            <ul>
              <li>Store digital information on suppliers and customers</li>
              <li>Search for new suppliers to find the best deals</li>
              <li>Understand who uses your website</li>
              <li>Discover potential growth opportunities for your organisation</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="mdc-layout-grid__cell collapsible-header">
            <h4>&mdash; Safety &amp; Security</h4>
          </div>
          <div class="mdc-layout-grid__cell collapsible-body">
            <ul>
              <li>Assess the accuracy of sources of information</li>
              <li>Use security tools when browsing</li>
              <li>Regularly update and run virus-checking software</li>
              <li>Manage parental controls</li>
            </ul>
          </div>
        </li>
      </ul>
      {{else}}
      {{#compare request.params.slug "===" "transacting"}}
      <h3><span class="number">3</span> Transacting</h3>
      <ul class="mdc-layout-grid__cell collapsible">
        <li>
          <div class="mdc-layout-grid__cell collapsible-header">
            <h4>&mdash; Individuals</h4>
          </div>
          <div class="mdc-layout-grid__cell collapsible-body">
            <ul>
              <li>Understand and use marketplaces to buy and sell</li>
              <li>Order your shopping</li>
              <li>Book your travel</li>
              <li>Manage your bank account</li>
              <li>Set up and manage a Universal Credit account</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="mdc-layout-grid__cell collapsible-header">
            <h4>&mdash; Organisations</h4>
          </div>
          <div class="mdc-layout-grid__cell collapsible-body">
            <ul>
              <li>Maximise your potential through a website</li>
              <li>Save time by applying for government business permits and licenses</li>
              <li>Manage invoices and accounts</li>
              <li>Receive payments or donations</li>
              <li>Protect yourself from fraud or scams</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="mdc-layout-grid__cell collapsible-header">
            <h4>&mdash; Safety &amp; Security</h4>
          </div>
          <div class="mdc-layout-grid__cell collapsible-body">
            <ul>
              <li>Use secure websites for financial transactions</li>
              <li>Protect your personal data</li>
              <li>Respect the privacy of others</li>
            </ul>
          </div>
        </li>
      </ul>
      {{else}}
      {{#compare request.params.slug "===" "problem-solving"}}
      <h3><span class="number">4</span> Problem Solving</h3>
      <ul class="mdc-layout-grid__cell collapsible">
        <li>
          <div class="mdc-layout-grid__cell collapsible-header">
            <h4>&mdash; Individuals</h4>
          </div>
          <div class="mdc-layout-grid__cell collapsible-body">
            <ul>
              <li>Teach yourself simple tasks using tutorials</li>
              <li>Use feedback from other internet users to solve common problems</li>
              <li>Access support services</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="mdc-layout-grid__cell collapsible-header">
            <h4>&mdash; Organisations</h4>
          </div>
          <div class="mdc-layout-grid__cell collapsible-body">
            <ul>
              <li>Save on business travel and be more efficient by using video conferencing</li>
              <li>Quickly understand which products and services work based on online feedback</li>
              <li>Interpret simple analytics to improve website performance</li>
              <li>Get solutions to problems from safe, accurate sources</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="mdc-layout-grid__cell collapsible-header">
            <h4>&mdash; Safety &amp; Security</h4>
          </div>
          <div class="mdc-layout-grid__cell collapsible-body">
            <ul>
              <li>Use accurate sources of support</li>
              <li>Avoid malicious websites, scams and pop-up windows</li>
            </ul>
          </div>
        </li>
      </ul>
      {{else}}
      {{#compare request.params.slug "===" "safety"}}
      <h3><span class="number">5</span> Being safe and legal online</h3>
      <ul class="mdc-layout-grid__cell collapsible">
        <li>
          <div class="mdc-layout-grid__cell collapsible-header">
            <h4>&mdash; Individuals</h4>
          </div>
          <div class="mdc-layout-grid__cell collapsible-body">
            <ul>
              <li>Create a social media post</li>
              <li>Create a text document such as a CV</li>
              <li>Create and share a photo album</li>
              <li>Create and share feedback about products and services</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="mdc-layout-grid__cell collapsible-header">
            <h4>&mdash; Organisations</h4>
          </div>
          <div class="mdc-layout-grid__cell collapsible-body">
            <ul>
              <li>Create an infomercial or e-commerce website</li>
              <li>Create content (pictures, logos, text) to promote your organisation and reach customers and service users</li>
              <li>Use social media and create communities to engage with customers and service users</li>
              <li>Create resources to improve employee skill levels</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="mdc-layout-grid__cell collapsible-header">
            <h4>&mdash; Safety &amp; Security</h4>
          </div>
          <div class="mdc-layout-grid__cell collapsible-body">
            <ul>
              <li>Be aware of copyright law</li>
              <li>Protect your personal data</li>
              <li>Respect the privacy of others</li>
            </ul>
          </div>
        </li>
      </ul>
      {{else}}
      <h3>Error 404: Page not found</h3>
      {{/compare}}
      {{/compare}}
      {{/compare}}
      {{/compare}}
      {{/compare}}
    </div>
  </div>
  <div class="mdc-layout-grid__inner expand paging hide-on-small-only">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h3 class="margin-top">
        <a href="/skill-up/communicating"{{#compare request.params.slug "===" "communicating"}} class="active"{{/compare}}>
          <span class="number">1</span>
        </a>
        <a href="/skill-up/handling-info"{{#compare request.params.slug "===" "handling-info"}} class="active"{{/compare}}>
          <span class="number">2</span>
        </a>
        <a href="/skill-up/transacting"{{#compare request.params.slug "===" "transacting"}} class="active"{{/compare}}>
          <span class="number">3</span>
        </a>
        <a href="/skill-up/problem-solving"{{#compare request.params.slug "===" "problem-solving"}} class="active"{{/compare}}>
          <span class="number">4</span>
        </a>
        <a href="/skill-up/safety"{{#compare request.params.slug "===" "safety"}} class="active"{{/compare}}>
          <span class="number">5</span>
        </a>
      </h3>
    </div>
  </div>
</div>
