<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="https://storage.cloud.google.com/digitalparticipation/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://storage.cloud.google.com/digitalparticipation/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://storage.cloud.google.com/digitalparticipation/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://storage.cloud.google.com/digitalparticipation/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://storage.cloud.google.com/digitalparticipation/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://storage.cloud.google.com/digitalparticipation/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://storage.cloud.google.com/digitalparticipation/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://storage.cloud.google.com/digitalparticipation/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://storage.cloud.google.com/digitalparticipation/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="https://storage.cloud.google.com/digitalparticipation/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://storage.cloud.google.com/digitalparticipation/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://storage.cloud.google.com/digitalparticipation/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://storage.cloud.google.com/digitalparticipation/images/icons/favicon-16x16.png">
    <link rel="manifest" href="https://storage.cloud.google.com/digitalparticipation/images/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#00838f">
    <meta name="msapplication-TileImage" content="https://storage.cloud.google.com/digitalparticipation/images/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#00838f">
    <link type="text/css" rel="stylesheet" href="/assets/css/material-components-web.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <style type="text/css">
    {{{this.css}}}
    </style>
</head>
<body class="{{replace route.params.path '_' ' '}}">
    <scvo-site>
        <div class="mdc-typography">
            <main>
                <header class="mdc-toolbar">
                    <div class="mdc-toolbar__row">
                        <div class="container-fluid">
                            <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                                <span class="mdc-toolbar__title catalog-title">
                                    <a href="/" class="brand-logo">
                                        <span class="digital">Digital</span>
                                        <span class="participation">Participation</span>
                                        <span class="charter">Charter</span>
                                    </a>
                                </span>
                            </section>
                            <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
                                <nav id="main-tab-bar" class="mdc-tab-bar" [menu]="'main'" [menulinkselector]="''" [menulabelselector]="'span.mdc-tab--label'" [menuactiveclass]="'active'">
                                    {{#each menus.main}}
                                    <a class="mdc-tab{{#if match}} mdc-tab--active{{/if}}" href="{{path}}"><span class="mdc-tab--label">{{{label}}}</span></a>
                                    {{/each}}
                                </nav>
                                <button id="menu_button" class="menu mdc-toolbar__icon mdc-toolbar__icon--menu" onclick="window.drawer.open = true">
                                    <span class="far fa-2x fa-bars" aria-hidden="true"></span>
                                </button>
                            </section>
                        </div>
                    </div>
                </header>

                <aside class="mdc-temporary-drawer" id="menu_draw" dir="rtl">
                    <nav class="mdc-temporary-drawer__drawer">
                        <header class="mdc-temporary-drawer__header">
                            <div class="mdc-temporary-drawer__header-content mdc-theme--text-primary-on-primary">

                            </div>
                        </header>
                        <nav class="mdc-temporary-drawer__content mdc-list-group">
                            <div id="icon-with-text-demo" class="mdc-list" [menu]="'main'" [menulinkselector]="''" [menulabelselector]="'span.menu-label'" [menuactiveclass]="'active'">
                                {{#each menus.main}}
                                <a class="mdc-list-item{{#if match}} mdc-tab--active{{/if}}" href="{{path}}"
                                    data-mdc-tabindex-handled="true" tabindex="-" onclick="window.drawer.open = false">
                                    <span class="menu-label">{{{label}}}</span>
                                </a>
                                {{/each}}
                            </div>
                        </nav>
                    </nav>
                </aside>

                <div class="container-fluid">
                    <router-outlet>{{{route.rendered}}}</router-outlet>
                </div>
            </main>

            <footer>
                <div class="footer">
                    <div class="container-fluid">
                        <div class="footer-main mdc-layout-grid">
                            <div class="mdc-layout-grid__inner">
                                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 description">
                                    <p>
                                        Scotland's Digital Participation Charter is built and managed by the <a href="http://scvo.org">Scottish Council for Voluntary Organisations</a> with support from the <a href="http://gov.scot">Scottish Government</a>.
                                    </p>
                                    <p>
                                        <a href="/contact-us">Contact us</a> |
                                        <a href="/accessibility">Accessibility</a> |
                                        <a href="/privacy-and-cookies">Privacy &amp; cookies policy</a> |
                                        <a href="/terms-and-conditions">Terms &amp; conditions</a>
                                    </p>
                                </div>
                                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9 mdc-layout-grid__cell mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone">
                                    <p class="white-text copyright">
                                        &copy; {{momentFormat (moment) "YYYY"}}. The Scottish Council for Voluntary Organisations (SCVO) is a Scottish Charitable Incorporated Organisation.<br />Charity registered in Scotland <a href="https://www.oscr.org.uk/about-charities/search-the-register/charity-details?number=SC003558">SC003558</a>. Registered office Mansfield Traquair Centre, 15 Mansfield Place, Edinburgh EH3 6BB.
                                    </p>
                                </div>
                                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone">
                                    <a href="http://gov.scot/Topics/Economy/digital">
                                        <img src="https://storage.cloud.google.com/digitalparticipation/images/logos/digital-scotland.png" alt="Digital Scotland" class="logo digital-scotland" />
                                    </a>
                                    <a href="http://scvo.org">
                                        <img src="https://storage.cloud.google.com/digitalparticipation/images/logos/scvo.png" alt="Scottish Council for Voluntary Organisations" class="logo scvo" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </scvo-site>
    <script type="text/javascript" src="/assets/js/material-components-web.js"></script>
    <script type="text/javascript">
    // Material Design Components
    mdc.autoInit();

    // Browser Update
    var $buoop = {notify:{i:-4,f:-4,o:-4,s:-2,c:-4},unsecure:true,api:5};
    function $buo_f(){
     var e = document.createElement("script");
     e.src = "//browser-update.org/update.min.js";
     document.body.appendChild(e);
    };
    try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
    catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <script type="text/javascript" src="inline.bundle.js"></script>
    <script type="text/javascript" src="polyfills.bundle.js"></script>
    <script type="text/javascript" src="styles.bundle.js"></script>
    <script type="text/javascript" src="vendor.bundle.js"></script>
    <script type="text/javascript" src="main.bundle.js"></script>
</body>
</html>
