<div class="post-author">
  <div class="splash-image splash-image-{{@root.data.supplimentaryResponses.author_profile.hits.hits.[0]._type}}" style="{{> header_splash_image}}">
    <div class="splash-overlay{{#if @root.data.supplimentaryResponses.author_profile.hits.hits.[0]._source.hide_overlay}} splash-overlay-hidden{{/if}}">
      <div class="container-fluid">
        <div class="mdc-layout-grid">
          <h1 class="header-text">
            <span class="header-text-banner">
              {{#if @root.data.supplimentaryResponses.staff_profile.hits.hits.[0] ~}}
              {{{@root.data.supplimentaryResponses.staff_profile.hits.hits.[0]._source.rendered.scvo_header}}}
              {{else}}
              {{{@root.data.supplimentaryResponses.author_profile.hits.hits.[0]._source.rendered.scvo_header}}}
              {{/if ~}}
            </span>
          </h1>
        </div>
        {{> header_caption}}
      </div>
    </div>
  </div>
  <div class="container-fluid">
    {{> breadcrumbs_posts}}
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone content post-content">
          {{#compare @root.data.primaryResponse.hits.total ">" 0 ~}}
          {{#compare @root.data.primaryResponse.hits.total ">" 10 ~}}
          {{> search_info paging=@root.data.primaryResponse.pagination}}
          {{/compare ~}}
          <ul class="supplimentary-list">
            {{#each @root.data.primaryResponse.hits.hits ~}}
            {{{_source.rendered.scvo_list}}}
            {{/each ~}}
          </ul>
          {{> pagination paging=@root.data.primaryResponse.pagination}}
          {{else}}
          <p>
            No posts by this author could be loaded.
          </p>
          {{/compare ~}}
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone sidebar post-sidebar">
          <div class="author-about static-sidebar">
            {{#if @root.data.supplimentaryResponses.staff_profile.hits.hits.[0]}}
            {{{@root.data.supplimentaryResponses.staff_profile.hits.hits.[0]._source.rendered.scvo_profile}}}
            {{else}}
            {{{@root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_profile}}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
