<div class="post">
  {{> header_splash}}
  <div class="container-fluid">
    {{> breadcrumbs_posts}}
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone content post-content">
          {{{@root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full}}}
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone sidebar post-sidebar">
          {{> wee_search title="Search posts" searchPath="/search" searchRoute="main_search" extraParams='{ "type": "scvo-cms-post" }'}}
          {{#if @root.data.primaryResponse.hits.hits.[0]._source.is_press_release ~}}
          <ul class="supplimentary-list">
            {{#compare (wordCount @root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full) ">" 50 ~}}
            {{{@root.data.supplimentaryResponses.category_posts.hits.hits.[0]._source.rendered.scvo_sidebar}}}
            {{/compare ~}}
            {{#compare (wordCount @root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full) ">" 170 ~}}
            {{{@root.data.supplimentaryResponses.category_posts.hits.hits.[1]._source.rendered.scvo_sidebar}}}
            {{/compare ~}}
            {{#compare (wordCount @root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full) ">" 300 ~}}
            {{{@root.data.supplimentaryResponses.category_posts.hits.hits.[2]._source.rendered.scvo_sidebar}}}
            {{/compare ~}}
            {{#compare (wordCount @root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full) ">" 430 ~}}
            {{{@root.data.supplimentaryResponses.category_posts.hits.hits.[3]._source.rendered.scvo_sidebar}}}
            {{/compare ~}}
            {{#compare (wordCount @root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full) ">" 600 ~}}
            {{{@root.data.supplimentaryResponses.category_posts.hits.hits.[4]._source.rendered.scvo_sidebar}}}
            {{/compare ~}}
          </ul>
          {{else}}
          {{#if @root.data.primaryResponse.hits.hits.[0]._source.categories ~}}
          {{#compare @root.data.supplimentaryResponses.authors_posts.hits.total ">" 0 ~}}
          {{#compare @root.data.supplimentaryResponses.staff_profile.hits.total ">" 0 ~}}
          <h3 class="author static-sidebar">
            More posts by <a href="/post/author/{{@root.data.primaryResponse.hits.hits.[0]._source.author_slug}}">{{@root.data.primaryResponse.hits.hits.[0]._source.author_name_full}}</a>
          </h3>
          {{/compare ~}}
          <ul class="supplimentary-list">
            {{#compare (wordCount @root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full) ">" 50 ~}}
            {{{@root.data.supplimentaryResponses.authors_posts.hits.hits.[0]._source.rendered.scvo_sidebar}}}
            {{/compare ~}}
            {{#compare (wordCount @root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full) ">" 170 ~}}
            {{{@root.data.supplimentaryResponses.authors_posts.hits.hits.[1]._source.rendered.scvo_sidebar}}}
            {{/compare ~}}
            {{#compare (wordCount @root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full) ">" 300 ~}}
            {{{@root.data.supplimentaryResponses.authors_posts.hits.hits.[2]._source.rendered.scvo_sidebar}}}
            {{/compare ~}}
            {{#compare (wordCount @root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full) ">" 430 ~}}
            {{{@root.data.supplimentaryResponses.authors_posts.hits.hits.[3]._source.rendered.scvo_sidebar}}}
            {{/compare ~}}
            {{#compare (wordCount @root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full) ">" 600 ~}}
            {{{@root.data.supplimentaryResponses.authors_posts.hits.hits.[4]._source.rendered.scvo_sidebar}}}
            {{/compare ~}}
          </ul>
          {{else}}
          <ul class="supplimentary-list">
            {{#compare (wordCount @root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full) ">" 50 ~}}
            {{{@root.data.supplimentaryResponses.category_posts.hits.hits.[0]._source.rendered.scvo_sidebar}}}
            {{/compare ~}}
            {{#compare (wordCount @root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full) ">" 170 ~}}
            {{{@root.data.supplimentaryResponses.category_posts.hits.hits.[1]._source.rendered.scvo_sidebar}}}
            {{/compare ~}}
            {{#compare (wordCount @root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full) ">" 300 ~}}
            {{{@root.data.supplimentaryResponses.category_posts.hits.hits.[2]._source.rendered.scvo_sidebar}}}
            {{/compare ~}}
            {{#compare (wordCount @root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full) ">" 430 ~}}
            {{{@root.data.supplimentaryResponses.category_posts.hits.hits.[3]._source.rendered.scvo_sidebar}}}
            {{/compare ~}}
            {{#compare (wordCount @root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full) ">" 600 ~}}
            {{{@root.data.supplimentaryResponses.category_posts.hits.hits.[4]._source.rendered.scvo_sidebar}}}
            {{/compare ~}}
          </ul>
          {{/compare ~}}
          {{/if ~}}
          {{/if ~}}
        </div>
      </div>
      {{#compare @root.data.supplimentaryResponses.tfn_related_posts.hits.total ">" 0 ~}}
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 related post-related post-related-tfn">
          <h3>Related articles on <a href="http://thirdforcenews.org.uk">Third Force News</a></h3>
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              {{#each @root.data.supplimentaryResponses.tfn_related_posts.hits.hits ~}}
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                {{{_source.rendered.scvo_gist}}}
              </div>
              {{/each ~}}
            </div>
          </div>
        </div>
      </div>
      {{/compare ~}}
    </div>
  </div>
</div>
<script src="/assets/js/scvo/post.js"></script>
