<div class="post-category">
  <div class="splash-image splash-image-{{@root.data.primaryResponse.hits.hits.[0]._type}}-category" style="{{> header_splash_image}}">
    <div class="splash-overlay{{#if @root.data.primaryResponse.hits.hits.[0]._source.hide_overlay}} splash-overlay-hidden{{/if}}">
      <div class="container-fluid">
        <div class="mdc-layout-grid">
          {{#if @root.data.primaryResponse.hits.hits.[0]._source.header_text ~}}
          <img src="{{@root.data.primaryResponse.hits.hits.[0]._source.header_text}}" alt="{{@root.data.primaryResponse.hits.hits.[0]._source.title}}" class="header-text" />
          {{else}}
          <h1 class="header-text">
            <span class="header-text-banner">
              {{#each @root.data.primaryResponse.hits.hits.[0]._source.categories_slug ~}}
              {{#compare this "===" (lastItem (split ../request.params.path '_')) ~}}
              {{{lookup @root.data.primaryResponse.hits.hits.[0]._source.categories @index}}}
              {{/compare ~}}
              {{/each ~}}
            </span>
          </h1>
          {{/if ~}}
        </div>
        {{> header_caption}}
      </div>
    </div>
  </div>
  <div class="container-fluid">
    {{> breadcrumbs_posts}}
    <div class="mdc-layout-grid v-margin">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone content post-content">
          {{#compare @root.data.primaryResponse.hits.total ">" 0 ~}}
          {{> search_info paging=@root.data.primaryResponse.pagination}}
          <ul class="supplimentary-list">
            {{#each @root.data.primaryResponse.hits.hits ~}}
            {{{_source.rendered.scvo_list}}}
            {{/each ~}}
          </ul>
          {{> pagination paging=@root.data.primaryResponse.pagination}}
          {{else}}
          <p>
            No posts in this category could be loaded.
          </p>
          {{/compare ~}}
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone sidebar post-sidebar">
          <!-- TBC -->
        </div>
      </div>
    </div>
  </div>
</div>
