<div class="splash-image splash-image-{{default typeOverride @root.data.primaryResponse.hits.hits.[0]._type}}" style="{{> header_splash_image}}">
  <div class="splash-overlay{{#if @root.data.primaryResponse.hits.hits.[0]._source.hide_overlay}} splash-overlay-hidden{{/if}}">
    <div class="container-fluid">
      <div class="mdc-layout-grid">
        {{#if headerTextOverride ~}}
        <h1 class="header-text">
          <span class="header-text-banner">
            {{{headerTextOverride}}}
            {{#if headerTextCaptionOverride ~}}
            <span class="mdc-typography--caption">
              {{{headerTextCaptionOverride}}}
            </span>
            {{/if ~}}
          </span>
        </h1>
        {{else}}
        {{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
        {{#if header_text ~}}
        <img src="{{header_text}}" alt="{{title}}" class="header-text" />
        {{else}}
        <h1 class="header-text">
          <span class="header-text-banner">
            {{#if title ~}}
            {{#unless hide_overlay ~}}
            {{{title}}}
            {{#if sub_title ~}}
            <span class="mdc-typography--caption">
              {{{sub_title}}}
            </span>
            {{/if ~}}
            {{/unless ~}}
            {{else}}
            404: Not found
            {{/if ~}}
          </span>
        </h1>
        {{/if ~}}
        {{/with ~}}
        {{/if ~}}
      </div>
      {{> header_caption}}
    </div>
  </div>
</div>