{{#*inline "sector"}}
  {{#if key ~}}
    <option value="{{key}}"{{#compare @root.request.params.query.sector "===" key}} selected{{/compare}}>
      {{title.key}}
    </option>
  {{/if ~}}
{{/inline}}
{{#*inline "region"}}
  {{#if key ~}}
    <option value="{{key}}"{{#compare @root.request.params.query.region "===" key}} selected{{/compare}}>
      {{title.key}}
    </option>
  {{/if ~}}
{{/inline}}

<h2 class="mdc-card__title mdc-card__title--large">Search vacancies</h2>

<form action="/jobs/community-jobs-scotland/vacancies/{{@root.request.params.phase}}" method="GET" [searchroute]="'cjs_job_search'" data-auto-search="false">
  <input type="hidden" name="view" value="{{@root.request.params.query.view}}" />

  <div class="h-padding">
    {{#>components_tab_bar}}
      {{>components_tab url=(concat "/jobs/community-jobs-scotland/vacancies/" @root.request.params.phase "?" (querystringify @root.request.params.query view="list")) iconClasses="far fa-list fa-fw" label="List" active=(compare @root.request.params.query.view "===" "list")}}
      {{>components_tab url=(concat "/jobs/community-jobs-scotland/vacancies/" @root.request.params.phase "?" (querystringify @root.request.params.query view="map")) iconClasses="far fa-map-marker-alt fa-fw" label="Map" active=(compare @root.request.params.query.view "===" "map")}}
    {{/components_tab_bar}}
  </div>

  <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
    <span class="far fa-search mdc-text-field__icon" tabindex="0" role="button"></span>
    <input type="text" class="mdc-text-field__input mdc-text-field--fullwidth" name="q" id="keywords" data-lpignore="true" placeholder="" value="{{@root.request.params.query.q}}">
    <label class="mdc-floating-label" for="q">Keywords</label>
    <div class="mdc-line-ripple"></div>
  </div>

  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField" style="    margin-top: 16px;">
          <span class="far fa-map-marker-alt mdc-text-field__icon" tabindex="0" role="button"></span>
          <input type="text" id="location" name="location" class="mdc-text-field__input mdc-text-field--fullwidth search-location" value="{{#ifAll @root.request.params.query.lat @root.request.params.query.lng}}{{@root.request.params.query.location}}{{/ifAll}}" placeholder="" data-lpignore="true" data-location-search='{
                  "googleMapsOptions": {
                    "type": ["(regions)"],
                    "componentRestrictions": {
                      "country": "gb"
                    }
                  },
                  "latSelector": "[name=\"lat\"]",
                  "lngSelector": "[name=\"lng\"]",
                  "locationServicesSelector": ".geo-lookup"
                }'>
          <label class="mdc-floating-label" for="location">
            Location
          </label>
          <div class="mdc-line-ripple"></div>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="mdc-select mdc-select--box" data-mdc-auto-init="MDCSelect">
          <select data-location="location" class="mdc-select__native-control search-distance" id="distance" name="distance">
            <option value="8.04672"{{#compare @root.request.params.query.distance "8.04672"}} selected{{/compare}}>5 miles</option>
            <option value="16.09344"{{#compare @root.request.params.query.distance "16.09344"}} selected{{/compare}}>10 miles</option>
            <option value="40.2336"{{#compare @root.request.params.query.distance "40.2336"}} selected{{/compare}}>25 miles</option>
            <option value="80.4672"{{#compare @root.request.params.query.distance "80.4672"}} selected{{/compare}}>50 miles</option>
            <option value="1609.34"{{#compare @root.request.params.query.distance ""}} selected{{/compare}}>no limit</option>
          </select>
          <label class="mdc-floating-label mdc-floating-label--float-above" for="distance">
            Within
          </label>
          <div class="mdc-line-ripple"></div>
        </div>
      </div>
    </div>
  </div>

  <input type="hidden" name="lat" value="{{@root.request.params.query.lat}}" id="lat">
  <input type="hidden" name="lng" value="{{@root.request.params.query.lng}}" id="lng">

  <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
    <span class="far fa-hashtag mdc-text-field__icon" tabindex="0" role="button"></span>
    <input type="text" class="mdc-text-field__input mdc-text-field--fullwidth" name="job_number" id="job_number" data-lpignore="true" value="{{@root.request.params.query.job_number}}">
    <label class="mdc-floating-label" for="job_number">Job number</label>
    <div class="mdc-line-ripple"></div>
  </div>

  <div class="mdc-form-field mdc-select mdc-select--box" data-mdc-auto-init="MDCSelect">
    <select class="mdc-select__native-control" role="listbox" id="sector" name="sector">
      <option value=""{{#if @root.request.params.query.sector}}{{else}} selected{{/if}}></option>
      {{#each @root.data.supplimentaryResponses.types.aggregations.sectors_slugs.buckets ~}}
        {{> sector title=(lookup @root.data.supplimentaryResponses.types.aggregations.sectors.buckets @index) slug=key}}
      {{/each ~}}
      <!-- <option value="administration-reception"{{#compare @root.request.params.query.sector "===" "administration-reception"}} selected{{/compare}}>Administration/Reception</option>
      <option value="advocacy-advice"{{#compare @root.request.params.query.sector "===" "advocacy-advice"}} selected{{/compare}}>Advocacy/Advice</option>
      <option value="animal-care"{{#compare @root.request.params.query.sector "===" "animal-care"}} selected{{/compare}}>Animal Care</option>
      <option value="business-development"{{#compare @root.request.params.query.sector "===" "business-development"}} selected{{/compare}}>Business Development</option>
      <option value="campaigning-fundraising"{{#compare @root.request.params.query.sector "===" "campaigning-fundraising"}} selected{{/compare}}>Campaigning/Fundraising</option>
      <option value="childcare"{{#compare @root.request.params.query.sector "===" "childcare"}} selected{{/compare}}>Childcare</option>
      <option value="communications"{{#compare @root.request.params.query.sector "===" "communications"}} selected{{/compare}}>Communications</option>
      <option value="community-arts"{{#compare @root.request.params.query.sector "===" "community-arts"}} selected{{/compare}}>Community Arts</option>
      <option value="community-arts-development"{{#compare @root.request.params.query.sector "===" "community-arts-development"}} selected{{/compare}}>Community Arts Development</option>
      <option value="community-third-sector-development"{{#compare @root.request.params.query.sector "===" "community-third-sector-development"}} selected{{/compare}}>Community third sector Development</option>
      <option value="conservation"{{#compare @root.request.params.query.sector "===" "conservation"}} selected{{/compare}}>Conservation</option>
      <option value="creative-industries"{{#compare @root.request.params.query.sector "===" "creative-industries"}} selected{{/compare}}>Creative Industries</option>
      <option value="data-analysis"{{#compare @root.request.params.query.sector "===" "data-analysis"}} selected{{/compare}}>Data Analysis</option>
      <option value="database-design-development"{{#compare @root.request.params.query.sector "===" "database-design-development"}} selected{{/compare}}>Database Design/Development</option>
      <option value="driving-transport"{{#compare @root.request.params.query.sector "===" "driving-transport"}} selected{{/compare}}>Driving/Transport</option>
      <option value="education-training-employability-support"{{#compare @root.request.params.query.sector "===" "education-training-employability-support"}} selected{{/compare}}>Education/Training/Employability Support</option>
      <option value="environmental-green-industries"{{#compare @root.request.params.query.sector "===" "environmental-green-industries"}} selected{{/compare}}>Environmental/Green Industries</option>
      <option value="event-festival-planning"{{#compare @root.request.params.query.sector "===" "event-festival-planning"}} selected{{/compare}}>Event/Festival Planning</option>
      <option value="film-video-production"{{#compare @root.request.params.query.sector "===" "film-video-production"}} selected{{/compare}}>Film/Video Production</option>
      <option value="finance"{{#compare @root.request.params.query.sector "===" "finance"}} selected{{/compare}}>Finance</option>
      <option value="graphic-design"{{#compare @root.request.params.query.sector "===" "graphic-design"}} selected{{/compare}}>Graphic Design</option>
      <option value="health-social-care"{{#compare @root.request.params.query.sector "===" "health-social-care"}} selected{{/compare}}>Health and Social Care</option>
      <option value="hospitality-catering"{{#compare @root.request.params.query.sector "===" "hospitality-catering"}} selected{{/compare}}>Hospitality and Catering</option>
      <option value="housing"{{#compare @root.request.params.query.sector "===" "housing"}} selected{{/compare}}>Housing</option>
      <option value="it"{{#compare @root.request.params.query.sector "===" "it"}} selected{{/compare}}>IT</option>
      <option value="leisure-tourism"{{#compare @root.request.params.query.sector "===" "leisure-tourism"}} selected{{/compare}}>Leisure/Tourism</option>
      <option value="manual-work-skilled-trades"{{#compare @root.request.params.query.sector "===" "manual-work-skilled-trades"}} selected{{/compare}}>Manual Work/Skilled Trades</option>
      <option value="marketing-pr-promotions"{{#compare @root.request.params.query.sector "===" "marketing-pr-promotions"}} selected{{/compare}}>Marketing/PR/Promotions</option>
      <option value="monitoring-evaluation"{{#compare @root.request.params.query.sector "===" "monitoring-evaluation"}} selected{{/compare}}>Monitoring/Evaluation</option>
      <option value="peer-support"{{#compare @root.request.params.query.sector "===" "peer-support"}} selected{{/compare}}>Peer Support</option>
      <option value="policy-development"{{#compare @root.request.params.query.sector "===" "policy-development"}} selected{{/compare}}>Policy Development</option>
      <option value="research"{{#compare @root.request.params.query.sector "===" "research"}} selected{{/compare}}>Research</option>
      <option value="resource-development"{{#compare @root.request.params.query.sector "===" "resource-development"}} selected{{/compare}}>Resource Development</option>
      <option value="retail"{{#compare @root.request.params.query.sector "===" "retail"}} selected{{/compare}}>Retail</option>
      <option value="sports"{{#compare @root.request.params.query.sector "===" "sports"}} selected{{/compare}}>Sports</option>
      <option value="warehousing"{{#compare @root.request.params.query.sector "===" "warehousing"}} selected{{/compare}}>Warehousing</option>
      <option value="youth-work"{{#compare @root.request.params.query.sector "===" "youth-work"}} selected{{/compare}}>Youth Work</option> -->
    </select>
    <label class="mdc-floating-label mdc-floating-label--float-above" for="sector">Sector</label>
    <div class="mdc-line-ripple"></div>
  </div>

  <!-- <div class="mdc-textfield mdc-textfield--upgraded">
    <label class="mdc-textfield__label" for="location">Location</label>
    <input type="text" class="mdc-textfield__input" name="location" id="location" placeholder="" value="{{@root.request.params.query.location}}">
  </div> -->

  <div class="mdc-form-field mdc-select mdc-select--box" data-mdc-auto-init="MDCSelect">
    <select class="mdc-select__native-control" role="listbox" id="region" name="region">
      <option value="" {{#if @root.request.params.query.region}}{{else}} selected{{/if}}></option>
      {{#each @root.data.supplimentaryResponses.types.aggregations.regions_slugs.buckets ~}}
        {{> region title=(lookup @root.data.supplimentaryResponses.types.aggregations.regions.buckets @index) slug=key}}
      {{/each ~}}
      <!-- <option value="aberdeen-city"{{#compare @root.request.params.query.region "===" "aberdeen-city"}} selected{{/compare}}>Aberdeen</option>
      <option value="aberdeenshire"{{#compare @root.request.params.query.region "===" "aberdeenshire"}} selected{{/compare}}>Aberdeenshire</option>
      <option value="angus"{{#compare @root.request.params.query.region "===" "angus"}} selected{{/compare}}>Angus</option>
      <option value="argyll-bute"{{#compare @root.request.params.query.region "===" "argyll-bute"}} selected{{/compare}}>Argyll &amp; Bute</option>
      <option value="clackmannanshire"{{#compare @root.request.params.query.region "===" "clackmannanshire"}} selected{{/compare}}>Clackmannanshire</option>
      <option value="dumfries-galloway"{{#compare @root.request.params.query.region "===" "dumfries-galloway"}} selected{{/compare}}>Dumfries &amp; Galloway</option>
      <option value="dundee-city"{{#compare @root.request.params.query.region "===" "dundee-city"}} selected{{/compare}}>Dundee</option>
      <option value="east-ayrshire"{{#compare @root.request.params.query.region "===" "east-ayrshire"}} selected{{/compare}}>East Ayrshire</option>
      <option value="east-dunbartonshire"{{#compare @root.request.params.query.region "===" "east-dunbartonshire"}} selected{{/compare}}>East Dunbartonshire</option>
      <option value="east-lothian"{{#compare @root.request.params.query.region "===" "east-lothian"}} selected{{/compare}}>East Lothian</option>
      <option value="east-renfrewshire"{{#compare @root.request.params.query.region "===" "east-renfrewshire"}} selected{{/compare}}>East Renfrewshire</option>
      <option value="edinburgh-city"{{#compare @root.request.params.query.region "===" "edinburgh-city"}} selected{{/compare}}>Edinburgh</option>
      <option value="falkirk"{{#compare @root.request.params.query.region "===" "falkirk"}} selected{{/compare}}>Falkirk</option>
      <option value="fife"{{#compare @root.request.params.query.region "===" "fife"}} selected{{/compare}}>Fife</option>
      <option value="glasgow-city"{{#compare @root.request.params.query.region "===" "glasgow-city"}} selected{{/compare}}>Glasgow</option>
      <option value="highland"{{#compare @root.request.params.query.region "===" "highland"}} selected{{/compare}}>Highland</option>
      <option value="inverclyde"{{#compare @root.request.params.query.region "===" "inverclyde"}} selected{{/compare}}>Inverclyde</option>
      <option value="midlothian"{{#compare @root.request.params.query.region "===" "midlothian"}} selected{{/compare}}>Midlothian</option>
      <option value="moray"{{#compare @root.request.params.query.region "===" "moray"}} selected{{/compare}}>Moray</option>
      <option value="western-isles"{{#compare @root.request.params.query.region "===" "western-isles"}} selected{{/compare}}>Na h-Eileanan Siar</option>
      <option value="north-ayrshire"{{#compare @root.request.params.query.region "===" "north-ayrshire"}} selected{{/compare}}>North Ayrshire</option>
      <option value="north-lanarkshire"{{#compare @root.request.params.query.region "===" "north-lanarkshire"}} selected{{/compare}}>North Lanarkshire</option>
      <option value="orkney-islands"{{#compare @root.request.params.query.region "===" "orkney-islands"}} selected{{/compare}}>Orkney Islands</option>
      <option value="perth-kinross"{{#compare @root.request.params.query.region "===" "perth-kinross"}} selected{{/compare}}>Perth &amp; Kinross</option>
      <option value="renfrewshire"{{#compare @root.request.params.query.region "===" "renfrewshire"}} selected{{/compare}}>Renfrewshire</option>
      <option value="scottish-borders"{{#compare @root.request.params.query.region "===" "scottish-borders"}} selected{{/compare}}>Scottish Borders</option>
      <option value="shetland"{{#compare @root.request.params.query.region "===" "shetland"}} selected{{/compare}}>Shetland</option>
      <option value="south-ayrshire"{{#compare @root.request.params.query.region "===" "south-ayrshire"}} selected{{/compare}}>South Ayrshire</option>
      <option value="south-lanarkshire"{{#compare @root.request.params.query.region "===" "south-lanarkshire"}} selected{{/compare}}>South Lanarkshire</option>
      <option value="stirling"{{#compare @root.request.params.query.region "===" "stirling"}} selected{{/compare}}>Stirling</option>
      <option value="west-dunbartonshire"{{#compare @root.request.params.query.region "===" "west-dunbartonshire"}} selected{{/compare}}>West Dunbartonshire</option>
      <option value="west-lothian"{{#compare @root.request.params.query.region "===" "west-lothian"}} selected{{/compare}}>West Lothian</option> -->
    </select>
    <label class="mdc-floating-label mdc-floating-label--float-above" for="region">Region</label>
    <div class="mdc-line-ripple"></div>
  </div>
  <button class="mdc-button mdc-button--raised v-margin" type="submit">
    Search jobs
  </button>
</form>
