<form action="/policy-research/evidence-library" method="GET" [searchroute]="'evidence_library_document_search'" data-auto-search="true" autocomplete="off">
  <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
    <span class="far fa-search mdc-text-field__icon" tabindex="0" role="button"></span>
    <input type="text" class="mdc-text-field__input mdc-text-field--fullwidth" name="q" id="evidence-library-keywords" value="{{@root.request.params.query.q}}" placeholder="">
    <label class="mdc-floating-label mdc-floating-label--float-above" for="q">Keywords</label>
  </div>
  <div class="mdc-form-field mdc-select mdc-select--box" data-mdc-auto-init="MDCSelect">
    <select class="mdc-select__native-control" id="evidence-library-classification" name="classification">
      <option value="" {{#if @root.request.params.query.classification}}{{else}}selected{{/if}}>All categories</option>
      {{#each @root.data.supplimentaryResponses.types.aggregations.types.buckets ~}}
      <option value="{{slugify key}}" {{#compare @root.request.params.query.classification "===" (slugify key)}}selected{{/compare}}>{{key}} ({{doc_count}})</option>
      {{/each ~}}
    </select>
    <label class="mdc-floating-label mdc-floating-label--float-above" for="evidence-library-classification">
      Category
    </label>
  </div>
  <button class="mdc-button mdc-button--raised" type="submit">
    Search
  </button>
</form>

<hr />

<p>
  The Evidence Library is a resource for anyone interested in learning about the third sector in Scotland. The database is regularly being added to and visitors are encouraged to submit their research for possible inclusion on the site. For further information, please email: <a href="mailto:research@scvo.org.uk">research@scvo.org.uk</a>
</p>