<div class="page digital">
  {{> header_splash}}
  <div class="container-fluid heading">
    {{> breadcrumbs}}
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone content page-content">
          <h1 class="mdc-card__title mdc-card__title--large v-margin">
            We're helping people and organisations in Scotland develop their digital potential
          </h1>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone cta page-cta">
          <a href="/digital/about" class="mdc-button mdc-button--raised pull-right">Sign up for our e:bulletin</a>
          <a href="https://twitter.com/digiscot" class="mdc-button mdc-button--raised pull-right" target="_blank">Follow us on Twitter&ensp;<i class="fab fa-twitter" aria-hidden="true"></i></a>
          <a href="mailto:digital@scvo.org.uk" class="mdc-button mdc-button--raised pull-right" target="_blank">Email us&ensp;<i class="fas fa-envelope" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="basic-digital-skills cta-content callout">
    <div class="container-fluid">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <h2>Basic Digital Skills Framework Consultation</h2>
            <p class="text-left">
              The Tech Partnership is consulting on the Basic Digital Skills
              Framework.  Get involved with shaping the SCVO response
            </p>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
            <h3>
              <a href="/digital/participation/basic-digital-skills-framework-consultation-draft-scvo-response">
                <span class="fal fa-book fa-fw fa-3x" aria-hidden="true"></span>
                <span class="underline">Read our response</span>
              </a>
            </h3>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
            <h3>
              <a href="mailto:digital@scvo.org.uk">
                <span class="fal fa-envelope fa-fw fa-3x" aria-hidden="true"></span>
                <span class="underline">Contact us</span>
              </a>
            </h3>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
            <h3>
              <a href="https://www.thetechpartnership.com/basic-digital-skills/basic-digital-skills-framework/">
                <span class="fal fa-paper-plane fa-fw fa-3x" aria-hidden="true"></span>
                <span class="underline">Submit your response</span>
              </a>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="digital-participation callout">
    <div class="container-fluid">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone">
            <h2>
              Tackling digital exclusion in Scotland
            </h2>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone">
            <a href="https://digitalparticipation.scot">
              <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/digital/charter-logo.png" class="pull-right v-margin" />
            </a>
          </div>
        </div>
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
            <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/digital/Main-Hero-RGB-04-wee.png" />
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
            <div class="mdc-card">
              <section class="mdc-card__primary">
                <h3>What's the issue?</h3>
              </section>
              <section class="mdc-card__supporting-text">
                <p>
                  One in five people lack essential digital skills.
                  Confidence, access and affordability can also prevent people benefiting from being online.
                </p>
              </section>
              <section class="mdc-card__actions">
                <ul>
                  <li><a class="mdc-card__action mdc-button mdc-button--raised" href="https://scvo.org.uk/digital/participation/">Why digital matters</a></li>
                  <li><a class="mdc-card__action mdc-button mdc-button--raised" href="https://digitalparticipation.scot/skill-up">Understand the skills</a></li>
                  <li><a class="mdc-card__action mdc-button mdc-button--raised" href="https://digitalparticipation.scot/resources/reports">Read the research</a></li>
                </ul>
              </section>
            </div>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
            <div class="mdc-card">
              <section class="mdc-card__primary">
                <h3>Get support</h3>
              </section>
              <section class="mdc-card__supporting-text">
                <p>
                  Find out more about the support we can offer to help build the skills and
                  confidence of your workforce and people you work with.
                </p>
              </section>
              <section class="mdc-card__actions">
                <ul>
                  <li><a class="mdc-card__action mdc-button mdc-button--raised" href="/digital/participation/champions">Digital Champion Training</a></li>
                  <li><a class="mdc-card__action mdc-button mdc-button--raised" href="/digital/participation/skills/scotlands-essential-digital-skills-toolkit">Digital Skills Toolkit</a></li>
                  <li><a class="mdc-card__action mdc-button mdc-button--raised" href="/digital/participation/charter-fund/projects">View projects</a></li>
                </ul>
              </section>
            </div>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
            <div class="mdc-card">
              <section class="mdc-card__primary">
                <h3>Get involved</h3>
              </section>
              <section class="mdc-card__supporting-text">
                <p>
                  Can you play a role in building people's confidence and essential digital skills?
                  Can you help tackle the issues of accessibility or affordability?
                </p>
              </section>
              <section class="mdc-card__actions">
                <ul>
                  <li><a class="mdc-card__action mdc-button mdc-button--raised" href="https://digitalparticipation.scot/sign-up">Sign the Charter</a></li>
                  <li><a class="mdc-card__action mdc-button mdc-button--raised" href="https://digitalparticipation.scot/signatories">View signatories</a></li>
                  <li><a class="mdc-card__action mdc-button mdc-button--raised" href="https://digitalparticipation.scot/resources">Find resources</a></li>
                </ul>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="digital-evolution callout">
    <div class="container-fluid">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <h2>
              Building a digitally confident third sector
            </h2>
          </div>
        </div>
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
            <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/digital/evolution-icon.png" />
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
            <div class="mdc-card">
              <section class="mdc-card__primary">
                <h3>What's the issue?</h3>
              </section>
              <section class="mdc-card__supporting-text">
                <p>
                  New technology and the internet has changed the way we live our lives.
                  Has the third sector responded to this change?
                </p>
              </section>
              <section class="mdc-card__actions">
                <ul>
                  <li><a class="mdc-card__action mdc-button mdc-button--raised" href="/digital/evolution/creating-a-digitally-confident-third-sector-in-scotland-what-next">Read the Call to Action</a></li>
                  <li><a class="mdc-card__action mdc-button mdc-button--raised" href="/digital/evolution">Get involved</a></li>
                </ul>
              </section>
            </div>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
            <div class="mdc-card">
              <section class="mdc-card__primary">
                <h3>Adapt and evolve</h3>
              </section>
              <section class="mdc-card__supporting-text">
                <p>
                  Wherever you are in your digital journey, we're aiming to provide support to
                  help you maximise the benefits and minimise the risks.
                </p>
              </section>
              <section class="mdc-card__actions">
                <ul>
                  <li><a class="mdc-card__action mdc-button mdc-button--raised" href="/digital/evolution/check-up">Digital Check-up</a></li>
                  <li><a class="mdc-card__action mdc-button mdc-button--raised" href="/digital/evolution/cyber-resilience">Cyber Resilience</a></li>
                  <li><a class="mdc-card__action mdc-button mdc-button--raised" href="/digital/evolution/senior-leaders">Leaders Programme</a></li>
                  <li><a class="mdc-card__action mdc-button mdc-button--raised" href="https://charitycatalogue.com">Find digital tools</a></li>
                </ul>
              </section>
            </div>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
            <div class="mdc-card">
              <section class="mdc-card__primary">
                <h3>Digital Pioneer Case Studies</h3>
              </section>
              <section class="mdc-card__supporting-text">
                <p>
                  Read practical examples of how organisations are adapting and evolving in our digital world.
                </p>
              </section>
              <section class="mdc-card__actions">
                <ul>
                  <li><a class="mdc-card__action mdc-button mdc-button--raised" href="/digital/evolution/digital-pioneers">Read case studies</a></li>
                </ul>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid latest_content">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="digital-blogs mdc-layout-grid__cell mdc-layout-grid__cell--span-{{#compare @root.data.supplimentaryResponses.related_events.hits.total ">" 0}}6{{else}}12{{/compare}}-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <h2>Latest digital blogs</h2>
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              {{#each @root.data.supplimentaryResponses.related_posts.hits.hits ~}}
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-{{#compare @root.data.supplimentaryResponses.related_events.hits.total ">" 0}}6{{else}}3{{/compare}}-desktop mdc-layout-grid__cell--span-{{#compare @root.data.supplimentaryResponses.related_events.hits.total ">" 0}}8{{else}}4{{/compare}}-tablet mdc-layout-grid__cell--span-4-phone">
                {{{_source.rendered.scvo_gist}}}
              </div>
              {{/each ~}}
            </div>
          </div>
          <p>
            <a class="mdc-button mdc-button--raised v-margin" href="/digital/blogs">Read more</a>
          </p>
        </div>
        {{#compare @root.data.supplimentaryResponses.related_events.hits.total ">" 0 ~}}
        <div class="digital-events mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <h2>Upcoming digital events</h2>
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              {{#each @root.data.supplimentaryResponses.related_events.hits.hits ~}}
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                {{{_source.rendered.scvo_gist}}}
              </div>
              {{/each ~}}
            </div>
          </div>
          <p>
            <a class="mdc-button mdc-button--raised v-margin" href="/digital/events">See all</a>
          </p>
        </div>
        {{/compare ~}}
      </div>
    </div>
  </div>
  <div class="container-fluid logos">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h3>Our digital work delivered in partnership with</h3>
        </div>
      </div>
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <a href="http://gov.scot">
            <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/logos/scotgov.png" alt="The Scottish Government" />
          </a>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <a href="https://beta.gov.scot/policies/digital/">
            <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/logos/digiscot.png" alt="Digital Scotland" />
          </a>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <a href="https://biglotteryfund.org.uk">
            <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/logos/biglottery.png" alt="Big Lottery Fund" />
          </a>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <a href="http://onedigitaluk.com">
            <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/logos/onedigital.png" alt="OneDigital" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>