<div class="splash-image hello" style="{{> header_splash_image}}">
  <div class="splash-overlay">
    <div class="container-fluid">
      <div class="mdc-layout-grid">
        <h1 class="header-text">
          <span class="header-text-banner">
            <span class="normal">Hello,<br />
            we're </span>SCVO
          </span>
        </h1>
        <p class="header-extra">
          Championing Scotland's vibrant charities,<br />
          voluntary organisations &amp; social enterprises
        </p>
        <p>
          <a href="/about" class="mdc-button">Find out more</a>
        </p>
      </div>
      <!-- {{> header_caption}} -->
    </div>
  </div>
</div>

<section class="search">
  <div class="container-fluid">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <h3>What can we help you with?</h3>
          <div class="main_search">
            <form action="/search" method="GET" [searchroute]="'main_search'" class="search_form" autocomplete="off">
              <input type="text" class="mdc-textfield__input white-text mdc-text-field searchRoute" placeholder="Search SCVO, Goodmoves, TFN, and more" id="q" name="q">
              <button type="submit" class="mdc-toolbar__icon mdc-toolbar__search search-button-large" aria-label="Search" alt="Search">
                <span class="far fa-2x fa-search" aria-hidden="true"></span>
              </button>
            </form>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <h3>Trending topics</h3>
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                <a href="/projects-campaigns/datawareness">GDPR</a>
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                <a href="/digital">Digital</a>
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                <a href="/running-your-organisation/business-planning/writing-business-plan">Writing a business plan</a>
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                <a href="/jobs/community-jobs-scotland/information-for-employers/become-an-employer">Become a CJS employer</a>
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                <a href="/funding">Funding</a>
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                <a href="/running-your-organisation/governance/roles-responsibilities">Governance roles & responsibilites</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="featured-content">

  <!-- <div class="featured-background-image charity-awards" style="background-image: url('https://storage.googleapis.com/scvo-cms/wp-content/uploads/2018/01/SCA-2018-SCVOWEB-MAIN-1400x400.jpg');">
    <div class="container-fluid">
      <div class="featured scvo-cms scvo-cms-page scvo-cms-page-20536 mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <a href="/scottish-charity-awards">
              <img alt="Scottish Charity Awards" class="header-text" src="https://storage.googleapis.com/scvo-cms/wp-content/uploads/2018/01/SCA_2018_LOGO_MAIN.png">
            </a>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone c-align">
            <div class="mdc-card">
              <div class="mdc-card-inner">
                <h3>
                  Congratulations to our Scottish Charity Awards 2018 winners!
                </h3>
                <p>
                  Charities and individuals from across Scotland have been recognised for the life-changing difference they make at the 2018 Scottish Charity Awards, which took place at the Edinburgh International Conference Centre on Thursday 14 June.
                  <a href="/scottish-charity-awards">Read more</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="featured-background-image i-love-charity" style="margin-bottom:1rem;">
    <div class="container-fluid">
      <div class="featured scvo-cms scvo-cms-page scvo-cms-page-20536 mdc-layout-grid">
        <div class="mdc-layout-grid__inner" style="position: relative;">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <div class="mdc-card">
              <section class="mdc-card__media h-padding-full">
                <a href="/projects-campaigns/i-love-charity">
                  <img class="header-image" src="https://storage.googleapis.com/scvo-cms/wp-content/uploads/2018/02/i-love-charity-lp-banner.png" style="max-width: 100%; height: auto;">
                </a>
              </section>
              <section class="mdc-card__supporting-text" style="color: black !important;">
                As part of our <strong>I Love Charity</strong> campaign we want to raise awareness and access to resources about what the modern charity sector does.
              </section>
              <section class="mdc-card__actions">
                <ul>
                  <li><a class="mdc-card__action mdc-button" href="/projects-campaigns/i-love-charity">Find out more</a></li>
                </ul>
              </section>
            </div>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <iframe width="100%" height="307" src="https://www.youtube-nocookie.com/embed/IK0wVIwfejM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="mdc-elevation--z3"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="featured-background-image" style="padding: 1rem 0; background-image: url('https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/headers/gathering-2019-header.jpg');">
    <div class="container-fluid">
      <div class="featured scvo-cms scvo-cms-page scvo-cms-page-20536 mdc-layout-grid">
        <div class="mdc-layout-grid__inner" style="position:relative;">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" style="text-align:center;">
            <a href="/the-gathering-2019">
              <img class="header-image" src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/headers/gathering-2019-logo.png" style="max-width:100%;height:auto;margin:-2rem 0;">
            </a>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <div class="mdc-card" style="background-color: rgba(0,0,0,0.5);">
              <section class="mdc-card__supporting-text">
                The Gathering is the largest free third sector event in the UK, a place for all the amazing people working in the third sector to network, showcase what they do and learn from each other.
              </section>
              <section class="mdc-card__actions">
                <div class="mdc-layout-grid" style="width:100%;">
                  <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                      <a class="mdc-card__action mdc-button" href="/the-gathering-2019" style="width:100%;text-align:center;background-color:#4527A0;">Find out more</a>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                      <a class="mdc-card__action mdc-button" href="/the-gathering-2019/book-a-stand" style="width:100%;text-align:center;background-color:#4527A0;">Book a stand</a>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                      <a class="mdc-card__action mdc-button" href="/the-gathering-2019/host-an-event" style="width:100%;text-align:center;background-color:#4527A0;">Host an event</a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <h2>
      Latest blog post
      <a href="/blogs" class="mdc-typography--caption">See all</a>
    </h2>
  </div>
  {{#with @root.data.supplimentaryResponses.blogs_latest.hits.hits.[0] ~}}
  <!-- <div {{#if _source.header_background}}class="featured-background-image" style="background-image: url('{{_source.header_background}}');"{{else}}class="featured-text"{{/if}}> -->
  <div class="featured-text">
    <div class="container-fluid">
      {{{_source.rendered.scvo_featured}}}
    </div>
  </div>
  {{/with ~}}

  <div class="featured-background-image eu-are-valued" style="background-image: url('https://storage.googleapis.com/scvo-cms/wp-content/uploads/2017/10/eu-are-valued-bg-1400x400.jpg');">
    <div class="container-fluid">
      <div class="featured scvo-cms scvo-cms-page scvo-cms-page-20536 mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone">
            <a href="/projects-campaigns/europe-and-the-third-sector/eu-are-valued">
              <img alt="#EUareValued" class="header-text" src="https://storage.googleapis.com/scvo-cms/wp-content/uploads/2017/10/eu-are-valued-text.png">
            </a>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone c-align">
            <p>
              Here at SCVO, we love charities. We believe every person who works to make a difference to Scottish communities should be valued, and that includes our colleagues who have come from other EU countries to live and work here. Scotland’s third sector is strengthened thanks to their contribution&hellip;
              <a href="/projects-campaigns/europe-and-the-third-sector/eu-are-valued">Read more</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <h2>
      Latest press release
      <a href="/press-media" class="mdc-typography--caption">See all</a>
    </h2>
  </div>
  {{#with @root.data.supplimentaryResponses.press_latest.hits.hits.[0] ~}}
  <!-- <div {{#if _source.header_background}}class="featured-background-image" style="background-image: url('{{_source.header_background}}');"{{else}}class="featured-text"{{/if}}> -->
  <div class="featured-text">
    <div class="container-fluid">
      {{{_source.rendered.scvo_featured}}}
    </div>
  </div>
  {{/with ~}}

  <!-- {{#each supplimentaryResponses.featured.hits.hits}}
  <div {{#if _source.header_background}}class="featured-background-image" style="background-image: url('{{_source.header_background}}');"{{else}}class="featured-text"{{/if}}>
  <div class="container-fluid">
  {{{_source.rendered.featured}}}
  </div>
  </div>
  {{/each}} -->
</section>

<section class="callout-image cta-content">
  <div class="container-fluid">
    <div class="cta-grid mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h2>
            Find information on&hellip;
          </h2>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <h3>
            <a href="/setting-up-a-charity">
              <span class="fal fa-book fa-fw fa-3x" aria-hidden="true"></span>
              <span class="underline">Setting up an organisation</span>
            </a>
          </h3>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <h3>
            <a href="/funding">
              <span class="fal fa-chart-bar fa-fw fa-3x" aria-hidden="true"></span>
              <span class="underline">Funding for my project</span>
            </a>
          </h3>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <h3>
            <a href="/events">
              <span class="fal fa-graduation-cap fa-fw fa-3x" aria-hidden="true"></span>
              <span class="underline">Training courses &amp; events</span>
            </a>
          </h3>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <h3>
            <a href="/jobs">
              <span class="fal fa-handshake fa-fw fa-3x" aria-hidden="true"></span>
              <span class="underline">Jobs in the sector</span>
            </a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="latest-content">
  <div class="container-fluid">
    <div class="latest-grid mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <h2>
            Recent SCVO blog posts
          </h2>
          {{{@root.data.supplimentaryResponses.blogs_latest.hits.hits.[1]._source.rendered.scvo_gist}}}
          {{{@root.data.supplimentaryResponses.blogs_latest.hits.hits.[2]._source.rendered.scvo_gist}}}
          {{{@root.data.supplimentaryResponses.blogs_latest.hits.hits.[3]._source.rendered.scvo_gist}}}
          <h2>
            <a href="/blogs">Read more SCVO blogs</a>
          </h2>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <h2>
            Latest TFN news
          </h2>
          {{#each @root.data.supplimentaryResponses.tfn_latest.hits.hits ~}}
          {{{_source.rendered.scvo_gist}}}
          {{/each ~}}
          <h2>
            <a href="http://thirdforcenews.org.uk/?utm_source=Widget&utm_medium=Widget&utm_campaign=Widget-Traffic">Read more on TFN</a>
          </h2>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone no-border">
          <h2>
            Top third sector jobs
          </h2>
          {{#each @root.data.supplimentaryResponses.goodmoves_latest.hits.hits ~}}
          {{{_source.rendered.scvo_gist}}}
          {{/each ~}}
          <h2>
            <a href="https://goodmoves.com">See more on <strong>good</strong>moves</a>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

{{> footer_services}}
