<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner expand paging hide-on-med-and-up">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h3 class="nomargin">
        <a href="/skill-up/foundations"{{#compare request.params.slug "===" "foundations"}} class="active"{{/compare}}>
          <span class="number">1</span>
        </a>
        <a href="/skill-up/communicating"{{#compare request.params.slug "===" "communicating"}} class="active"{{/compare}}>
          <span class="number">2</span>
        </a>
        <a href="/skill-up/handling-info"{{#compare request.params.slug "===" "handling-info"}} class="active"{{/compare}}>
          <span class="number">3</span>
        </a>
        <a href="/skill-up/transacting"{{#compare request.params.slug "===" "transacting"}} class="active"{{/compare}}>
          <span class="number">4</span>
        </a>
        <a href="/skill-up/problem-solving"{{#compare request.params.slug "===" "problem-solving"}} class="active"{{/compare}}>
          <span class="number">5</span>
        </a>
        <a href="/skill-up/safety"{{#compare request.params.slug "===" "safety"}} class="active"{{/compare}}>
          <span class="number">6</span>
        </a>
      </h3>
    </div>
  </div>
  <div class="mdc-layout-grid__inner expand detail">
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-4">
      {{#compare request.params.slug "===" "foundations"}}
      <img src="https://storage.googleapis.com/digital-participation-charter/Foundation.png" alt="Foundations illustration" class="responsive-img margin-top" />
      {{else}}
      {{#compare request.params.slug "===" "communicating"}}
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/WEB-Skill-Up-(Communicating).png" alt="Communicating illustration" class="responsive-img margin-top" />
      {{else}}
      {{#compare request.params.slug "===" "handling-info"}}
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/WEB-Skill-Up-(Managing-Info).png" alt="Handling information and content illustration" class="responsive-img margin-top" />
      {{else}}
      {{#compare request.params.slug "===" "transacting"}}
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/WEB-Skill-Up-(Transacting).png" alt="Transacting illustration" class="responsive-img margin-top" />
      {{else}}
      {{#compare request.params.slug "===" "problem-solving"}}
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/WEB-Skill-Up-(Problem-Solving).png" alt="Problem Solving illustration" class="responsive-img margin-top" />
      {{else}}
      {{#compare request.params.slug "===" "safety"}}
      <img src="https://storage.googleapis.com/digital-participation-charter/Safety.png" alt="Safety illustration" class="responsive-img margin-top" />
      {{else}}
      {{/compare}}
      {{/compare}}
      {{/compare}}
      {{/compare}}
      {{/compare}}
      {{/compare}}
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1">
      &nbsp;
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7 mdc-layout-grid__cell--span-4-phone">
      <div class="pull-right expand">
        <h3>
          <a href="/skill-up">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
          </a>
        </h3>
      </div>
      {{#compare request.params.slug "===" "foundations"}}
      <h3><span class="number">1</span> Digital Foundation Skills</h3>
      <p>
        The framework includes a section on 'foundation' skills, which are typically required by those not currently using digital technology or using it in limited ways. These foundation skills are needed in all circumstances before moving on to develop skills for life and skills for work.
      </p>
      <ul class="mdc-layout-grid__cell collapsible">
        <li>
          <div class="mdc-layout-grid__cell collapsible-body">
            <ul>
              <li>I can turn on a device</li>
              <li>I can use the available controls on my device</li>
              <li>I can make use of accessibility tools on my device to make it easier to use</li>
              <li>I can interact with the home screen on my device</li>
              <li>I understand that the internet allows me to access information and content and that I can connect to it through Wi-Fi</li>
              <li>I can connect my device to a safe and secure Wi-Fi network</li>
              <li>I know that my passwords and personal information need to be kept safely as they have a value to others</li>
              <li>I can update and change my password when prompted to do so.</li>
            </ul>
          </div>
        </li>
      </ul>
      {{else}}
      {{#compare request.params.slug "===" "communicating"}}
      <h3><span class="number">2</span> Communicating</h3>
      <p>
        Communicate, collaborate and share
      </p>
      <ul class="mdc-layout-grid__cell collapsible">
        <li>
          <div class="mdc-layout-grid__cell collapsible-header">
            <h4>Skills for life</h4>
          </div>
          <div class="mdc-layout-grid__cell collapsible-body">
            <ul>
              <li>I understand the importance of communicating securely</li>
              <li>I can set up an email account</li>
              <li>I can communicate with others digitally using email and other messaging Apps</li>
              <li>I can use word processing applications to create documents</li>
              <li>I can share documents with others by attaching them to an email</li>
              <li>I can communicate with friends and family using video tools</li>
              <li>I can post messages, photographs, videos or blogs on social media platforms</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="mdc-layout-grid__cell collapsible-header">
            <h4>Additional skills for work</h4>
          </div>
          <div class="mdc-layout-grid__cell collapsible-body">
            <ul>
              <li>I understand and conform to my organisation’s IT and social media policies</li>
              <li>I can comply with my organisation’s security protocols when accessing my email or working remotely</li>
              <li>I can communicate in an appropriate way for my organisation by using email, online and collaborative digital tools.</li>
              <li>I can use digital collaboration tools to meet with, share and collaborate with colleagues</li>
              <li>I can use professional online networks and communities</li>
            </ul>
          </div>
        </li>
      </ul>
      {{else}}
      {{#compare request.params.slug "===" "handling-info"}}
      <h3><span class="number">3</span> Handling information and content</h3>
      <p>
        Find, manage and store digital information and content securely
      </p>
      <ul class="mdc-layout-grid__cell collapsible">
        <li>
          <div class="mdc-layout-grid__cell collapsible-header">
            <h4>Skills for life</h4>
          </div>
          <div class="mdc-layout-grid__cell collapsible-body">
            <ul>
              <li>I understand that not all online information and content that I see is reliable</li>
              <li>I can evaluate what information or content may, or may not, be reliable</li>
              <li>I can use search engines to find information and make general use of search terms to generate better results</li>
              <li>I can use bookmarks to save and retrieve information on my web browser</li>
              <li>I can access information and content from different devices</li>
              <li>I understand that the cloud is a way that I can store information and content in a remote location</li>
              <li>I can organise my information and content using files and folders on my device or on the cloud</li>
              <li>I can use the internet to legally access content for entertainment including films, music, games and books</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="mdc-layout-grid__cell collapsible-header">
            <h4>Additional skills for work</h4>
          </div>
          <div class="mdc-layout-grid__cell collapsible-body">
            <ul>
              <li>I understand the conform with my organisation’s policy for IT use</li>
              <li>I can synchronise and share information across different devices including computers, tablets and mobile phones</li>
            </ul>
          </div>
        </li>
      </ul>
      {{else}}
      {{#compare request.params.slug "===" "transacting"}}
      <h3><span class="number">4</span> Transacting</h3>
      <p>
        Register and apply for services, but and sell goods and services and administer and manage transactions online
      </p>
      <ul class="mdc-layout-grid__cell collapsible">
        <li>
          <div class="mdc-layout-grid__cell collapsible-header">
            <h4>Skills for life</h4>
          </div>
          <div class="mdc-layout-grid__cell collapsible-body">
            <ul>
              <li>I can set up an account online using appropriate websites or apps that enable me to buy goods or services</li>
              <li>I can access and use public services online, including filling in forms</li>
              <li>I can use different payment systems, such as credit / debit card, direct bank transfer, and phone accounts, to make payments for goods or services online</li>
              <li>I can upload documents and photographs when this is required to complete an online transaction</li>
              <li>I can fill in online forms when required to complete an online transaction</li>
              <li>I can manage my money and transactions online and securely, such as my bank, through the use of websites or apps.</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="mdc-layout-grid__cell collapsible-header">
            <h4>Additional skills for work</h4>
          </div>
          <div class="mdc-layout-grid__cell collapsible-body">
            <ul>
              <li>I can complete digital records for absence, holidays or expenses online</li>
              <li>I can access salary and expenses information digitally including password protected payslips.</li>
            </ul>
          </div>
        </li>
      </ul>
      {{else}}
      {{#compare request.params.slug "===" "problem-solving"}}
      <h3><span class="number">5</span> Problem solving</h3>
      <p>
        Finding solutions to problems using digital tools and online services
      </p>
      <ul class="mdc-layout-grid__cell collapsible">
        <li>
          <div class="mdc-layout-grid__cell collapsible-header">
            <h4>Skills for life</h4>
          </div>
          <div class="mdc-layout-grid__cell collapsible-body">
            <ul>
              <li>I can use the internet to find information that helps me solve problems</li>
              <li>I can use the internet to find sources of help for a range of activities</li>
              <li>I can use chat facilities (where available) on websites to help me solve problems</li>
              <li>I can use online tutorials, FAQs and advice forums to solve problems and improve my skills in using devices, software and applications</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="mdc-layout-grid__cell collapsible-header">
            <h4>Additional skills for work</h4>
          </div>
          <div class="mdc-layout-grid__cell collapsible-body">
            <ul>
              <li>I can use the internet to find information that helps me solve problems at work</li>
              <li>I can use appropriate software to present information to others</li>
              <li>I can use appropriate software, including a spreadsheet, to manipulate and analyse data to help solve problems at work</li>
              <li>I understand that different digital tools can improve my own and the organisation’s productivity.</li>
            </ul>
          </div>
        </li>
      </ul>
      {{else}}
      {{#compare request.params.slug "===" "safety"}}
      <h3><span class="number">6</span> Being safe and legal online</h3>
      <ul class="mdc-layout-grid__cell collapsible">
        <li>
          <div class="mdc-layout-grid__cell collapsible-header">
            <h4>Skills for life and work</h4>
          </div>
          <div class="mdc-layout-grid__cell collapsible-body">
            <ul>
              <li>I understand the risks and threats involved in carrying out activities online and the importance of working securely</li>
              <li>I understand that viruses can damage my computer and that security software should be used to prevent this</li>
              <li>I understand that my online activity produces a permanent record which could be accessed by others and used both now and in the future</li>
              <li>I understand that others can capture and use my data and that I can protect and secure my personal data against such threats through privacy settings</li>
              <li>I understand that I must not share other people’s data online without their consent</li>
              <li>I can respond to requests for authentication for my online accounts and email</li>
              <li>I keep the information I use to access my online accounts secure, using different and secure passwords for websites and accounts</li>
              <li>I can set privacy settings on my social media and other accounts</li>
              <li>I can identify secure websites by looking for the padlock and https in the address bar</li>
              <li>I can recognise suspicious links in email, websites, social media messages and pop ups and know that clicking on these links or downloading unfamiliar attachments could put me and my computer at risk</li>
              <li>I understand why it is important to keep my computer systems and security software up to date and I allow them to be updated when prompted</li>
              <li>I understand why I cannot take and use content (images and documents from the web) that belongs to others without their permission because I know that online material is subject copyright and intellectual property legislation</li>
              <li>I make sure that any information or content is backed up frequently by making a copy and storing it separately either in the cloud or on an external storage device</li>
            </ul>
          </div>
        </li>
      </ul>
      {{else}}
      <h3>Error 404: Page not found</h3>
      {{/compare}}
      {{/compare}}
      {{/compare}}
      {{/compare}}
      {{/compare}}
      {{/compare}}
    </div>
  </div>
  <div class="mdc-layout-grid__inner expand paging hide-on-small-only">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h3 class="margin-top">
        <a href="/skill-up/foundations"{{#compare request.params.slug "===" "foundations"}} class="active"{{/compare}}>
          <span class="number">1</span>
        </a>
        <a href="/skill-up/communicating"{{#compare request.params.slug "===" "communicating"}} class="active"{{/compare}}>
          <span class="number">2</span>
        </a>
        <a href="/skill-up/handling-info"{{#compare request.params.slug "===" "handling-info"}} class="active"{{/compare}}>
          <span class="number">3</span>
        </a>
        <a href="/skill-up/transacting"{{#compare request.params.slug "===" "transacting"}} class="active"{{/compare}}>
          <span class="number">4</span>
        </a>
        <a href="/skill-up/problem-solving"{{#compare request.params.slug "===" "problem-solving"}} class="active"{{/compare}}>
          <span class="number">5</span>
        </a>
        <a href="/skill-up/safety"{{#compare request.params.slug "===" "safety"}} class="active"{{/compare}}>
          <span class="number">6</span>
        </a>
      </h3>
    </div>
  </div>
</div>
