{{#with primaryResponse.hits.hits.[0]._source}}
{{{rendered.ghq_profile_header}}}
{{/with}}

<div class="container-fluid">
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                    <a href="/{{primaryResponse.hits.hits.[0]._source.xid}}">About</a>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                    <a href="/{{primaryResponse.hits.hits.[0]._source.xid}}/volopps">Get involved</a>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                    <a href="/{{primaryResponse.hits.hits.[0]._source.xid}}/reviews">Reviews</a>
                </div>
            </div>
        </div>
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                    <a href="/{{primaryResponse.hits.hits.[0]._source.xid}}/volopps">Volunteer</a>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                    <a href="/{{primaryResponse.hits.hits.[0]._source.xid}}/jobs">Work</a>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 sidebar profile-sidebar">
                {{#with primaryResponse.hits.hits.[0]._source}}
                {{{rendered.ghq_profile_info}}}
                {{/with}}
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8 content profile-content">
                {{#each supplimentaryResponses.volopps.hits.hits}}
                {{{this._source.rendered.ghq_list}}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
