{{#with primaryResponse.hits.hits.[0]._source}}
{{{rendered.ghq_profile_header}}}
{{/with}}

<div class="container-fluid">
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 sidebar profile-sidebar">
                {{#with primaryResponse.hits.hits.[0]._source}}
                {{{rendered.ghq_profile_info}}}
                {{/with}}
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8 content profile-content">

                <h2>Reviews</h2>
                {{#each supplimentaryResponses.reviews.hits.hits}}
                {{{this._source.rendered.ghq_list}}}
                {{/each}}

                <h2>Posts</h2>
                {{#each supplimentaryResponses.posts.hits.hits}}
                {{{this._source.rendered.ghq_list}}}
                {{/each}}

                <h2>Volunteering opportunities</h2>
                {{#each supplimentaryResponses.volopps.hits.hits}}
                {{{this._source.rendered.ghq_list}}}
                {{/each}}

                <h2>Jobs</h2>
                {{#each supplimentaryResponses.jobs.hits.hits}}
                {{{this._source.rendered.ghq_list}}}
                {{/each}}

            </div>
        </div>
    </div>
</div>
