<div class="goodmoves-vacancy-search">
  {{> header_splash headerTextOverride="Job search" typeOverride="page"}}
  <div class="container-fluid page-content">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li><a href="/jobs">Jobs</a></li>
      <li>Search</li>
    </ul>

    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone sidebar page-sidebar">
          <h2 class="mdc-card__title mdc-card__title--large">Search jobs</h2>
          <form action="/jobs/search" method="GET" [searchroute]="'goodmoves_job_search'" data-auto-search="true">
            <div class="mdc-layout-grid">
              <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                  <div class="mdc-textfield mdc-textfield--upgraded">
                    <label class="mdc-textfield__label" for="q">Keywords</label>
                    <input type="text" class="mdc-textfield__input" name="q" id="jobs-keywords" placeholder="Keywords" value="{{request.params.query.q}}">
                  </div>
                  <div class="mdc-form-field">
                    <label class="mdc-textfield__label" for="role">Role</label>
                    <select class="mdc-select" role="listbox" id="jobs-role" name="role">
                      <option value="" {{#if @root.request.params.query.role}}{{else}}selected{{/if}}>Any role</option>
                      {{#each @root.data.supplimentaryResponses.types.aggregations.roles.buckets ~}}
                      <option value="{{key}}" {{#compare @root.request.params.query.role "===" key}}selected{{/compare}}>{{key}}</option>
                      {{/each ~}}
                    </select>
                  </div>
                  <div class="mdc-form-field">
                    <label class="mdc-textfield__label" for="sector">Sector</label>
                    <select class="mdc-select" role="listbox" id="jobs-sector" name="sector">
                      <option value="" {{#if @root.request.params.query.sector}}{{else}}selected{{/if}}>Any sector</option>
                      {{#each @root.data.supplimentaryResponses.types.aggregations.sectors.buckets ~}}
                      {{#if key ~}}
                      <option value="{{key}}" {{#compare @root.request.params.query.sector "===" key}}selected{{/compare}}>{{key}}</option>
                      {{/if ~}}
                      {{/each ~}}
                    </select>
                  </div>
                  <div class="mdc-form-field">
                    <label class="mdc-textfield__label" for="status">Status</label>
                    <select class="mdc-select" role="listbox" id="jobs-status" name="status">
                      <option value="" {{#if @root.request.params.query.status}}{{else}}selected{{/if}}>Any status</option>
                      {{#each @root.data.supplimentaryResponses.types.aggregations.statuses.buckets ~}}
                      {{#if key ~}}
                      <option value="{{key}}" {{#compare @root.request.params.query.status "===" key}}selected{{/compare}}>{{key}}</option>
                      {{/if ~}}
                      {{/each ~}}
                    </select>
                  </div>
                  <div class="mdc-textfield mdc-textfield--upgraded">
                    <label class="mdc-textfield__label" for="minimum_salary">Minimum salary</label>
                    <input type="text" class="mdc-textfield__input" name="minimum_salary" id="jobs-minimum_salary" placeholder="e.g. 32000" value="{{request.params.query.minimum_salary}}">
                  </div>
                </div>
              </div>
            </div>
            <button class="mdc-button mdc-button--raised" type="submit">
              Search jobs
            </button>
          </form>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone content page-content v-margin">
          {{> search_info paging=@root.data.primaryResponse.pagination}}

          {{#each @root.data.primaryResponse.hits.hits ~}}
          {{{_source.rendered.scvo_search_result}}}
          {{/each ~}}

          {{> pagination paging=@root.data.primaryResponse.pagination}}
        </div>
      </div>
    </div>
  </div>
</div>
