<{{#if url}}a href="{{{url}}}"{{else}}button{{/if}} class="mdc-tab {{linkClasses}} {{#if active}} mdc-tab--active{{/if}}"
    role="tab" {{#if active}}aria-selected="true"{{else}}aria-hidden="true"{{/if}} tabindex="0"
    {{#if tabName}}data-tab-name="{{tabName}}"{{/if}}>
  <span class="mdc-tab__content {{contentClasses}}">
    {{#if iconClasses}}<span class="mdc-tab__icon {{iconClasses}}"></span>{{/if}}
    <span class="mdc-tab__text-label {{labelClasses}}">{{label}}</span>
  </span>
  <span class="mdc-tab-indicator {{indicatorClasses}} {{#if active}}mdc-tab-indicator--active{{/if}}">
    <span class="mdc-tab-indicator__content {{indicatorContentClasses}} mdc-tab-indicator__content--underline"></span>
  </span>
  <span class="mdc-tab__ripple"></span>
</{{#if url}}a{{else}}button{{/if}}>
