<form action="/policy-research/evidence-library" method="GET" [searchroute]="'evidence_library_document_search'" data-auto-search="true" autocomplete="off">
    <div class="mdc-textfield mdc-textfield--upgraded">
        <input type="text" class="mdc-textfield__input" name="q" id="evidence-library-keywords" value="{{request.params.query.q}}" placeholder="Keywords">
        <div class="mdc-textfield__bottom-line"></div>
    </div>
    <div class="mdc-form-field">
        <select class="mdc-select" role="listbox" id="evidence-library-classification" name="classification">
            <option value="" {{#if request.params.query.classification}}{{else}}selected{{/if}}>All categories</option>
            {{#each data.supplimentaryResponses.types.aggregations.types.buckets ~}}
            <option value="{{slugify key}}" {{#compare ../request.params.query.classification "===" (slugify key)}}selected{{/compare}}>{{key}} ({{doc_count}})</option>
            {{/each ~}}
        </select>
    </div>
    <button class="mdc-button mdc-button--raised" type="submit">
        Search
    </button>
</form>

<hr />

<p>
    The Evidence Library is a resource for anyone interested in learning about the third sector in Scotland. The database is regularly being added to and visitors are encouraged to submit their research for possible inclusion on the site. For further information, please email: <a href="mailto:research@scvo.org.uk">research@scvo.org.uk</a>
</p>
