<div class="page search">
  <!-- {{> header_splash headerTextOverride="Search" typeOverride="page"}} -->
  <div class="container-fluid search-page">
    <form action="/search" method="GET" [searchroute]="'main_search'" data-auto-search="true" autocomplete="off">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone content page-content">
            <h2>Keywords</h2>
            <div style="main_search">
              <div class="search_form">
                <input type="text" class="mdc-textfield__input white-text mdc-text-field searchRoute" placeholder="Search SCVO, Goodmoves, TFN, and more" id="main-q" name="q" value="{{@root.request.params.query.q}}">
                <button type="submit" class="mdc-toolbar__icon mdc-toolbar__search search-button-large" aria-label="Search" alt="Search">
                  <span class="far fa-2x fa-search" aria-hidden="true"></span>
                </button>
              </div>
            </div>

            {{> search_info paging=@root.data.primaryResponse.pagination}}

            {{#each data.primaryResponse.hits.hits ~}}
            {{>highlight_result}}
            {{/each ~}}

            {{> pagination paging=@root.data.primaryResponse.pagination}}
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone sidebar">
            {{#*inline "filter_checkbox" ~}}
            <div class="mdc-form-field">
              <div class="mdc-checkbox">
                <input type="checkbox" name="type" id="type-{{value}}"
                value="{{value}}" class="mdc-checkbox__native-control"
                {{#if (contains @root.request.params.query.type value)}}checked{{/if}}>
                <div class="mdc-checkbox__background">
                  <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                    <path class="mdc-checkbox__checkmark__path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
                  </svg>
                  <div class="mdc-checkbox__mixedmark"></div>
                </div>
              </div>
              <label for="type-{{value}}">
                {{label}}
              </label>
            </div>
            {{/inline ~}}

            <h2>Filters</h2>
            <h3>SCVO</h3>
            {{>filter_checkbox label="Pages" value="scvo-cms-page"}}
            {{>filter_checkbox label="Posts" value="scvo-cms-post"}}
            {{>filter_checkbox label="Evidence Library documents" value="scvo-document-evidence"}}
            {{>filter_checkbox label="Member organisations" value="scvo-member"}}
            {{>filter_checkbox label="Staff" value="scvo-staff"}}
            {{>filter_checkbox label="Events & training" value="scvo-event"}}

            <h3>Digital programme</h3>
            {{>filter_checkbox label="Funded projects" value="scvo-grant-charter"}}
            {{>filter_checkbox label="Charter signatories" value="charter-signatory-digitalparticipation"}}

            <h3>Funding Scotland</h3>
            {{>filter_checkbox label="Funds" value="funding-scotland-fund"}}

            <h3>Good HQ</h3>
            {{>filter_checkbox label="Organisations" value="goodhq-organisation"}}
            {{>filter_checkbox label="Posts" value="goodhq-post"}}

            <h3>Jobs</h3>
            {{>filter_checkbox label="Goodmoves jobs" value="goodmoves-vacancy"}}
            {{>filter_checkbox label="CJS vacancies" value="cjs-vacancy"}}

            <h3>TFN</h3>
            {{>filter_checkbox label="Blog posts" value="tfn-blog-post"}}
            {{>filter_checkbox label="Events" value="tfn-event"}}
            {{>filter_checkbox label="Features" value="tfn-feature"}}
            {{>filter_checkbox label="Lists" value="tfn-list"}}
            {{>filter_checkbox label="News posts" value="tfn-news-post"}}
            {{>filter_checkbox label="Polls" value="tfn-poll"}}
          </div>
        </div>
      </div>
    </form>
  </div>
</div>