<div class="event event-search">
    <div class="splash-image splash-image-{{primaryResponse.hits.hits.[0]._type}}" style="{{> header_splash_image}}">
        <div class="splash-overlay{{#if primaryResponse.hits.hits.[0]._source.hide_overlay}} splash-overlay-hidden{{/if}}">
            <div class="container-fluid">
                <div class="mdc-layout-grid">
                    {{#if primaryResponse.hits.hits.[0]._source.header_text}}
                    <img src="{{primaryResponse.hits.hits.[0]._source.header_text}}" alt="{{primaryResponse.hits.hits.[0]._source.title}}" class="header-text" />
                    {{else}}
                    <h1 class="header-text">
                        <span class="header-text-banner">
                            Job search
                        </span>
                    </h1>
                    {{/if}}
                </div>
                {{> header_caption}}
            </div>
        </div>
    </div>
    <div class="container-fluid page-content">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><a href="/jobs">Jobs</a></li>
            <li>Search</li>
        </ul>

        <h2 class="mdc-card__title mdc-card__title--large">Find Jobs</h2>
        <form action="/jobs/search" method="GET" [searchroute]="'job_search'" data-auto-search="true">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell">
                        <div class="mdc-textfield mdc-textfield--upgraded">
                            <input type="text" class="mdc-textfield__input" name="q" id="events-keywords" placeholder="Keywords" value="{{params.query.q}}">
                            <!-- <label class="mdc-textfield__label" for="events-keywords">Keywords</label> -->
                            <!-- <div class="mdc-textfield__bottom-line"></div> -->
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell">
                        <div class="mdc-form-field">
                            <select class="mdc-select" role="listbox" id="events-role" name="role">
                                <option value="" {{#if params.query.role}}{{else}}selected{{/if}}>Any role</option>
                                {{#each supplimentaryResponses.types.aggregations.roles.buckets}}
                                <option value="{{key}}" {{#compare ../params.query.role "===" key}}selected{{/compare}}>{{key}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="mdc-layout-grid__cell">
                        <div class="mdc-form-field">
                            <select class="mdc-select" role="listbox" id="events-sector" name="sector">
                                <option value="" {{#if params.query.sector}}{{else}}selected{{/if}}>Any sector</option>
                                {{#each supplimentaryResponses.types.aggregations.sectors.buckets}}
                                {{#if key}}
                                <option value="{{key}}" {{#compare ../params.query.sector "===" key}}selected{{/compare}}>{{key}}</option>
                                {{/if}}
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="mdc-layout-grid__cell">
                        <div class="mdc-form-field">
                            <select class="mdc-select" role="listbox" id="events-status" name="status">
                                <option value="" {{#if params.query.status}}{{else}}selected{{/if}}>Any status</option>
                                {{#each supplimentaryResponses.types.aggregations.statuses.buckets}}
                                {{#if key}}
                                <option value="{{key}}" {{#compare ../params.query.status "===" key}}selected{{/compare}}>{{key}}</option>
                                {{/if}}
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <button class="mdc-button mdc-button--raised" type="submit">
                Search
            </button>
        </form>

        {{> search_info}}

        {{#each primaryResponse.hits.hits}}
        {{{_source.rendered.scvo_search_result}}}
        {{/each}}

        {{> pagination}}
    </div>
</div>
