<div class="splash-image splash-image-page" style="background-image: linear-gradient(to bottom left,var(--mdc-theme-primary-fade),var(--mdc-theme-primary-dark)),url('{{#if primaryResponse.hits.hits.[0]._source.featured_image}}{{featured_image.sizes.full.source_url}}{{else}}{{#if supplimentaryResponse.splash.hits.hits.[0]._source.original_image}}{{supplimentaryResponse.splash.hits.hits.[0]._source.original_image}}{{/if}}{{/if}}');position: relative;">
    <div class="container-fluid">
        <div class="mdc-layout-grid">
            <h1 class="post-title">{{{primaryResponse.hits.hits.[0]._source.title}}}</h1>
        </div>
    </div>
</div>

{{#with primaryResponse.hits.hits.[0]._source}}
<div class="container-fluid">
    {{#if breadcrumb}}
    {{#compare breadcrumb.length '>=' 1}}
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        {{#each breadcrumb}}
        <li>
            <a href="{{url}}">{{{striptags title}}}</a>
        </li>
        {{/each}}
    </ul>
    {{/compare}}
    {{/if}}
    {{{rendered.full}}}
</div>
{{/with}}
