<div class="splash-image splash-image-page{{#if primaryResponse.hits.hits.[0]._source.featured_image}} splash-image-featured{{/if}}" style="background-image: {{#if primaryResponse.hits.hits.[0]._source.featured_image}}{{else}}linear-gradient(10deg, var(--mdc-theme-primary-dark) 0%, var(--mdc-theme-primary-fade) 50%, rgba(0,0,0,0.2) 100%),{{/if}}url('{{#if primaryResponse.hits.hits.[0]._source.featured_image}}{{primaryResponse.hits.hits.[0]._source.featured_image.sizes.full.source_url}}{{else}}{{#if supplimentaryResponse.splash.hits.hits.[0]._source.original_image}}{{supplimentaryResponse.splash.hits.hits.[0]._source.original_image}}{{/if}}{{/if}}');{{#if primaryResponse.hits.hits.[0]._source.featured_image}} max-height:{{primaryResponse.hits.hits.[0]._source.featured_image.sizes.full.height}}px;{{/if}}">
    <div class="container-fluid">
        <div class="mdc-layout-grid">
            <h1 class="page-title">{{{primaryResponse.hits.hits.[0]._source.title}}}</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    {{#with primaryResponse.hits.hits.[0]._source}}
    {{#if breadcrumb}}
    {{#compare breadcrumb.length '>=' 1}}
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        {{#each breadcrumb}}
        <li>
            <a href="{{replace url 'https://cms.scvo.net' ''}}">{{{striptags title}}}</a>
        </li>
        {{/each}}
        <li class="pull-right">
            <a href="https://cms.scvo.net/wp-admin/post.php?post={{wpid}}&action=edit"><i class="material-icons">border_color</i></a>
        </li>
    </ul>
    {{/compare}}
    {{/if}}
    {{/with}}
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8 content page-content">
                {{#with primaryResponse.hits.hits.[0]._source}}
                {{{rendered.full}}}
                {{/with}}
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 sidebar page-sidebar">
                <!-- TBC -->
            </div>
        </div>
    </div>
</div>
