<div class="splash-image {{> header_splash}}">
    <div class="container-fluid">
        <div class="mdc-layout-grid">
            {{#if primaryResponse.hits.hits.[0]._source.header_text}}
            <img src="{{primaryResponse.hits.hits.[0]._source.header_text}}" alt="{{primaryResponse.hits.hits.[0]._source.title}}" class="header-text" />
            {{else}}
            <h1 class="header-text">
                <span class="header-text-banner">
                    {{{primaryResponse.hits.hits.[0]._source.title}}}
                </span>
            </h1>
            {{/if}}
        </div>
    </div>
</div>
<div class="container-fluid">
    {{> breadcrumbs}}

    {{{primaryResponse.hits.hits.[0]._source.rendered.full}}}

    <h1>Programmes</h1>
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell">
                <div class="mdc-card">
                    <section class="mdc-card__primary">
                        <h1 class="mdc-card__title mdc-card__title--large">Senior Leaders</h1>
                    </section>
                    <section class="mdc-card__supporting-text">

                    </section>
                    <section class="mdc-card__actions">
                        <a href="/digital/senior-leaders" class="mdc-button mdc-button--compact mdc-card__action">Find out more</a>
                    </section>
                </div>
            </div>
            <div class="mdc-layout-grid__cell">
                <div class="mdc-card">
                    <section class="mdc-card__primary">
                        <h1 class="mdc-card__title mdc-card__title--large">Cyber Essentials</h1>
                    </section>
                    <section class="mdc-card__supporting-text">

                    </section>
                    <section class="mdc-card__actions">
                        <a href="/digital/cyber-essentials" class="mdc-button mdc-button--compact mdc-card__action">Find out more</a>
                    </section>
                </div>
            </div>
            <div class="mdc-layout-grid__cell">
                <div class="mdc-card">
                    <section class="mdc-card__primary">
                        <h1 class="mdc-card__title mdc-card__title--large">Charter fund</h1>
                    </section>
                    <section class="mdc-card__supporting-text">

                    </section>
                    <section class="mdc-card__actions">
                        <a href="/digital/charter-fund" class="mdc-button mdc-button--compact mdc-card__action">Find out more</a>
                    </section>
                </div>
            </div>
            <div class="mdc-layout-grid__cell">
                <div class="mdc-card">
                    <section class="mdc-card__primary">
                        <h1 class="mdc-card__title mdc-card__title--large">Digital Participation Charter</h1>
                    </section>
                    <section class="mdc-card__supporting-text">

                    </section>
                    <section class="mdc-card__actions">
                        <a href="/digital/charter" class="mdc-button mdc-button--compact mdc-card__action">Find out more</a>
                    </section>
                </div>
            </div>
            <div class="mdc-layout-grid__cell">
                <div class="mdc-card">
                    <section class="mdc-card__primary">
                        <h1 class="mdc-card__title mdc-card__title--large">Health</h1>
                    </section>
                    <section class="mdc-card__supporting-text">

                    </section>
                    <section class="mdc-card__actions">
                        <a href="/digital/health" class="mdc-button mdc-button--compact mdc-card__action">Find out more</a>
                    </section>
                </div>
            </div>
            <div class="mdc-layout-grid__cell">
                <div class="mdc-card">
                    <section class="mdc-card__primary">
                        <h1 class="mdc-card__title mdc-card__title--large">Digital Champions</h1>
                    </section>
                    <section class="mdc-card__supporting-text">

                    </section>
                    <section class="mdc-card__actions">
                        <a href="/digital/champions" class="mdc-button mdc-button--compact mdc-card__action">Find out more</a>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="callout-image inspiration">
    <div class="container-fluid">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell">
                    <h3>Digital Pioneers</h3>
                </div>
                <div class="mdc-layout-grid__cell">
                    <h3>Funded projects</h3>
                </div>
                <div class="mdc-layout-grid__cell">
                    <h3>Events &amp; meetups</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <h1>Resources</h1>
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell">
                <div class="mdc-card">
                    <section class="mdc-card__primary">
                        <h1 class="mdc-card__title mdc-card__title--large">Digital Check-up</h1>
                    </section>
                    <section class="mdc-card__supporting-text">

                    </section>
                    <section class="mdc-card__actions">
                        <a href="/digital/check-up" class="mdc-button mdc-button--compact mdc-card__action">Find out more</a>
                    </section>
                </div>
            </div>
            <div class="mdc-layout-grid__cell">
                <div class="mdc-card">
                    <section class="mdc-card__primary">
                        <h1 class="mdc-card__title mdc-card__title--large">Call to action</h1>
                    </section>
                    <section class="mdc-card__supporting-text">

                    </section>
                    <section class="mdc-card__actions">
                        <a href="/digital/call-to-action" class="mdc-button mdc-button--compact mdc-card__action">Find out more</a>
                    </section>
                </div>
            </div>
            <div class="mdc-layout-grid__cell">
                <div class="mdc-card">
                    <section class="mdc-card__primary">
                        <h1 class="mdc-card__title mdc-card__title--large">Reports</h1>
                    </section>
                    <section class="mdc-card__supporting-text">

                    </section>
                    <section class="mdc-card__actions">
                        <a href="/digital/reports" class="mdc-button mdc-button--compact mdc-card__action">Find out more</a>
                    </section>
                </div>
            </div>
            <div class="mdc-layout-grid__cell">
                <div class="mdc-card">
                    <section class="mdc-card__primary">
                        <h1 class="mdc-card__title mdc-card__title--large">Milo</h1>
                    </section>
                    <section class="mdc-card__supporting-text">

                    </section>
                    <section class="mdc-card__actions">
                        <a href="/digital/milo" class="mdc-button mdc-button--compact mdc-card__action">Find out more</a>
                    </section>
                </div>
            </div>
            <div class="mdc-layout-grid__cell">
                <div class="mdc-card">
                    <section class="mdc-card__primary">
                        <h1 class="mdc-card__title mdc-card__title--large">Good HQ</h1>
                    </section>
                    <section class="mdc-card__supporting-text">

                    </section>
                    <section class="mdc-card__actions">
                        <a href="/digital/goodhq" class="mdc-button mdc-button--compact mdc-card__action">Find out more</a>
                    </section>
                </div>
            </div>
            <div class="mdc-layout-grid__cell">
                <div class="mdc-card">
                    <section class="mdc-card__primary">
                        <h1 class="mdc-card__title mdc-card__title--large">Blog posts</h1>
                    </section>
                    <section class="mdc-card__supporting-text">

                    </section>
                    <section class="mdc-card__actions">
                        <a href="/post/categories/digital-participation" class="mdc-button mdc-button--compact mdc-card__action">Find out more</a>
                    </section>
                </div>
            </div>
            <div class="mdc-layout-grid__cell">
                <div class="mdc-card">
                    <section class="mdc-card__primary">
                        <h1 class="mdc-card__title mdc-card__title--large">Basic digital skills</h1>
                    </section>
                    <section class="mdc-card__supporting-text">

                    </section>
                    <section class="mdc-card__actions">
                        <a href="/digital/skills" class="mdc-button mdc-button--compact mdc-card__action">Find out more</a>
                    </section>
                </div>
            </div>
            <div class="mdc-layout-grid__cell">
                <div class="mdc-card">
                    <section class="mdc-card__primary">
                        <h1 class="mdc-card__title mdc-card__title--large">Charity catalogue</h1>
                    </section>
                    <section class="mdc-card__supporting-text">

                    </section>
                    <section class="mdc-card__actions">
                        <a href="https://charitycatalogue.com" class="mdc-button mdc-button--compact mdc-card__action">Find out more</a>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
