<div class="page digital">
    <div class="splash-image {{> header_splash}}">
        <div class="container-fluid">
            <div class="mdc-layout-grid">
                {{#if primaryResponse.hits.hits.[0]._source.header_text}}
                <img src="{{primaryResponse.hits.hits.[0]._source.header_text}}" alt="{{primaryResponse.hits.hits.[0]._source.title}}" class="header-text" />
                {{else}}
                <h1 class="header-text">
                    <span class="header-text-banner">
                        {{{primaryResponse.hits.hits.[0]._source.title}}}
                    </span>
                </h1>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        {{> breadcrumbs}}
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9 content page-content">
                    {{#with primaryResponse.hits.hits.[0]._source}}
                    {{{rendered.full}}}
                    {{/with}}
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 sidebar page-sidebar">
                    {{> menu_digital_innovation}}
                </div>
            </div>
        </div>
    </div>
</div>
