<div class="event">
    <div class="splash-image splash-image-{{primaryResponse.hits.hits.[0]._type}}" style="{{> header_splash_image}}">
        <div class="splash-overlay{{#if primaryResponse.hits.hits.[0]._source.hide_overlay}} splash-overlay-hidden{{/if}}">
            <div class="container-fluid">
                <div class="mdc-layout-grid">
                    {{#if primaryResponse.hits.hits.[0]._source.header_text}}
                    <img src="{{primaryResponse.hits.hits.[0]._source.header_text}}" alt="{{primaryResponse.hits.hits.[0]._source.title}}" class="header-text" />
                    {{else}}
                    <h1 class="header-text">
                        <span class="header-text-banner">
                            {{{primaryResponse.hits.hits.[0]._source.title}}}
                        </span>
                    </h1>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid page-content">
        {{#> handle_404}}
        {{#with primaryResponse.hits.hits.[0]._source}}
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><a href="/events">Events</a></li>
            <li>{{{title}}}</li>
        </ul>

        {{{rendered.full}}}

        {{#compare course_type "===" "Training Course"}}
        <p>
            <strong>NB: Please read our <a href="https://cms.scvo.org/wp-content/uploads/2018/01/Policies-procedures-and-TCs.docx">policies, procedures and terms &amp; conditions</a> document below before making your booking.</strong>
        </p>
        {{/compare}}
        {{/with}}

        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    {{#compare supplimentaryResponses.related_events.hits.total ">" 0}}
                    <h2 class="author">Similar events</h2>
                    <ul class="supplimentary-list">
                        {{#each supplimentaryResponses.related_events.hits.hits}}
                        {{{_source.rendered.list}}}
                        {{/each}}
                    </ul>
                    {{/compare}}
                </div>
            </div>
        </div>
        {{/handle_404}}
    </div>
</div>
