<div class="event event-search">
    <div class="splash-image splash-image-{{primaryResponse.hits.hits.[0]._type}}" style="{{> header_splash_image}}">
        <div class="splash-overlay{{#if primaryResponse.hits.hits.[0]._source.hide_overlay}} splash-overlay-hidden{{/if}}">
            <div class="container-fluid">
                <div class="mdc-layout-grid">
                    {{#if primaryResponse.hits.hits.[0]._source.header_text}}
                    <img src="{{primaryResponse.hits.hits.[0]._source.header_text}}" alt="{{primaryResponse.hits.hits.[0]._source.title}}" class="header-text" />
                    {{else}}
                    <h1 class="header-text">
                        <span class="header-text-banner">
                            Funding updates 
                        </span>
                    </h1>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid page-content">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li>Funding updates</li>
        </ul>

        <h2 class="mdc-card__title mdc-card__title--large">
            {{momentFormat (moment (firstItem (split (atob params.range) "-")) "x") "Do MMMM YYYY"}} - 
            {{momentFormat (moment (lastItem (split (atob params.range) "-")) "x") "Do MMMM YYYY"}}
        </h2>
        <div class="mdc-layout-grid equal-height">
            <div class="mdc-layout-grid__inner">
                {{#each primaryResponse.hits.hits}}
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    {{{_source.rendered.search_result}}}
                </div>
                {{/each}}
            </div>
        </div>
        {{> pagination}}
    </div>
</div>
