<div class="splash-image {{> header_splash}}">
    <div class="container-fluid">
        <div class="mdc-layout-grid">
            {{#if primaryResponse.hits.hits.[0]._source.header_text}}
            <img src="{{primaryResponse.hits.hits.[0]._source.header_text}}" alt="{{primaryResponse.hits.hits.[0]._source.title}}" class="header-text" />
            {{else}}
            <h1 class="header-text">
                <span class="header-text-banner">
                    {{{primaryResponse.hits.hits.[0]._source.title}}}
                </span>
            </h1>
            {{/if}}
        </div>
    </div>
</div>

<div class="container-fluid">
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/services/digital">Digital</a></li>
        <li><a href="/services/digital/participation">Participation</a></li>
        <li><a href="/services/digital/participation/projects">Projects</a></li>
    </ul>

    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 content library-content">
                {{{primaryResponse.hits.hits.[0]_source.rendered.scvo_full}}}
            </div>
        </div>
    </div>
</div>
