<div class="members">
    <div class="splash-image splash-image-{{primaryResponse.hits.hits.[0]._type}}" style="{{> header_splash_image}}">
        <div class="splash-overlay{{#if primaryResponse.hits.hits.[0]._source.hide_overlay}} splash-overlay-hidden{{/if}}">
            <div class="container-fluid">
                <div class="mdc-layout-grid">
                    {{#if primaryResponse.hits.hits.[0]._source.header_text}}
                    <img src="{{primaryResponse.hits.hits.[0]._source.header_text}}" alt="{{primaryResponse.hits.hits.[0]._source.title}}" class="header-text" />
                    {{else}}
                    <h1 class="header-text">
                        <span class="header-text-banner">
                            Our members
                        </span>
                    </h1>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About SCVO</a></li>
            <li>Our members</li>
        </ul>
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9 content page-content">
                        <div class="v-margin">
                            <div class="mdc-card">
                                <section class="mdc-card__primary">
                                    <h2 class="mdc-card__title mdc-card__title--large">Search SCVO member organisations</h2>
                                    <form [searchroute]="'members'" data-auto-search="true">
                                        <div class="mdc-textfield">
                                            <input type="text" class="mdc-textfield__input searchRoute" placeholder="Search" value="{{params.query.q}}" name="q">
                                            <div class="mdc-textfield__bottom-line"></div>
                                        </div>
                                        <!--
                                        <div class="mdc-form-field">
                                            <select class="mdc-select" role="listbox" name="type">
                                                <option value="" {{#unless params.query.type}}selected{{/unless}}>All membership types</option>
                                                {{#each supplimentaryResponses.types.aggregations.types.buckets}}
                                                <option value="{{slugify key}}" {{#compare ../params.query.type "===" (slugify key)}}selected{{/compare}}>{{key}} ({{doc_count}})</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                        -->
                                    </form>
                                </section>
                            </div>
                        </div>

                        {{#each primaryResponse.hits.hits}}
                        {{{this._source.rendered.list}}}
                        {{/each}}

                        {{#ifAny params.query.q params.query.type}}
                            {{> pagination}}
                        {{/ifAny}}
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 sidebar page-sidebar">
                        {{> menu_about}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
