<div class="page">
    <div class="splash-image splash-image-{{primaryResponse.hits.hits.[0]._type}}" style="{{> header_splash_image}}">
        <div class="splash-overlay{{#if primaryResponse.hits.hits.[0]._source.hide_overlay}} splash-overlay-hidden{{/if}}">
            <div class="container-fluid">
                <div class="mdc-layout-grid">
                    {{#if primaryResponse.hits.hits.[0]._source.header_text}}
                        <img src="{{primaryResponse.hits.hits.[0]._source.header_text}}" alt="{{primaryResponse.hits.hits.[0]._source.title}}" class="header-text" />
                    {{else}}
                            <h1 class="header-text">
                                <span class="header-text-banner">
                                {{#if primaryResponse.hits.hits.[0]}}
                                    {{#unless primaryResponse.hits.hits.[0]._source.hide_overlay}}
                                        {{{primaryResponse.hits.hits.[0]._source.title}}}
                                    {{/unless}}
                                {{else}}
                                    404: Not found
                                {{/if}}
                            </span>
                        </h1>
                    {{/if}}
                    {{#if supplimentaryResponses.splash.hits.hits.[0]._source.caption}}
                    <div class="header-caption">
                        {{supplimentaryResponses.splash.hits.hits.[0]._source.caption}}
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        {{#> handle_404}}
        {{> breadcrumbs}}
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone content page-content">
                    {{#with primaryResponse.hits.hits.[0]._source}}
                        {{{rendered.full}}}
                    {{/with}}
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-tablet sidebar page-sidebar">
                    {{#compare supplimentaryResponses.related_posts.hits.total ">" 0}}
                        <div class="related-posts">
                            <h3 class="blogs">Related posts</h3>
                            <ul class="v-margin supplimentary-list">
                                {{#each supplimentaryResponses.related_posts.hits.hits}}
                                    {{{_source.rendered.sidebar_mini}}}
                                {{/each}}
                            </ul>
                            <a class="v-margin mdc-button mdc-button--raised" href="/post/categories/{{primaryResponse.hits.hits.[0]._source.categories_slug.[0]}}">Read more</a>
                        </div>
                    {{/compare}}
                </div>
            </div>
        </div>
        {{/handle_404}}
    </div>
</div>
