<div class="splash-image {{> header_splash}}">
    <div class="container-fluid">
        {{> breadcrumbs}}

        <div class="mdc-layout-grid">
            {{#if primaryResponse.hits.hits.[0]._source.header_text}}
            <img src="{{primaryResponse.hits.hits.[0]._source.header_text}}" alt="{{primaryResponse.hits.hits.[0]._source.title}}" class="header-text" />
            {{else}}
            <h1 class="header-text">
                <span class="header-text-banner">
                    {{{primaryResponse.hits.hits.[0]._source.title}}}
                </span>
            </h1>
            {{/if}}
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8 content page-content">
                {{#with primaryResponse.hits.hits.[0]._source}}
                {{{rendered.full}}}
                {{/with}}
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 sidebar page-sidebar">
                {{#if supplimentaryResponses.related_posts.hits}}
                <h3 class="blogs">Our blog posts</h3>
                <ul class="v-margin supplimentary-list">
                    {{#each supplimentaryResponses.related_posts.hits.hits}}
                    {{{_source.rendered.sidebar_mini}}}
                    {{/each}}
                </ul>
                <a class="v-margin mdc-button mdc-button--raised" href="/post/categories/{{primaryResponse.hits.hits.[0]._source.categories_slug.[0]}}">Read more</a>
                {{/if}}
            </div>
        </div>
    </div>
</div>
