<div class="page">
    <div class="splash-image splash-image-{{primaryResponse.hits.hits.[0]._type}}" style="{{> header_splash_image}}">
        <div class="splash-overlay{{#if primaryResponse.hits.hits.[0]._source.hide_overlay}} splash-overlay-hidden{{/if}}">
            <div class="container-fluid">
                <div class="mdc-layout-grid">
                    {{#if primaryResponse.hits.hits.[0]._source.header_text}}
                    <img src="{{primaryResponse.hits.hits.[0]._source.header_text}}" alt="{{primaryResponse.hits.hits.[0]._source.title}}" class="header-text" />
                    {{else}}
                    <h1 class="header-text">
                        <span class="header-text-banner">
                            {{#if primaryResponse.hits.hits.[0]}}
                            {{{primaryResponse.hits.hits.[0]._source.title}}}
                            {{else}}
                            404: Not found
                            {{/if}}
                        </span>
                    </h1>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        {{> breadcrumbs}}
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9 content page-content">
                    {{#with primaryResponse.hits.hits.[0]._source}}
                    {{{rendered.full}}}
                    {{/with}}
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 sidebar page-sidebar">
                    {{> menu_running_financial}}
                </div>
                {{#compare supplimentaryResponses.related_posts.hits.total ">" 0}}
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 related page-related">
                    <h3 class="blogs">Related posts</h3>
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner">
                            {{#each supplimentaryResponses.related_posts.hits.hits}}
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                                {{{_source.rendered.gist}}}
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{/compare}}
            </div>
        </div>
    </div>
    {{> footer_join_our_hub}}
</div>