<div class="page page-full-width">
    <div class="splash-image {{> header_splash}}">
        <div class="container-fluid">
            <div class="mdc-layout-grid">
                {{#if primaryResponse.hits.hits.[0]._source.header_text}}
                <img src="{{primaryResponse.hits.hits.[0]._source.header_text}}" alt="{{primaryResponse.hits.hits.[0]._source.title}}" class="header-text" />
                {{else}}
                <h1 class="header-text">
                    <span class="header-text-banner">
                        {{{primaryResponse.hits.hits.[0]._source.title}}}
                    </span>
                </h1>
                {{/if}}
            </div><!-- /mdc-layout-grid -->
        </div><!-- /container-fluid -->
    </div><!-- /splash-image -->
    <div class="container-fluid">
        {{> breadcrumbs}}
        <div class="content page-content">
            {{{primaryResponse.hits.hits.[0]._source.rendered.full}}}
        </div><!-- /content -->
    </div><!-- /container-fluid -->
</div><!-- /page page-full-width -->
