<div class="splash-image splash-image-page" style="background-image: linear-gradient(56deg, var(--mdc-theme-primary-dark) 10%, var(--mdc-theme-primary) 33%, var(--mdc-theme-primary-fade) 100%),url('{{#if primaryResponse.hits.hits.[0]._source.featured_image}}{{featured_image.sizes.full.source_url}}{{else}}{{#if supplimentaryResponse.splash.hits.hits.[0]._source.original_image}}{{supplimentaryResponse.splash.hits.hits.[0]._source.original_image}}{{/if}}{{/if}}');position: relative;">
    <div class="container-fluid">
        <div class="mdc-layout-grid">
            <h1 class="post-title">{{{primaryResponse.hits.hits.[0]._source.title}}}</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8 post-content">
                {{#with primaryResponse.hits.hits.[0]._source}}
                {{{rendered.full}}}
                {{/with}}
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 post-sidebar">
                <h3 class="">More by {{primaryResponse.hits.hits.[0]._source.author_name}}</h3>
                <ul class="supplimentary-list">
                    {{#each supplimentaryResponse.authors_posts.hits.hits}}
                    {{{_source.rendered.list}}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
