<div class="splash-image splash-image-scvo-cms-author{{#if primaryResponse.hits.hits.[0]._source.header_background}} splash-image-background{{/if}}" style="background-image: {{#if primaryResponse.hits.hits.[0]._source.header_background_gradient}}linear-gradient(185deg,var(--mdc-theme-primary-fade),var(--mdc-theme-primary-dark)75%),{{else}}{{#if primaryResponse.hits.hits.[0]._source.header_background}}{{else}}linear-gradient(var(--mdc-theme-primary-fade),var(--mdc-theme-primary-fade)),{{/if}}{{/if}}url('{{#if primaryResponse.hits.hits.[0]._source.header_background}}{{primaryResponse.hits.hits.[0]._source.header_background}}{{else}}{{#if supplimentaryResponses.splash.hits.hits.[0]._source.original_image}}{{supplimentaryResponses.splash.hits.hits.[0]._source.original_image}}{{/if}}{{/if}}');">
    <div class="container-fluid">
        <div class="mdc-layout-grid">
            {{#if primaryResponse.hits.hits.[0]._source.header_text}}
            <img src="{{primaryResponse.hits.hits.[0]._source.header_text}}" alt="{{primaryResponse.hits.hits.[0]._source.title}}" class="header-text" />
            {{else}}
            <h1 class="header-text">
                <span class="header-text-banner">
                    {{#if supplimentaryResponses.staff_profile.hits.hits.[0]}}
                    {{{supplimentaryResponses.staff_profile.hits.hits.[0]._source.rendered.scvo_header}}}
                    {{else}}
                    {{{supplimentaryResponses.author_profile.hits.hits.[0]._source.rendered.scvo_header}}}
                    {{/if}}
                </span>
            </h1>
            {{/if}}
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8 content post-content">
                <ul class="supplimentary-list">
                    {{#each primaryResponse.hits.hits}}
                    {{{_source.rendered.list}}}
                    {{/each}}
                </ul>

                {{> pagination paging=paging params=params }}
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 sidebar post-sidebar">
                <h3 class="author">{{primaryResponse.hits.hits.[0]._source.author_name}}</h3>
                <div class="author_about">
                    {{#if supplimentaryResponses.staff_profile.hits.hits.[0]}}
                    {{{supplimentaryResponses.staff_profile.hits.hits.[0]._source.rendered.scvo_profile}}}
                    {{else}}
                    {{{supplimentaryResponses.author_profile.hits.hits.[0]._source.rendered.scvo_profile}}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
