<div class="splash-image splash-image-{{primaryResponse.hits.hits.[0]._type}}{{#if primaryResponse.hits.hits.[0]._source.header_background}} splash-image-background{{/if}}" style="background-image: {{#if primaryResponse.hits.hits.[0]._source.header_background_gradient}}linear-gradient(185deg,var(--mdc-theme-primary-fade),var(--mdc-theme-primary-dark)75%),{{else}}{{#if primaryResponse.hits.hits.[0]._source.header_background}}{{else}}linear-gradient(var(--mdc-theme-primary-fade),var(--mdc-theme-primary-fade)),{{/if}}{{/if}}url('{{#if primaryResponse.hits.hits.[0]._source.header_background}}{{primaryResponse.hits.hits.[0]._source.header_background}}{{else}}{{#if supplimentaryResponses.splash.hits.hits.[0]._source.original_image}}{{supplimentaryResponses.splash.hits.hits.[0]._source.original_image}}{{/if}}{{/if}}');">
    <div class="container-fluid">
        <div class="mdc-layout-grid">
            {{#if primaryResponse.hits.hits.[0]._source.header_text}}
            <img src="{{primaryResponse.hits.hits.[0]._source.header_text}}" alt="{{primaryResponse.hits.hits.[0]._source.title}}" class="header-text" />
            {{else}}
            <h1 class="header-text">
                <span class="header-text-banner">
                    {{{primaryResponse.hits.hits.[0]._source.title}}}
                </span>
            </h1>
            {{/if}}
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8 content post-content">
                {{#with primaryResponse.hits.hits.[0]._source}}
                {{{rendered.full}}}
                {{/with}}
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 sidebar post-sidebar">
                <div class="author_about">
                    {{#if supplimentaryResponses.staff_profile.hits.hits.[0]}}
                    {{{supplimentaryResponses.staff_profile.hits.hits.[0]._source.rendered.scvo_profile}}}
                    {{else}}
                    {{{supplimentaryResponses.author_profile.hits.hits.[0]._source.rendered.scvo_profile}}}
                    {{/if}}
                </div>
                {{#if supplimentaryResponses.staff_profile.hits.hits}}
                {{#if primaryResponse.hits.hits.[0]._source.categories}}
                {{#compare primaryResponse.hits.hits.[0]._source.categories.[0] '!=' 'Press releases'}}
                <h3 class="author">More posts by {{primaryResponse.hits.hits.[0]._source.author_name_full}}</h3>
                <ul class="supplimentary-list">
                    {{#each supplimentaryResponses.authors_posts.hits.hits}}
                    {{{_source.rendered.sidebar}}}
                    {{/each}}
                </ul>
                {{/compare}}
                {{/if}}
                {{/if}}
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 related post-related">
                <div class="mdc-layout-grid">
                    <div class="mdc-layout-grid__inner">
                        {{#each supplimentaryResponses.tfn_related_posts.hits.hits}}
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                            {{{_source.rendered.gist}}}
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="dsq-count-scr" src="//scottish-council-for-voluntary-organisations.disqus.com/count.js" async></script>
