<div class="splash-image {{#if primaryResponse.hits.hits.[0]._source.header_background}} splash-image-background{{/if}}" style="background-image: {{#if primaryResponse.hits.hits.[0]._source.header_background_gradient}}linear-gradient(10deg, var(--mdc-theme-primary-dark) 10%, var(--mdc-theme-primary-fade) 75%, rgba(0,0,0,0.2) 100%),{{else}}{{#if primaryResponse.hits.hits.[0]._source.header_background}}{{else}}linear-gradient(10deg, var(--mdc-theme-primary-dark) 10%, var(--mdc-theme-primary-fade) 75%, rgba(0,0,0,0.2) 100%),{{/if}}{{/if}}url('{{#if primaryResponse.hits.hits.[0]._source.header_background}}{{primaryResponse.hits.hits.[0]._source.header_background}}{{else}}{{#if supplimentaryResponses.splash.hits.hits.[0]._source.original_image}}{{supplimentaryResponses.splash.hits.hits.[0]._source.original_image}}{{/if}}{{/if}}');">
    <div class="container-fluid">
        <div class="mdc-layout-grid">
            {{#if primaryResponse.hits.hits.[0]._source.header_text}}
            <img src="{{primaryResponse.hits.hits.[0]._source.header_text}}" alt="{{primaryResponse.hits.hits.[0]._source.title}}" class="header-text" />
            {{else}}
            <h1 class="header-text">
                <span class="header-text-banner">
                    {{#each primaryResponse.hits.hits.[0]._source.categories_slug}}
                    {{#compare this "===" (lastItem (split ../params.path '_'))}}
                    {{{lookup ../primaryResponse.hits.hits.[0]._source.categories @index}}}
                    {{/compare}}
                    {{/each}}
                </span>
            </h1>
            {{/if}}
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8 content post-content">
                <ul class="supplimentary-list">
                    {{#each primaryResponse.hits.hits}}
                    {{{_source.rendered.list}}}
                    {{/each}}
                </ul>

                <ul class="pagination inline-list">
                    {{#if paging.prevPage}}
                    <li>
                        <a class="mdc-button mdc-button--compact" href="/search?q={{../params.query.q}}&page={{paging.prevPage}}">Previous</a>
                    </li>
                    {{/if}}
                    {{#each paging.pageRange}}
                    <li class="{{#compare ../paging.currentPage "===" this.pageNumber}}current-page{{/compare}} pagination-distance-{{this.distance}}">
                        <a  class="mdc-button mdc-button--compact" href="/search?q={{../params.query.q}}&page={{this.pageNumber}}">{{this.pageNumber}}</a>
                    </li>
                    {{/each}}
                    {{#if paging.nextPage}}
                    <li>
                        <a class="mdc-button mdc-button--compact" href="/search?q={{../params.query.q}}&page={{paging.nextPage}}">Next</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 sidebar post-sidebar">
                <!-- TBC -->
            </div>
        </div>
    </div>
</div>
