<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SCVO – Scottish Council for Voluntary Organisations</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#00838f">
    <meta name="msapplication-TileImage" content="/assets/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#00838f">
    <link rel="search" type="application/opensearchdescription+xml" title="SCVO" href="/assets/opensearch.xml" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <style type="text/css">
    {{{this.css}}}
    </style>
    {{{headerTags}}}
    <script type="application/ld+json">
    {{{route.jsonLd}}}
    </script>
</head>
<body class="{{replace route.params.path '_' ' '}}">
    <scvo-site>
        <div class="mdc-typography">
            <header class="mdc-toolbar mdc-toolbar--fixed">
                <div class="mdc-toolbar__row">
                    <div class="container-fluid">
                        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                            <button class="menu mdc-toolbar__icon mdc-toolbar__icon--menu" onclick="menu_draw.MDCTemporaryDrawer.open = true">
                                <span class="fa fa-2x fa-bars" aria-hidden="true"></span>
                            </button>
                            <span class="mdc-toolbar__title catalog-title">
                                <a href="/" class="brand-logo" title="Scottish Council for Voluntary Organisations">
                                    <img src="assets/images/scvo-logo.png" />
                                </a>
                            </span>
                        </section>
                        <section class="mdc-toolbar__section mdc-toolbar__section--align-end toolbar-search">
                            <nav id="upper-tab-bar" class="mdc-tab-bar">
                                {{#each menus.upper}}
                                <a class="mdc-tab" href="{{path}}">{{{label}}}</a>
                                {{/each}}
                            </nav>
                            <form [searchroute]="'main-search'" class="mdc-form-field mdc-form-field--align-end">
                                <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
                                    <input type="text" class="mdc-textfield__input white-text searchRoute" placeholder="Search" id="q" name="q">
                                </div>
                                <button type="submit" class="mdc-toolbar__icon" aria-label="Search" alt="Search">
                                    <span class="fa fa-search" aria-hidden="true"></span>
                                </button>
                            </form>
                        </section>
                    </div>
                </div>
                <div class="mdc-toolbar__row toolbar-nav">
                    <div class="container-fluid">
                        <section class="mdc-toolbar__section mdc-toolbar__section--align-start toolbar-menu">
                            <nav id="main-tab-bar" class="mdc-tab-bar">
                                {{#each menus.main}}
                                <a class="mdc-tab" href="{{path}}">{{{label}}}</a>
                                {{/each}}
                            </nav>
                        </section>
                    </div>
                </div>
            </header>

            <aside class="mdc-temporary-drawer" id="menu_draw" data-mdc-auto-init="MDCTemporaryDrawer">
                <nav class="mdc-temporary-drawer__drawer">
                    <header class="mdc-temporary-drawer__header">
                        <div class="mdc-temporary-drawer__header-content mdc-theme--primary-bg mdc-theme--text-primary-on-primary">
                            <img src="assets/images/scvo-logo.png" />
                        </div>
                    </header>
                    <nav class="mdc-temporary-drawer__content mdc-list-group">
                        <div id="icon-with-text-demo" class="mdc-list">
                            {{#each menus.main}}
                            <a class="mdc-list-item" href="{{path}}" data-mdc-tabindex-handled="true" tabindex="-1" onclick="menu_draw.MDCTemporaryDrawer.open = false">
                                {{{label}}}
                            </a>
                            {{/each}}
                            {{#each menus.upper}}
                            <a class="mdc-list-item" href="{{path}}" data-mdc-tabindex-handled="true" tabindex="-1" onclick="menu_draw.MDCTemporaryDrawer.open = false">
                                {{{label}}}
                            </a>
                            {{/each}}
                        </div>
                    </nav>
                </nav>
            </aside>

            <main class="mdc-toolbar-fixed-adjust">
                <div class="page-content">
                    <router-outlet>{{{route.rendered}}}</router-outlet>
                </div>
            </main>

            <footer>
                <div class="footer">
                    <div class="container-fluid">
                        <div class="footer-main">
                            <div class="mdc-layout-grid">
                                <div class="mdc-layout-grid__inner">
                                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7-desktop mdc-layout-grid__cell--span-5-tablet">
                                        <a href="/" class="brand-logo" title="Scottish Council for Voluntary Organisations">
                                            <img src="assets/images/scvo-logo.png" />
                                        </a>
                                        <p>The <strong>Scottish Council for Voluntary Organisations</strong> is the membership organisation for Scotland's charities, voluntary organisations and social enterprises.</p>
                                    </div>
                                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet">
                                        &nbsp;
                                    </div>
                                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-3-tablet">
                                        <ul class="mdc-list">
                                            {{#each menus.footer}}
                                            <li class="mdc-list-item"><a href="{{path}}">{{{label}}}</a></li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-3-tablet">
                                        <ul class="mdc-list">
                                            <li class="mdc-list-item">
                                                <a href="mailto:enquiries@scvo.org.uk">

                                                    enquiries@scvo.org.uk
                                                </a>
                                            </li>
                                            <li class="mdc-list-item">
                                                <a href="tel:+441314748000">
                                                    0131 474 8000
                                                </a>
                                            </li>
                                            <li class="mdc-list-item">
                                                <a href="https://www.facebook.com/SCVO1939">
                                                    Facebook
                                                </a>
                                            </li>
                                            <li class="mdc-list-item">
                                                <a href="https://twitter.com/scvotweet">
                                                    Twitter
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-copyright">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>
                                            &copy; 2017. The Scottish Council for Voluntary Organisations (SCVO) is a Scottish Charitable Incorporated Organisation. Charity registered in Scotland <a href="http://www.oscr.org.uk/charities/search-scottish-charity-register/charity-details?number=SC003558">SC003558</a>.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </scvo-site>
    <script type="text/javascript" src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script type="text/javascript">
    mdc.autoInit();
    </script>
    <script type="text/javascript" src="inline.bundle.js"></script>
    <script type="text/javascript" src="polyfills.bundle.js"></script>
    <script type="text/javascript" src="styles.bundle.js"></script>
    <script type="text/javascript" src="vendor.bundle.js"></script>
    <script type="text/javascript" src="main.bundle.js"></script>
</body>
</html>
