<div class="splash-image {{> header_splash}}">
    <div class="container-fluid">
        <div class="mdc-layout-grid">
            {{#if primaryResponse.hits.hits.[0]._source.header_text}}
            <img src="{{primaryResponse.hits.hits.[0]._source.header_text}}" alt="{{primaryResponse.hits.hits.[0]._source.title}}" class="header-text" />
            {{else}}
            <h1 class="header-text">
                <span class="header-text-banner">
                    Staff team
                </span>
            </h1>
            {{/if}}
        </div>
    </div>
</div>

<div class="container-fluid">
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About SCVO</a></li>
    </ul>

    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8 content page-content">
                <form [searchroute]="'staff_list'">
                    <h2>Filter by</h2>
                    <div class="mdc-form-field">
                        <select class="mdc-select" role="listbox" id="department" name="department">
                            <option value="" {{#if params.query.department}}{{else}}selected{{/if}}>All departments</option>
                            {{#each supplimentaryResponses.departments.aggregations.departments.buckets}}
                            <option value="{{slugify key}}" {{#compare ../params.query.department "===" (slugify key)}}selected{{/compare}}>{{key}} ({{doc_count}})</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="mdc-form-field">
                        <select class="mdc-select" role="listbox" id="city" name="city">
                            <option value="" {{#if params.query.city}}{{else}}selected{{/if}}>All cities</option>
                            {{#each supplimentaryResponses.departments.aggregations.cities.buckets}}
                            <option value="{{slugify key}}" {{#compare ../params.query.city "===" (slugify key)}}selected{{/compare}}>{{key}} ({{doc_count}})</option>
                            {{/each}}
                        </select>
                    </div>
                    <!-- <div class="mdc-form-field">
                        <select class="mdc-select" role="listbox" id="directorate" name="directorate">
                            <option value="" { {#if params.query.directorate}}{ {else}}selected{ {/if}}>All directorates</option>
                            { {#each supplimentaryResponses.cities.aggregations.directorates.buckets}}
                            <option value="{ {slugify key}}" { {#compare ../params.query.directorate "===" (slugify key)}}selected{ {/compare}}>{ {key}} ({ {doc_count}})</option>
                            { {/each}}
                        </select>
                    </div> -->
                    <!-- <h2>Grouping</h2>
                    <div class="mdc-form-field">
                        <select class="mdc-select" role="listbox" id="grouping" name="grouping">
                            <option value="directorate-city" { {#compare params.query.grouping "===" "directorate-city"}}selected{ {/compare}}>Directorate &gt; city</option>
                            <option value="city-directorate" { {#compare params.query.grouping "===" "city-directorate"}}selected{ {/compare}}>city &gt; Directorate</option>
                            <option value="department-city" { {#compare params.query.grouping "===" "department-city"}}selected{ {/compare}}>Department &gt; city</option>
                            <option value="city-department" { {#compare params.query.grouping "===" "city-department"}}selected{ {/compare}}>city  &gt; Department</option>
                        </select>
                    </div> -->
                    <button class="mdc-button mdc-button--raised" type="submit">
                        Search
                    </button>
                </form>

                {{#each primaryResponse.aggregations.query.buckets}}
                    <div class="v-margin">
                        <h2>{{key}}</h2>
                        {{#each documents.hits.hits}}
                            {{{_source.rendered.list}}}
                        {{/each}}
                    </div>
                {{/each}}
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 sidebar page-sidebar">
                {{> menu_about}}
            </div>
        </div>
    </div>
</div>
