<div class="splash-image {{> header_splash}}">
    <div class="container-fluid">
        <div class="mdc-layout-grid">
            {{#if primaryResponse.hits.hits.[0]._source.header_text}}
            <img src="{{primaryResponse.hits.hits.[0]._source.header_text}}" alt="{{primaryResponse.hits.hits.[0]._source.title}}" class="header-text" />
            {{else}}
            <h1 class="header-text">
                <span class="header-text-banner">
                    Staff Directory
                </span>
            </h1>
            {{/if}}
        </div>
    </div>
</div>

<div class="container-fluid">
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
    </ul>

    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 sidebar library-sidebar">
                <form [searchroute]="'staff_list'">
                    <h2>Filters</h2>
                    <div class="mdc-form-field">
                        <select class="mdc-select" role="listbox" id="office" name="office">
                            <option value="" {{#if params.query.office}}{{else}}selected{{/if}}>All offices</option>
                            {{#each supplimentaryResponses.offices.aggregations.offices.buckets}}
                            <option value="{{slugify key}}" {{#compare ../params.query.office "===" (slugify key)}}selected{{/compare}}>{{key}} ({{doc_count}})</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="mdc-form-field">
                        <select class="mdc-select" role="listbox" id="directorate" name="directorate">
                            <option value="" {{#if params.query.directorate}}{{else}}selected{{/if}}>All directorates</option>
                            {{#each supplimentaryResponses.offices.aggregations.directorates.buckets}}
                            <option value="{{slugify key}}" {{#compare ../params.query.directorate "===" (slugify key)}}selected{{/compare}}>{{key}} ({{doc_count}})</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="mdc-form-field">
                        <select class="mdc-select" role="listbox" id="department" name="department">
                            <option value="" {{#if params.query.department}}{{else}}selected{{/if}}>All departments</option>
                            {{#each supplimentaryResponses.offices.aggregations.departments.buckets}}
                            <option value="{{slugify key}}" {{#compare ../params.query.department "===" (slugify key)}}selected{{/compare}}>{{key}} ({{doc_count}})</option>
                            {{/each}}
                        </select>
                    </div>
                    <h2>Grouping</h2>
                    <div class="mdc-form-field">
                        <select class="mdc-select" role="listbox" id="grouping" name="grouping">
                            <option value="directorate-office" {{#compare params.query.grouping "===" "directorate-office"}}selected{{/compare}}>Directorate &gt; Office</option>
                            <option value="office-directorate" {{#compare params.query.grouping "===" "office-directorate"}}selected{{/compare}}>Office &gt; Directorate</option>
                            <option value="department-office" {{#compare params.query.grouping "===" "department-office"}}selected{{/compare}}>Department &gt; Office</option>
                            <option value="office-department" {{#compare params.query.grouping "===" "office-department"}}selected{{/compare}}>Office  &gt; Department</option>
                        </select>
                    </div>
                    <button class="mdc-button mdc-button--raised" type="submit">
                        Search
                    </button>
                </form>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9 content library-content">
                {{#each primaryResponse.aggregations.query.buckets}}
                    <div class="v-margin">
                        <h2>{{key}}</h2>
                        {{#each departments.buckets}}
                            <h3>{{key}}</h3>
                            {{#each documents.hits.hits}}
                                {{{_source.rendered.search_result_scvo}}}
                            {{/each}}
                        {{/each}}
                    </div>
                {{/each}}

                {{> pagination paging=paging params=params }}
            </div>
        </div>
    </div>
</div>
