{{#if @root.data.auth ~}}
  <div class="container-fluid">
    <div class="mdc-layout-grid container-content">
      <div class="mdc-layout-grid__inner">
        {{#each (split "activities,beneficiaries,geographical_areas_funded" ",")}}
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone content page-content">
            <div class="browse-title mdc-typography--headline5">
              {{getProperty @root.context.metaData.termTypeLabels (concat this ".plural")}}
            </div>
            <ul class="mdc-list">
              {{#each (getProperty @root.data.supplimentaryResponses.types.aggregations (concat this "_slugs.buckets")) ~}}
              <a class="mdc-list-item" href="/search?{{../this}}={{urlencode key}}" role="menuitem">
                <span class="mdc-list-item__text">
                  {{#with (lookup (getProperty @root.data.supplimentaryResponses.types.aggregations (concat ../this ".buckets")) @index) ~}}
                    {{{key}}}
                  {{/with ~}}
                </span>
                <span class="mdc-list-item__meta" aria-label="{{doc_count}} funds">
                  {{doc_count}}
                </span>
              </a>
              {{/each ~}}
            </ul>
          </div>
        {{/each ~}}
      </div>
    </div>
  </div>
{{else}}
  {{> account_not_signed_in}}
{{/if ~}}
