{{#if data.primaryResponse.hits.hits.[0] ~}}
{{#with data.primaryResponse.hits.hits.[0]._source ~}}
{{#ifAny title og_title ~}}
<title>Funding Scotland – {{{default title og_title}}}</title>
<meta property="og:title" content="Funding Scotland – {{{default title og_title}}}" data-dynamic="true">
{{else}}
<title>Funding Scotland</title>
<meta property="og:title" content="Funding Scotland" data-dynamic="true">
{{/ifAny ~}}
<!-- <meta property="og:image" content="" data-dynamic="true"> -->
<meta property="og:image:width" content="96" data-dynamic="true">
<meta property="og:image:height" content="96" data-dynamic="true">
{{#ifAny og_summary description ../og_summary ../description ~}}
<meta property="og:summary" content="{{stripTags (regexReplace (default og_summary (default ../og_summary (default description ../description))) '\r|\n' 'gi' '')}}" data-dynamic="true">
<meta name="description" content="{{stripTags (regexReplace (default description (default ../description (default og_summary ../og_summary))) '\r|\n' 'gi' '')}}" data-dynamic="true">
{{/ifAny ~}}
{{#if rendered.json_ld ~}}
<script type="application/ld+json" data-dynamic="true">
{{{rendered.json_ld}}}
</script>
{{/if ~}}
{{/with ~}}
{{else}}
<title>Funding Scotland</title>
<meta property="og:title" content="Funding Scotland" data-dynamic="true">
{{/if ~}}