{{#and primaryResultSet primaryResultSet.documents}}
    {{#with primaryResultSet.documents.[0]}}
    <section class="hero">
        <div class="container-fluid">
            <div class="mdc-card">
                <section class="mdc-card__primary mdc-theme--primary-bg">
                    <h2 class="mdc-card__title mdc-card__title--large">{{title}}</h2>
                    <h3 class="mdc-card__subtitle">
                        Posted By: 
                        <a href="/organisation/{{organisation.slug}}">
                            <strong>{{organisation.name}}</strong>
                            {{#if organisation.charity_number}}
                                <small>[{{organisation.charity_number}}]</small>
                            {{/if}}
                        </a>
                    </h3>
                </section>
                <div class="mdc-card__horizontal-block">
                    <section class="mdc-card__supplimentary-text">
                        <ul class="mdc-list mdc-list--two-line mdc-list--dense">
                            <li class="mdc-list-item">
                                <span class="mdc-list-item__text">
                                    Salary:
                                    <span class="mdc-list-item__text__secondary">
                                        {{#eq remuneration_type "Salaried"}}
                                            {{#and (not salary_min) (not salary_max)}}
                                                TBC
                                            {{else}}
                                                {{#if salary_circa}} Circa {{/if}} 
                                                {{#and (gt salary_min 0) (not salary_max)}}
                                                    from &pound;{{addCommas salary_min}}
                                                {{else}}
                                                    {{#and (not salary_min) (gt salary_max 0)}}
                                                        up to &pound;{{addCommas salary_max}}
                                                    {{else}}
                                                        {{#gt salary_max salary_min}}
                                                            &pound;{{addCommas salary_min}} - &pound;{{addCommas salary_max}}
                                                        {{else}}
                                                            &pound;{{addCommas salary_min}}
                                                        {{/gt}}
                                                    {{/and}}
                                                {{/and}}
                                            {{/and}}
                                            {{#eq status "Part time"}} pro-rata {{/eq}}
                                        {{else}}
                                            {{#if remuneration_type}} {{remuneration_type}} {{/if}} 
                                        {{/eq}}
                                    </span>
                                </span>
                            </li>
                            
                            <li class="mdc-list-item">
                                <span class="mdc-list-item__text">
                                    Salary info:
                                    <span class="mdc-list-item__text__secondary">
                                        {{salary_info}}
                                    </span>
                                </span>
                            </li>
                            
                            <li class="mdc-list-item">
                                <span class="mdc-list-item__text">
                                    Closing date:
                                    <span class="mdc-list-item__text__secondary">
                                        {{moment closing_date "D MMMM YYYY"}}
                                    </span>
                                </span>
                            </li>
                            
                            <li class="mdc-list-item">
                                <span class="mdc-list-item__text">
                                    Location:
                                    <span class="mdc-list-item__text__secondary">
                                        {{location}}
                                    </span>
                                </span>
                            </li>

                            {{#if organisation.website}}
                                <li class="mdc-list-item">
                                    <span class="mdc-list-item__text">
                                        Website:
                                        <span class="mdc-list-item__text__secondary">
                                            <a href="{{organisation.website}}">
                                                {{organisation.website}}
                                            </a>
                                        </span>
                                    </span>
                                </li>
                            {{/if}} 
                            {{#if organisation.twitter}}
                                <li class="mdc-list-item">
                                    <span class="mdc-list-item__text">
                                        Twitter
                                        <span class="mdc-list-item__text__secondary">
                                            <a href="{{organisation.twitter}}">
                                                {{organisation.twitter}}
                                            </a>
                                        </span>
                                    </span>
                                </li>
                            {{/if}} 
                            {{#if organisation.facebook}}
                                <li class="mdc-list-item">
                                    <span class="mdc-list-item__text">
                                        Facebook
                                        <span class="mdc-list-item__text__secondary">
                                            <a href="{{organisation.facebook}}">
                                                {{organisation.facebook}}
                                            </a>
                                        </span>
                                    </span>
                                </li>
                            {{/if}} 
                        </ul>
                    </section>
                    <a href="/organisation/{{organisation.slug}}">
                        {{#if organisation.has_logo}}
                            <img src="{{organisation.logo_url}}" class="mdc-card__media-item mdc-card__media-item--2x">
                        {{else}}
                            <img src="https://goodmoves.org.uk/app/assets/images/no-logo.png" class="mdc-card__media-item mdc-card__media-item--2x">
                        {{/if}}
                    </a>
                </div>
            </div>
        </div>
    </section>

    <div class="container-fluid">
        <div class="mdc-card">
            <section class="mdc-card__supporting-text">
                {{#if description}}
                    <h4>Role</h4>
                    <div class="details-markdown">
                        {{#markdown}}{{{description}}}{{/markdown}}
                    </div>
                    <hr /> 
                {{/if}}
                {{#if organisation_profile}}
                    <h4>Organisation profile</h4>
                    <div class="details-markdown">
                        {{#markdown}}{{{organisation.profile}}}{{/markdown}}
                    </div>
                    <hr /> 
                {{/if}}
                {{#if application_notes}}
                    <h4>Application notes</h4>
                    <div class="details-markdown">
                        {{#markdown}}{{{application_notes}}}{{/markdown}}
                    </div>
                    <hr /> 
                {{/if}} 
                {{#if assets}}
                    <h4>Files</h4>
                    <div class="collection"> 
                        {{#forEach assets}}
                            <a href="https://goodmoves.blob.core.windows.net/vacancyassets/{{id}}-{{filename}}" class="collection-item avatar"> 
                                <i class="fa fa-3x fa-file-o circle green white-text"></i>
                                <span class="title"> {{titleize title}} </span>
                            </a> 
                        {{/forEach}} 
                    </div> 
                {{/if}} 
            </section>
        </div>            
    </div>
    {{/with}}
{{/and}}

