<div class="funding-updates">
  <div class="splash-image splash-image-{{@root.data.primaryResponse.hits.hits.[0]._type}}" style="{{> header_splash_image}}">
    <div class="splash-overlay{{#if @root.data.primaryResponse.hits.hits.[0]._source.hide_overlay}} splash-overlay-hidden{{/if}}">
      <div class="container-fluid">
        <div class="mdc-layout-grid">
          {{#if @root.data.primaryResponse.hits.hits.[0]._source.header_text ~}}
          <img src="{{@root.data.primaryResponse.hits.hits.[0]._source.header_text}}" alt="{{@root.data.primaryResponse.hits.hits.[0]._source.title}}" class="header-text" />
          {{else}}
          <h1 class="header-text">
            <span class="header-text-banner">
              Funding update
              <span class="mdc-typography--caption">
                {{momentFormat (moment (lastItem (split (atob request.params.range) "-")) "x") "Do MMMM YYYY"}}
              </span>
            </span>
          </h1>
          {{/if ~}}
        </div>
        {{> header_caption}}
      </div>
    </div>
  </div>
  <div class="container-fluid page-content">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li><a href="/funding">Funding</a></li>
      <li>Funding update – {{momentFormat (moment (lastItem (split (atob request.params.range) "-")) "x") "Do MMMM YYYY"}}</li>
    </ul>

    <div class="v-margin-full">
      <h3>Welcome to our new SCVO Members Bulletin funding search, courtesy of <a href="http://fundingscotland.com">Funding Scotland</a>.</h3>
      <p>
        Please find all the latest funding opportunities made available over the past two weeks below.
      </p>
    </div>

    <hr />

    <div class="mdc-layout-grid equal-height">
      <div class="mdc-layout-grid__inner">
        {{#each @root.data.primaryResponse.hits.hits ~}}
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          {{{_source.rendered.scvo_list}}}
        </div>
        {{/each ~}}
      </div>
    </div>
    {{> pagination paging=@root.data.primaryResponse.pagination}}
  </div>
</div>
