<div class="trustee">
    <div class="splash-image splash-image-{{primaryResponse.hits.hits.[0]._type}}" style="{{> header_splash_image}}">
        <div class="splash-overlay{{#if primaryResponse.hits.hits.[0]._source.hide_overlay}} splash-overlay-hidden{{/if}}">
            <div class="container-fluid">
                <div class="mdc-layout-grid">
                    {{#if primaryResponse.hits.hits.[0]._source.header_text}}
                    <img src="{{primaryResponse.hits.hits.[0]._source.header_text}}" alt="{{primaryResponse.hits.hits.[0]._source.title}}" class="header-text" />
                    {{else}}
                    <h1 class="header-text">
                        <span class="header-text-banner">
                            Trustee vacancy
                        </span>
                    </h1>
                    {{/if}}
                </div>
                {{> header_caption}}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><a href="/projects-campaigns">Projects &amp; campaigns</a></li>
            <li><a href="/projects-campaigns/terrific-trustees">Terrific trustees</a></li>
            <li><a href="/projects-campaigns/terrific-trustees/search">Trustee vacancy search</a></li>
            <li>{{{primaryResponse.hits.hits.[0]._source.title}}} - {{{primaryResponse.hits.hits.[0]._source.organisation_name}}}</li>
        </ul>
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone sidebar trustee-sidebar">
                    {{> trustee_search}}
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone content trustee-content">
                    {{#with primaryResponse.hits.hits.[0]}}
                    {{{_source.rendered.full}}}
                    {{/with}}
                </div>
            </div>
        </div>
    </div>
</div>
