<!doctype html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">
  <base href="/">
  {{{layoutParts.head}}}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--

  Powered by:
  ███████╗ ██████╗██╗   ██╗ ██████╗ ██╗  ██████╗  ██████╗ ██╗   ██╗████████╗███████╗██████╗
  ██╔════╝██╔════╝██║   ██║██╔═══██╗╚██╗ ██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝██╔════╝██╔══██╗
  ███████╗██║     ██║   ██║██║   ██║ ╚██╗██████╔╝██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
  ╚════██║██║     ╚██╗ ██╔╝██║   ██║ ██╔╝██╔══██╗██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
  ███████║╚██████╗ ╚████╔╝ ╚██████╔╝██╔╝ ██║  ██║╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
  ╚══════╝ ╚═════╝  ╚═══╝   ╚═════╝ ╚═╝  ╚═╝  ╚═╝ ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝

  -->

  <link rel="shortcut icon" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/favicon-16x16.png">
  <link rel="manifest" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/manifest.json">
  <meta name="msapplication-TileColor" content="#3c7524">
  <meta name="msapplication-TileImage" content="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/ms-icon-144x144.png">
  <meta name="theme-color" content="#3c7524">
  <link rel="search" type="application/opensearchdescription+xml" title="Goodmoves" href="/assets/opensearch.xml" />

  <link rel="canonical" href="https://goodmoves.com{{request.params.uri.pathname}}" />
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3467930-6"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-3467930-6', {
    'send_page_view': true,
    'anonymize_ip': true,
    'cookieDomain': 'none',
    'custom_map': {
      'dimension1': 'hit_type',
      'dimension2': 'parent_document'
    }
  });
  {{#ifAny request.params.query.debug (compare request.url.hostname "goodmoves.local") ~}}
  console.log('#### DEBUG MODE ON ####');
  console.log('Request:', {{{regexReplace (regexReplace (stringify request) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  console.log('Route:', {{{regexReplace (regexReplace (stringify route) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  console.log('Data:', {{{regexReplace (regexReplace (stringify data) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  console.log('Menus:', {{{regexReplace (regexReplace (stringify @root.context.metaData.menus) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  {{#if errors.[0]}}
    console.error('Task Errors:', {{{regexReplace (regexReplace (stringify errors) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  {{/if}}
  {{/ifAny ~}}
  </script>
  
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-9ralMzdK1QYsk4yBY680hmsb4/hJ98xK3w0TIaJ3ll4POWpWUYaA2bRjGGujGT8w" crossorigin="anonymous">

  {{#compare @root.request.url.hostname "goodmoves.local" ~}}
    <link type="text/css" rel="stylesheet" href="/assets/goodmoves/main.css">
  {{else}}
    <link type="text/css" rel="stylesheet" href="https://storage.googleapis.com/scvo-assets/goodmoves/main-{{@root.context.metaData.assetsVersion}}.css">
  {{/compare ~}}
</head>
<body class="mdc-theme--site-bg {{#if request.params.path}}{{replace request.params.path '_' ' '}}{{else}}home{{/if}}">
  <goodmoves-site>
    <div class="mdc-typography">
      {{#ifAny request.params.query.debug (compare request.url.hostname "goodmoves.local") ~}}
        {{#if errors.[0]}}
          <div style="z-index:100;position:fixed;top:0;right:0;padding:5px;background-color:#ff0000;color:#ffffff;">
            Route Task Errors (F12)
          </div>
        {{/if}}
        {{#if logs.[0]}}
          <div style="z-index:100;position:fixed;bottom:0;right:0;padding:5px;background-color:#0000ff;color:#ffffff;"
               onclick="document.querySelector('#route-debug-log').style.display='block';">
            Route Log
          </div>
          <div style="z-index:100;position:fixed;bottom:0;left:0;right:0;padding:5px;background-color:#ededed;color:#000000;overflow:auto;height:50vh;display:none;border-top:1px solid #cccccc;" id="route-debug-log">
            <a style="position:fixed;right:25px;" onclick="document.querySelector('#route-debug-log').style.display='none';">x</a>
<pre style="white-space: pre-wrap;">
{{~#each logs}}
{{{this}}}

{{/each~}}
</pre>
          </div>
        {{/if}}
      {{/ifAny}}
      <header class="mdc-top-app-bar mdc-elevation--z5 top-bar-stuck" id="top-bar">
        <div class="container-fluid">
          <div class="mdc-top-app-bar__row mdc-top-app-bar__upper">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
              {{#unless @root.route.metaData.hideSearch ~}}
              {{#compare @root.route.name "!==" "home" ~}}
              <button class="mdc-top-app-bar__navigation-icon hide-lg filter-search-button" id="sidebar-button" title="Search">
                <span class="far fa-fw fa-2x fa-search"></span>
              </button>
              {{/compare ~}}
              {{/unless ~}}
              <span class="mdc-top-app-bar__title">
                {{> logo link="true"}}
              </span>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
              <button class="mdc-top-app-bar__navigation-icon hide-lg" data-drawer-target="#mobile-menu">
                <span class="far fa-fw fa-2x fa-bars"></span>
              </button>
              {{#>components_tab_bar
                  extraClasses="mdc-tab-bar__auto-width hide-sm hide-md"
                  id="upper-tab-bar"}}
                {{#if @root.data.auth ~}}
                  {{#each @root.context.metaData.menus.upper-signed-in ~}}
                    {{>components_tab
                        url=(stripTrailingSlash path)
                        active=(regexMatch @root.request.url.pathname route "gi")
                        label=label}}
                  {{/each ~}}
                {{else}}
                  {{#each @root.context.metaData.menus.upper-not-signed-in ~}}
                    {{>components_tab
                        url=(stripTrailingSlash path)
                        active=(regexMatch @root.request.url.pathname route "gi")
                        label=label}}
                  {{/each ~}}
                {{/if ~}}
                {{#each @root.context.metaData.menus.upper ~}}
                  {{>components_tab
                      url=(stripTrailingSlash path)
                      active=(regexMatch @root.request.url.pathname route "gi")
                      label=label}}
                {{/each ~}}
              {{/components_tab_bar}}
            </section>
          </div>
          <div class="mdc-top-app-bar__row mdc-top-app-bar__lower hide-sm hide-md">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start mdc-top-app-bar__main">
              {{#>components_tab_bar
                  extraClasses="mdc-tab-bar__auto-width"
                  id="main-tab-bar"}}
                {{#each @root.context.metaData.menus.main ~}}
                  {{>components_tab
                      url=(stripTrailingSlash path)
                      labelClasses="mdc-theme--on-primary"
                      active=(regexMatch @root.request.url.pathname route "gi")
                      label=label}}
                {{/each ~}}
                {{#each @root.context.metaData.menus.main-extra ~}}
                  {{>components_tab
                      url=(stripTrailingSlash path)
                      labelClasses="mdc-theme--on-primary"
                      active=(regexMatch @root.request.url.pathname route "gi")
                      label=label}}
                {{/each ~}}
              {{/components_tab_bar}}
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end mdc-top-app-bar__user">
              {{#if @root.data.auth ~}}
                {{#>components_anchored_menu
                    buttonClasses="mdc-theme--on-primary"
                    imageUrl=(default @root.data.auth.photoURL false)
                    imageClasses="far fa-fw user-avatar"
                    iconClasses=(if (if @root.data.auth.photoURL false else=true) "far fa-fw fa-user-circle" else=false)
                    buttonLabel=@root.data.auth.email
                    arrowClasses="far fa-fw fa-angle-down"}}
                  {{#each @root.context.metaData.menus.user-signed-in ~}}
                    <a class="mdc-list-item {{#if (regexMatch @root.request.url.pathname route "gi")}} mdc-list-item--activated{{/if}}" href="{{stripTrailingSlash path}}" role="menuitem">
                      {{#if icon ~}}
                      <span class="far fa-{{icon}} mdc-list-item__graphic" aria-hidden="true"></span>
                      {{/if ~}}
                      {{{label}}}
                    </a>
                  {{/each ~}}
                {{/components_anchored_menu}}
              {{else}}
                {{#>components_tab_bar
                    extraClasses="mdc-tab-bar__auto-width"
                    id="user-not-signed-in-tab-bar"}}
                  {{#each @root.context.metaData.menus.user-not-signed-in ~}}
                    {{>components_tab
                        url=(stripTrailingSlash path)
                        labelClasses="mdc-theme--on-primary"
                        active=(regexMatch @root.request.url.pathname route "gi")
                        label=label}}
                  {{/each}}
                {{/components_tab_bar}}
              {{/if ~}}
            </section>
          </div>
        </div>
      </header>

      <aside class="mdc-drawer mdc-drawer--modal" id="mobile-menu" data-mdc-auto-init="MDCDrawer">
        <div class="mdc-drawer__content">
          <nav class="mdc-list">
            <a class="mdc-list-item {{#compare @root.request.url.pathname "/"}} mdc-list-item--activated{{/compare}}"
               href="/" aria-selected="true" tabindex="1">
              <span class="far fa-home mdc-list-item__graphic" aria-hidden="true"></span>
              Home
            </a>
            {{#each @root.context.metaData.menus.main ~}}
            <a class="mdc-list-item {{#if (regexMatch @root.request.url.pathname route "gi")}} mdc-list-item--activated{{/if}}"
               href="{{stripTrailingSlash path}}" {{#if (regexMatch @root.request.url.pathname route "gi")}}aria-selected="true"{{else}}aria-hidden="true"{{/if}}>
              {{#if icon ~}}
              <span class="far fa-{{icon}} mdc-list-item__graphic" aria-hidden="true"></span>
              {{/if ~}}
              {{{label}}}
            </a>
            {{/each ~}}
            {{#each @root.context.metaData.menus.upper ~}}
            <a class="mdc-list-item {{#if (regexMatch @root.request.url.pathname route "gi")}} mdc-list-item--activated{{/if}}"
               href="{{stripTrailingSlash path}}" {{#if (regexMatch @root.request.url.pathname route "gi")}}aria-selected="true"{{else}}aria-hidden="true"{{/if}}>
              {{#if icon ~}}
              <span class="far fa-{{icon}} mdc-list-item__graphic" aria-hidden="true"></span>
              {{/if ~}}
              {{{label}}}
            </a>
            {{/each ~}}
            {{#each @root.context.metaData.menus.main-extra ~}}
            <a class="mdc-list-item {{#if (regexMatch @root.request.url.pathname route "gi")}} mdc-list-item--activated{{/if}}"
               href="{{stripTrailingSlash path}}" {{#if (regexMatch @root.request.url.pathname route "gi")}}aria-selected="true"{{else}}aria-hidden="true"{{/if}}>
              {{#if icon ~}}
              <span class="far fa-{{icon}} mdc-list-item__graphic" aria-hidden="true"></span>
              {{/if ~}}
              {{{label}}}
            </a>
            {{/each ~}}
            <div role="separator" class="mdc-list-divider"></div>
            {{#if @root.data.auth ~}}
            {{#each @root.context.metaData.menus.user-signed-in ~}}
            {{#compare path "===" "/" ~}}
            {{else}}
            <a class="mdc-list-item {{#if (regexMatch @root.request.url.pathname route "gi")}} mdc-list-item--activated{{/if}}"
               href="{{stripTrailingSlash path}}" {{#if (regexMatch @root.request.url.pathname route "gi")}}aria-selected="true"{{else}}aria-hidden="true"{{/if}}>
              {{#if icon ~}}
              <span class="far fa-{{icon}} mdc-list-item__graphic" aria-hidden="true"></span>
              {{/if ~}}
              {{{label}}}
            </a>
            {{/compare ~}}
            {{/each ~}}
            {{else}}
            {{#each @root.context.metaData.menus.user-not-signed-in ~}}
            <a class="mdc-list-item {{#if (regexMatch @root.request.url.pathname route "gi")}} mdc-list-item--activated{{/if}}"
               href="{{stripTrailingSlash path}}" {{#if (regexMatch @root.request.url.pathname route "gi")}}aria-selected="true"{{else}}aria-hidden="true"{{/if}}>
              {{#if icon ~}}
              <span class="far fa-{{icon}} mdc-list-item__graphic" aria-hidden="true"></span>
              {{/if ~}}
              {{{label}}}
            </a>
            {{/each ~}}
            {{/if ~}}
          </nav>
        </div>
      </aside>

      <div class="mdc-drawer-scrim"></div>

      <main class="mdc-theme--background mdc-toolbar-fixed-adjust {{#if layoutParts.sidebar}}drawer-container-permanent{{else}}drawer-container-temporary{{/if}}">
        {{#if layoutParts.sidebar }}
        <aside class="mdc-drawer mdc-elevation--z3 mdc-drawer--occasional" id="sidebar-temporary" data-menu-button=".filter-search-button">
          {{{layoutParts.sidebar}}}
        </aside>
        <div class="mdc-drawer-scrim"></div>
        {{/if}}
        {{{layoutParts.body}}}
      </main>

      <footer class="mdc-layout__footer">
        <div class="footer-main">
          <div class="container-fluid">
            <div class="mdc-layout-grid">
              <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone contact">
                  <h3>Contact</h3>
                  <ul class="fa-ul">
                    <li>
                      <span class="fa-li"><span class="fas fa-envelope"></span></span>
                      <a href="mailto:enquiries@goodmoves.org.uk">enquiries@goodmoves.org.uk</a>
                    </li>
                    <li>
                      <span class="fa-li"><span class="fas fa-phone"></span></span>
                      <a href="tel:+448000192149">0800&nbsp;0192&nbsp;149</a>
                    </li>
                    <li>
                      <span class="fa-li"><span class="fab fa-twitter"></span></span>
                      <a href="https://twitter.com/goodmovesjobs" target="_blank">Twitter</a>
                    </li>
                  </ul>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone help">
                  <h3>Help</h3>
                  <ul class="mdc-list">
                    {{#each @root.context.metaData.menus.footer-help ~}}
                    <li class="mdc-list-item">
                      <a href="{{path}}">{{{label}}}</a>
                    </li>
                    {{/each ~}}
                    <div id="google_translate_element"></div>
                  </ul>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone info">
                  <h3>Information</h3>
                  <ul class="mdc-list">
                    {{#each @root.context.metaData.menus.footer-info ~}}
                    <li class="mdc-list-item">
                      <a href="{{path}}">{{{label}}}</a>
                    </li>
                    {{/each ~}}
                  </ul>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone about">
                  <h3>About</h3>
                  <p>
                    <strong>Goodmoves</strong> is the premier careers hub for the civil society, charity and voluntary sector &ndash; run by the <a href="https://scvo.org">Scottish Council for Voluntary Organisations</a>.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container-fluid">
            <div class="mdc-layout-grid">
              <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone">
                  <p>
                    &copy; {{momentFormat (moment) "YYYY"}}. The Scottish Council for Voluntary Organisations (SCVO) is a Scottish Charitable Incorporated Organisation.<br />
                    Charity registered in Scotland <a href="https://www.oscr.org.uk/about-charities/search-the-register/charity-details?number=SC003558">SC003558</a>. Registered office Mansfield Traquair Centre, 15 Mansfield Place, Edinburgh EH3 6BB.
                  </p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-4-phone">
                  <a href="https://scvo.org" class="brand-logo" title="Scottish Council for Voluntary Organisations">
                    <img src="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/logos/scvo.png" alt="Scottish Council for Voluntary Organisations" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="mdc-snackbar mdc-elevation--z10"
         aria-live="assertive"
         aria-atomic="true"
         aria-hidden="true"
         id="app-snackbar">
      <div class="mdc-snackbar__text"></div>
      <div class="mdc-snackbar__action-wrapper">
        <button type="button" class="mdc-snackbar__action-button"></button>
      </div>
    </div>
  </goodmoves-site>

  <script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement(
      {
        pageLanguage: 'en',
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
        gaTrack: true,
        gaId: 'UA-3467930-6'
      },
      'google_translate_element'
    );
  }
  </script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <script type="text/javascript">
  var $buoop = {required:{e:-3,f:-3,o:-3,s:-1,c:-3},insecure:true,unsupported:true,api:2018.07 };
  function $buo_f(){
    var e = document.createElement("script");
    e.src = "//browser-update.org/update.min.js";
    document.body.appendChild(e);
  };
  try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
  catch(e){window.attachEvent("onload", $buo_f)}
  </script>

  {{#compare request.url.hostname "goodmoves.local"}}
    <script type="text/javascript" src="/assets/goodmoves/main.js"></script>
  {{else}}
    <script type="text/javascript" src="https://storage.googleapis.com/scvo-assets/goodmoves/main-{{@root.context.metaData.assetsVersion}}.js"></script>
  {{/compare}}

  <script>
    var goodmoves = null; readyListeners = [];
    $(document).ready(function() {
      goodmoves = new Goodmoves.Goodmoves({
        apiKey: "AIzaSyAuGAacoIdUgbtfI42UXTHDosMS4pP5Teg",
        authDomain: "auth.goodmoves.com",
        databaseURL: "https://goodmoves-frontend.firebaseio.com",
        projectId: "goodmoves-frontend",
        storageBucket: "goodmoves-frontend.appspot.com",
        messagingSenderId: "639831727728"
      });
      ready = true;
      readyListeners.forEach(function(listener) {
        listener();
      });
    });

    function registerReadyListener(listener) {
      if (goodmoves) {
        listener();
      } else {
        readyListeners.push(listener);
      }
    }

    function initMap() {
      registerReadyListener(function() {
        goodmoves.componentsInitialiser.initialiseGMapsDependents('AIzaSyCT7vZkJdto5JoAUDx3asuHu7mHcl8UanQ');
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJdxcQpVKQ6HdrjnPXycUoZqsmp-Ep3l0&libraries=places&region=uk&callback=initMap" async defer></script>

  {{{layoutParts.foot}}}
</body>
</html>
