<!doctype html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">
  <base href="/">
  {{{layoutParts.head}}}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--

  Powered by:
  ███████╗ ██████╗██╗   ██╗ ██████╗ ██╗  ██████╗  ██████╗ ██╗   ██╗████████╗███████╗██████╗
  ██╔════╝██╔════╝██║   ██║██╔═══██╗╚██╗ ██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝██╔════╝██╔══██╗
  ███████╗██║     ██║   ██║██║   ██║ ╚██╗██████╔╝██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
  ╚════██║██║     ╚██╗ ██╔╝██║   ██║ ██╔╝██╔══██╗██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
  ███████║╚██████╗ ╚████╔╝ ╚██████╔╝██╔╝ ██║  ██║╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
  ╚══════╝ ╚═════╝  ╚═══╝   ╚═════╝ ╚═╝  ╚═╝  ╚═╝ ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝

-->

<link rel="shortcut icon" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/favicon-16x16.png">
<link rel="manifest" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/manifest.json">
<meta name="msapplication-TileColor" content="#3c7524">
<meta name="msapplication-TileImage" content="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/goodmoves/ms-icon-144x144.png">
<meta name="theme-color" content="#3c7524">
<link rel="search" type="application/opensearchdescription+xml" title="Goodmoves" href="/assets/opensearch.xml" />

<link rel="canonical" href="https://goodmoves.com{{request.params.uri.pathname}}" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-3467930-6"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

// NEEDS TO BE SET UP WITH THE CORRECT TRACKING ID
gtag('config', 'UA-3467930-6', { 'send_page_view': true, 'anonymize_ip': true });

{{#each route.primaryResponse.hits.hits ~}}
gtag('event', 'document_hit', {
  'event_category': '{{_type}}',
  'event_label': '{{_id}}'
});
{{/each ~}}

{{#ifAny request.params.query.debug (compare request.url.hostname "goodmoves.local") ~}}
console.log('#### DEBUG MODE ON ####');
console.log('Request:', {{{regexReplace (regexReplace (stringify request) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
console.log('Route:', {{{regexReplace (regexReplace (stringify route) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
console.log('Data:', {{{regexReplace (regexReplace (stringify data) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
console.log('Menus:', {{{regexReplace (regexReplace (stringify @root.context.metaData.menus) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
{{#if errors.[0]}}
  console.error('Task Errors:', {{{regexReplace (regexReplace (stringify errors) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
{{/if}}
{{/ifAny ~}}
</script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-TXfwrfuHVznxCssTxWoPZjhcss/hp38gEOH8UPZG/JcXonvBQ6SlsIF49wUzsGno" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="/assets/css/goodmoves-styles.css">
<script>
if(location.host.indexOf('.local') > -1){
  //document.write('<script src="https://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
}
</script>
</head>
<body class="mdc-theme--site-bg {{#if request.params.path}}{{replace request.params.path '_' ' '}}{{else}}home{{/if}}">
  <goodmoves-site>
    <div class="mdc-typography">
      {{#ifAny request.params.query.debug (compare request.url.hostname "goodmoves.local") ~}}
        {{#if errors.[0]}}
          <div style="z-index:100;position:fixed;top:0;right:0;padding:5px;background-color:#ff0000;color:#ffffff;">
            Route Task Errors (F12)
          </div>
        {{/if}}
      {{/ifAny}}
      <header class="mdc-top-app-bar mdc-elevation--z5 top-bar-stuck" id="top-bar">
        <div class="container-fluid">
          <div class="mdc-top-app-bar__row mdc-top-app-bar__upper">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
              <button class="mdc-top-app-bar__navigation-icon hide-lg" data-drawer-target="#mobile-menu">
                <span class="far fa-fw fa-2x fa-bars"></span>
              </button>
              {{#unless route.metaData.hideSearch}}
              <button class="mdc-top-app-bar__navigation-icon hide-lg" data-drawer-target="#sidebar-temporary" title="Search">
                <span class="far fa-fw fa-2x fa-search"></span>
              </button>
              {{/unless}}
              <span class="mdc-top-app-bar__title">
                <a href="/" title="Goodmoves">
                  <svg width="260" height="48" xmlns="http://www.w3.org/2000/svg">
                    <metadata id="metadata7">image/svg+xml</metadata>
                    <g transform="scale(0.80)">
                      <title>Goodmoves</title>
                      <g font-style="normal" font-weight="normal" font-size="40px" font-family="sans-serif" fill="#42842A" stroke-width="1px" id="flowRoot3336">
                        <path id="path4662" d="m24.360004,27.719999q0,-3.9 -2.16,-6.12q-2.16,-2.22 -5.34,-2.22q-3.18,0 -5.52,2.22q-2.28,2.22 -2.28,6.06q0,3.84 2.22,6.24q2.28,2.34 5.52,2.34q3.24,0 5.4,-2.34q2.16,-2.34 2.16,-6.18zm1.26,11.34q-4.26,4.74 -10.62,4.74q-6.3,0 -10.68,-4.26q-4.32,-4.32 -4.32,-11.46q0,-7.2 4.44,-11.76q4.5,-4.62 10.26,-4.62q5.76,0 9.54,4.74l0,-4.26l9,0l0,28.14q0,4.32 -1.5,7.68q-1.5,3.36 -4.02,5.28q-4.98,3.96 -11.76,3.96q-3.6,0 -7.38,-1.2q-3.72,-1.14 -6.54,-3.3l3.48,-6.78q4.44,3.36 9.36,3.36q4.98,0 7.86,-2.46q2.88,-2.46 2.88,-7.8z"
                        />
                        <path id="path4664" d="m42.848124,28.379999q0,3.96 2.22,6.48q2.28,2.46 5.76,2.46q3.54,0 5.76,-2.46q2.28,-2.52 2.28,-6.48q0,-3.96 -2.28,-6.48q-2.22,-2.52 -5.76,-2.52q-3.48,0 -5.76,2.52q-2.22,2.52 -2.22,6.48zm25.08,0q0,7.02 -4.86,11.82q-4.86,4.8 -12.24,4.8q-7.32,0 -12.18,-4.8q-4.86,-4.8 -4.86,-11.82q0,-7.02 4.86,-11.82q4.86,-4.86 12.18,-4.86q7.38,0 12.24,4.86q4.86,4.8 4.86,11.82z"
                        />
                        <path id="path4666" d="m77.334374,28.379999q0,3.96 2.22,6.48q2.28,2.46 5.76,2.46q3.54,0 5.76,-2.46q2.28,-2.52 2.28,-6.48q0,-3.96 -2.28,-6.48q-2.22,-2.52 -5.76,-2.52q-3.48,0 -5.76,2.52q-2.22,2.52 -2.22,6.48zm25.08,0q0,7.02 -4.86,11.82q-4.86,4.8 -12.24,4.8q-7.32,0 -12.18,-4.8q-4.86,-4.8 -4.86,-11.82q0,-7.02 4.86,-11.82q4.86,-4.86 12.18,-4.86q7.38,0 12.24,4.86q4.86,4.8 4.86,11.82z"
                        />
                        <path id="path4668" d="m117.520624,44.999999q-5.7,0 -10.2,-4.86q-4.5,-4.86 -4.5,-12.06q0,-7.2 4.38,-11.76q4.38,-4.62 10.26,-4.62q5.88,0 9.6,4.14l0,-15.84l9,0l0,44.52l-9,0l0,-4.26q-3.78,4.74 -9.54,4.74zm-5.64,-16.56q0,3.9 2.34,6.42q2.34,2.46 5.46,2.46q3.12,0 5.28,-2.46q2.22,-2.52 2.22,-6.42q0,-3.96 -2.22,-6.54q-2.16,-2.64 -5.34,-2.64q-3.18,0 -5.46,2.64q-2.28,2.64 -2.28,6.54z"
                        />
                        <path id="path4670" d="m147.481554,27.239999l0,17.28l-6.72,0l0,-31.92l6.72,0l0,5.82q1.44,-2.94 4.32,-4.62q2.94,-1.68 6.3,-1.68q7.56,0 10.26,6.24q4.74,-6.24 11.82,-6.24q5.4,0 8.7,3.3q3.36,3.3 3.36,9.54l0,19.56l-6.72,0l0,-17.52q0,-8.82 -7.32,-8.82q-3.42,0 -6,2.22q-2.52,2.16 -2.64,6.36l0,17.76l-6.72,0l0,-17.52q0,-4.56 -1.62,-6.66q-1.62,-2.16 -5.1,-2.16q-3.48,0 -6.06,2.34q-2.58,2.28 -2.58,6.72z"
                        />
                        <path id="path4672" d="m204.601874,36.119999q2.88,2.88 7.26,2.88q4.38,0 7.2,-2.88q2.88,-2.94 2.88,-7.56q0,-4.62 -2.88,-7.5q-2.82,-2.94 -7.2,-2.94q-4.38,0 -7.26,2.94q-2.82,2.88 -2.82,7.5q0,4.62 2.82,7.56zm19.26,4.14q-4.8,4.74 -12,4.74q-7.2,0 -12,-4.74q-4.8,-4.8 -4.8,-11.7q0,-6.9 4.8,-11.64q4.8,-4.8 12,-4.8q7.2,0 12,4.8q4.8,4.74 4.8,11.64q0,6.9 -4.8,11.7z"
                        />
                        <path id="path4674" d="m239.756554,44.519999l-12.84,-31.92l6.96,0l9.72,24.12l9.72,-24.12l6.96,0l-12.84,31.92l-7.68,0z" />
                        <path id="path4676" d="m290.912494,31.499999l-25.02,0q0.24,3.48 3.18,5.64q2.94,2.1 6.72,2.1q6,0 9.12,-3.78l3.84,4.2q-5.16,5.34 -13.44,5.34q-6.72,0 -11.46,-4.44q-4.68,-4.5 -4.68,-12q0,-7.56 4.8,-12q4.8,-4.44 11.28,-4.44q6.54,0 11.1,3.96q4.56,3.9 4.56,10.8l0,4.62zm-25.02,-5.28l18.3,0q0,-4.02 -2.52,-6.18q-2.52,-2.16 -6.24,-2.16q-3.66,0 -6.6,2.28q-2.94,2.22 -2.94,6.06z"
                        />
                        <path id="path4678" d="m316.56373,34.98q0,4.56 -3.3,7.32q-3.3,2.7 -8.46,2.7q-3.48,0 -7.26,-1.26q-3.72,-1.26 -6.6,-3.54l3.24,-5.22q5.58,4.2 10.8,4.2q2.28,0 3.6,-1.02q1.32,-1.08 1.32,-2.7q0,-2.4 -6.36,-4.32q-0.48,-0.18 -0.72,-0.24q-9.96,-2.7 -9.96,-9q0,-4.44 3.42,-7.08q3.48,-2.7 9,-2.7q5.52,0 10.44,3.24l-2.52,4.98q-3.9,-2.58 -8.46,-2.58q-2.4,0 -3.9,0.9q-1.5,0.84 -1.5,2.58q0,1.56 1.56,2.28q1.08,0.54 3,1.02q1.98,0.48 3.48,0.96c0.96,0.36 1.92,0.72 2.88,1.08q1.44,0.6 3.06,1.68q3.24,2.16 3.24,6.72z"
                        />
                      </g>
                    </g>
                  </svg>
                </a>
              </span>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
              <nav class="mdc-tab-bar mdc-tab-bar__right hide-sm hide-md" id="upper-tab-bar">
                {{#if @root.data.auth ~}}
                {{#each @root.context.metaData.menus.upper-signed-in ~}}
                <a class="mdc-tab{{#if (regexMatch @root.request.url.pathname route "gi")}} mdc-tab--active{{/if}}" href="{{stripTrailingSlash path}}">
                  <span class="mdc-tab--label">{{{label}}}</span>
                </a>
                {{/each ~}}
                {{else}}
                {{#each @root.context.metaData.menus.upper-not-signed-in ~}}
                <a class="mdc-tab{{#if (regexMatch @root.request.url.pathname route "gi")}} mdc-tab--active{{/if}}" href="{{stripTrailingSlash path}}">
                  <span class="mdc-tab--label">{{{label}}}</span>
                </a>
                {{/each ~}}
                {{/if ~}}
                {{#each @root.context.metaData.menus.upper ~}}
                <a class="mdc-tab{{#if (regexMatch @root.request.url.pathname route "gi")}} mdc-tab--active{{/if}}" href="{{stripTrailingSlash path}}">
                  <span class="mdc-tab--label">{{{label}}}</span>
                </a>
                {{/each ~}}
              </nav>
            </section>
          </div>
          <div class="mdc-top-app-bar__row mdc-top-app-bar__lower hide-sm hide-md">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start mdc-top-app-bar__main">
              <nav class="mdc-tab-bar mdc-tab-bar__left" id="main-tab-bar">
                {{#each @root.context.metaData.menus.main ~}}
                <a class="mdc-tab{{#if (regexMatch @root.request.url.pathname route "gi")}} mdc-tab--active{{/if}}" href="{{stripTrailingSlash path}}">
                  <span class="mdc-tab--label">{{{label}}}</span>
                </a>
                {{/each ~}}
              </nav>
              <nav class="mdc-tab-bar mdc-tab-bar__left" id="main-extra-tab-bar">
                {{#each @root.context.metaData.menus.main-extra ~}}
                <a class="mdc-tab{{#if (regexMatch @root.request.url.pathname route "gi")}} mdc-tab--active{{/if}}" href="{{stripTrailingSlash path}}">
                  <span class="mdc-tab--label">{{{label}}}</span>
                </a>
                {{/each ~}}
              </nav>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end mdc-top-app-bar__user">
              {{#if @root.data.auth ~}}
              <div class="mdc-menu-anchor">
                <button class="mdc-button" data-menu-target="#user-menu">
                  {{#if @root.data.auth.photoURL ~}}
                  <img src="{{data.auth.photoURL}}" class="far fa-fw user-avatar" />
                  {{else}}
                  <span class="far fa-fw fa-user-circle"></span>
                  {{/if ~}}
                  {{{data.auth.email}}}
                  <span class="far fa-fw fa-angle-down"></span>
                </button>
                <div class="mdc-menu" tabindex="-1" data-mdc-auto-init="MDCMenu" id="user-menu">
                  <div class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
                    {{#each @root.context.metaData.menus.user-signed-in ~}}
                    <a class="mdc-list-item {{#if (regexMatch @root.request.url.pathname route "gi")}} mdc-list-item--activated{{/if}}" href="{{stripTrailingSlash path}}" role="menuitem">
                      {{#if icon ~}}
                      <span class="far fa-{{icon}} mdc-list-item__graphic" aria-hidden="true"></span>
                      {{/if ~}}
                      {{{label}}}
                    </a>
                    {{/each ~}}
                  </div>
                </div>
              </div>
              {{else}}
              <nav class="mdc-tab-bar mdc-tab-bar__right" id="user-not-signed-in-tab-bar">
                {{#each @root.context.metaData.menus.user-not-signed-in ~}}
                <a class="mdc-tab{{#if (regexMatch @root.request.url.pathname route "gi")}} mdc-tab--active{{/if}}" href="{{stripTrailingSlash path}}">
                  <span class="mdc-tab--label">{{{label}}}</span>
                </a>
                {{/each ~}}
              </nav>
              {{/if ~}}
            </section>
          </div>
        </div>
      </header>

      <aside class="mdc-drawer mdc-drawer--temporary" id="mobile-menu" data-mdc-auto-init="MDCTemporaryDrawer">
        <nav class="mdc-drawer__drawer">
          <div class="mdc-drawer__header">
            <div class="mdc-drawer__header-content">
              <a href="/" title="Goodmoves">
                <svg width="222" height="42" xmlns="http://www.w3.org/2000/svg">
                  <metadata id="metadata7">image/svg+xml</metadata>
                  <g transform="scale(0.70)">
                    <title>Goodmoves</title>
                    <g font-style="normal" font-weight="normal" font-size="40px" font-family="sans-serif" fill="#ffffff" stroke-width="1px" id="flowRoot3336">
                      <path id="path4662" d="m24.360004,27.719999q0,-3.9 -2.16,-6.12q-2.16,-2.22 -5.34,-2.22q-3.18,0 -5.52,2.22q-2.28,2.22 -2.28,6.06q0,3.84 2.22,6.24q2.28,2.34 5.52,2.34q3.24,0 5.4,-2.34q2.16,-2.34 2.16,-6.18zm1.26,11.34q-4.26,4.74 -10.62,4.74q-6.3,0 -10.68,-4.26q-4.32,-4.32 -4.32,-11.46q0,-7.2 4.44,-11.76q4.5,-4.62 10.26,-4.62q5.76,0 9.54,4.74l0,-4.26l9,0l0,28.14q0,4.32 -1.5,7.68q-1.5,3.36 -4.02,5.28q-4.98,3.96 -11.76,3.96q-3.6,0 -7.38,-1.2q-3.72,-1.14 -6.54,-3.3l3.48,-6.78q4.44,3.36 9.36,3.36q4.98,0 7.86,-2.46q2.88,-2.46 2.88,-7.8z"
                      />
                      <path id="path4664" d="m42.848124,28.379999q0,3.96 2.22,6.48q2.28,2.46 5.76,2.46q3.54,0 5.76,-2.46q2.28,-2.52 2.28,-6.48q0,-3.96 -2.28,-6.48q-2.22,-2.52 -5.76,-2.52q-3.48,0 -5.76,2.52q-2.22,2.52 -2.22,6.48zm25.08,0q0,7.02 -4.86,11.82q-4.86,4.8 -12.24,4.8q-7.32,0 -12.18,-4.8q-4.86,-4.8 -4.86,-11.82q0,-7.02 4.86,-11.82q4.86,-4.86 12.18,-4.86q7.38,0 12.24,4.86q4.86,4.8 4.86,11.82z"
                      />
                      <path id="path4666" d="m77.334374,28.379999q0,3.96 2.22,6.48q2.28,2.46 5.76,2.46q3.54,0 5.76,-2.46q2.28,-2.52 2.28,-6.48q0,-3.96 -2.28,-6.48q-2.22,-2.52 -5.76,-2.52q-3.48,0 -5.76,2.52q-2.22,2.52 -2.22,6.48zm25.08,0q0,7.02 -4.86,11.82q-4.86,4.8 -12.24,4.8q-7.32,0 -12.18,-4.8q-4.86,-4.8 -4.86,-11.82q0,-7.02 4.86,-11.82q4.86,-4.86 12.18,-4.86q7.38,0 12.24,4.86q4.86,4.8 4.86,11.82z"
                      />
                      <path id="path4668" d="m117.520624,44.999999q-5.7,0 -10.2,-4.86q-4.5,-4.86 -4.5,-12.06q0,-7.2 4.38,-11.76q4.38,-4.62 10.26,-4.62q5.88,0 9.6,4.14l0,-15.84l9,0l0,44.52l-9,0l0,-4.26q-3.78,4.74 -9.54,4.74zm-5.64,-16.56q0,3.9 2.34,6.42q2.34,2.46 5.46,2.46q3.12,0 5.28,-2.46q2.22,-2.52 2.22,-6.42q0,-3.96 -2.22,-6.54q-2.16,-2.64 -5.34,-2.64q-3.18,0 -5.46,2.64q-2.28,2.64 -2.28,6.54z"
                      />
                      <path id="path4670" d="m147.481554,27.239999l0,17.28l-6.72,0l0,-31.92l6.72,0l0,5.82q1.44,-2.94 4.32,-4.62q2.94,-1.68 6.3,-1.68q7.56,0 10.26,6.24q4.74,-6.24 11.82,-6.24q5.4,0 8.7,3.3q3.36,3.3 3.36,9.54l0,19.56l-6.72,0l0,-17.52q0,-8.82 -7.32,-8.82q-3.42,0 -6,2.22q-2.52,2.16 -2.64,6.36l0,17.76l-6.72,0l0,-17.52q0,-4.56 -1.62,-6.66q-1.62,-2.16 -5.1,-2.16q-3.48,0 -6.06,2.34q-2.58,2.28 -2.58,6.72z"
                      />
                      <path id="path4672" d="m204.601874,36.119999q2.88,2.88 7.26,2.88q4.38,0 7.2,-2.88q2.88,-2.94 2.88,-7.56q0,-4.62 -2.88,-7.5q-2.82,-2.94 -7.2,-2.94q-4.38,0 -7.26,2.94q-2.82,2.88 -2.82,7.5q0,4.62 2.82,7.56zm19.26,4.14q-4.8,4.74 -12,4.74q-7.2,0 -12,-4.74q-4.8,-4.8 -4.8,-11.7q0,-6.9 4.8,-11.64q4.8,-4.8 12,-4.8q7.2,0 12,4.8q4.8,4.74 4.8,11.64q0,6.9 -4.8,11.7z"
                      />
                      <path id="path4674" d="m239.756554,44.519999l-12.84,-31.92l6.96,0l9.72,24.12l9.72,-24.12l6.96,0l-12.84,31.92l-7.68,0z" />
                      <path id="path4676" d="m290.912494,31.499999l-25.02,0q0.24,3.48 3.18,5.64q2.94,2.1 6.72,2.1q6,0 9.12,-3.78l3.84,4.2q-5.16,5.34 -13.44,5.34q-6.72,0 -11.46,-4.44q-4.68,-4.5 -4.68,-12q0,-7.56 4.8,-12q4.8,-4.44 11.28,-4.44q6.54,0 11.1,3.96q4.56,3.9 4.56,10.8l0,4.62zm-25.02,-5.28l18.3,0q0,-4.02 -2.52,-6.18q-2.52,-2.16 -6.24,-2.16q-3.66,0 -6.6,2.28q-2.94,2.22 -2.94,6.06z"
                      />
                      <path id="path4678" d="m316.56373,34.98q0,4.56 -3.3,7.32q-3.3,2.7 -8.46,2.7q-3.48,0 -7.26,-1.26q-3.72,-1.26 -6.6,-3.54l3.24,-5.22q5.58,4.2 10.8,4.2q2.28,0 3.6,-1.02q1.32,-1.08 1.32,-2.7q0,-2.4 -6.36,-4.32q-0.48,-0.18 -0.72,-0.24q-9.96,-2.7 -9.96,-9q0,-4.44 3.42,-7.08q3.48,-2.7 9,-2.7q5.52,0 10.44,3.24l-2.52,4.98q-3.9,-2.58 -8.46,-2.58q-2.4,0 -3.9,0.9q-1.5,0.84 -1.5,2.58q0,1.56 1.56,2.28q1.08,0.54 3,1.02q1.98,0.48 3.48,0.96c0.96,0.36 1.92,0.72 2.88,1.08q1.44,0.6 3.06,1.68q3.24,2.16 3.24,6.72z"
                      />
                    </g>
                  </g>
                </svg>
              </a>
            </div>
          </div>
          <nav class="mdc-drawer__content mdc-list">
            {{#each @root.context.metaData.menus.main ~}}
            <a class="mdc-list-item {{#if (regexMatch @root.request.url.pathname route "gi")}} mdc-list-item--activated{{/if}}" href="{{stripTrailingSlash path}}">
              {{#if icon ~}}
              <span class="far fa-{{icon}} mdc-list-item__graphic" aria-hidden="true"></span>
              {{/if ~}}
              {{{label}}}
            </a>
            {{/each ~}}
            {{#each @root.context.metaData.menus.main-extra ~}}
            <a class="mdc-list-item{{#if (regexMatch @root.request.url.pathname route "gi")}} mdc-list-item--activated{{/if}}" href="{{stripTrailingSlash path}}">
              {{#if icon ~}}
              <span class="far fa-{{icon}} mdc-list-item__graphic" aria-hidden="true"></span>
              {{/if ~}}
              {{{label}}}
            </a>
            {{/each ~}}
            <div role="separator" class="mdc-list-divider"></div>
            {{#if @root.data.auth ~}}
            {{#each @root.context.metaData.menus.user-signed-in ~}}
            {{#compare path "===" "/" ~}}
            {{else}}
            <a class="mdc-list-item{{#if (regexMatch @root.request.url.pathname route "gi")}} mdc-list-item--activated{{/if}}" href="{{stripTrailingSlash path}}">
              {{#if icon ~}}
              <span class="far fa-{{icon}} mdc-list-item__graphic" aria-hidden="true"></span>
              {{/if ~}}
              {{{label}}}
            </a>
            {{/compare ~}}
            {{/each ~}}
            {{else}}
            {{#each @root.context.metaData.menus.user-not-signed-in ~}}
            <a class="mdc-list-item{{#if (regexMatch @root.request.url.pathname route "gi")}} mdc-list-item--activated{{/if}}" href="{{stripTrailingSlash path}}">
              {{#if icon ~}}
              <span class="far fa-{{icon}} mdc-list-item__graphic" aria-hidden="true"></span>
              {{/if ~}}
              {{{label}}}
            </a>
            {{/each ~}}
            {{/if ~}}
          </nav>
        </nav>
      </aside>

      <main class="mdc-theme--background mdc-toolbar-fixed-adjust {{#if layoutParts.sidebar}}drawer-container-permanent{{else}}drawer-container-temporary{{/if}}">
        {{#if layoutParts.sidebar }}
        <aside class="mdc-drawer mdc-drawer--temporary mdc-drawer--occasional mdc-elevation--z3" id="sidebar-temporary" data-mdc-auto-init="MDCTemporaryDrawer">
          <div class="mdc-drawer__drawer">
            <div class="mdc-drawer__header hide-lg">
              <div class="mdc-drawer__header-content">
                <a href="/" title="Goodmoves">
                  <svg width="222" height="42" xmlns="http://www.w3.org/2000/svg">
                    <metadata id="metadata7">image/svg+xml</metadata>
                    <g transform="scale(0.70)">
                      <title>Goodmoves</title>
                      <g font-style="normal" font-weight="normal" font-size="40px" font-family="sans-serif" fill="#ffffff" stroke-width="1px" id="flowRoot3336">
                        <path id="path4662" d="m24.360004,27.719999q0,-3.9 -2.16,-6.12q-2.16,-2.22 -5.34,-2.22q-3.18,0 -5.52,2.22q-2.28,2.22 -2.28,6.06q0,3.84 2.22,6.24q2.28,2.34 5.52,2.34q3.24,0 5.4,-2.34q2.16,-2.34 2.16,-6.18zm1.26,11.34q-4.26,4.74 -10.62,4.74q-6.3,0 -10.68,-4.26q-4.32,-4.32 -4.32,-11.46q0,-7.2 4.44,-11.76q4.5,-4.62 10.26,-4.62q5.76,0 9.54,4.74l0,-4.26l9,0l0,28.14q0,4.32 -1.5,7.68q-1.5,3.36 -4.02,5.28q-4.98,3.96 -11.76,3.96q-3.6,0 -7.38,-1.2q-3.72,-1.14 -6.54,-3.3l3.48,-6.78q4.44,3.36 9.36,3.36q4.98,0 7.86,-2.46q2.88,-2.46 2.88,-7.8z"
                        />
                        <path id="path4664" d="m42.848124,28.379999q0,3.96 2.22,6.48q2.28,2.46 5.76,2.46q3.54,0 5.76,-2.46q2.28,-2.52 2.28,-6.48q0,-3.96 -2.28,-6.48q-2.22,-2.52 -5.76,-2.52q-3.48,0 -5.76,2.52q-2.22,2.52 -2.22,6.48zm25.08,0q0,7.02 -4.86,11.82q-4.86,4.8 -12.24,4.8q-7.32,0 -12.18,-4.8q-4.86,-4.8 -4.86,-11.82q0,-7.02 4.86,-11.82q4.86,-4.86 12.18,-4.86q7.38,0 12.24,4.86q4.86,4.8 4.86,11.82z"
                        />
                        <path id="path4666" d="m77.334374,28.379999q0,3.96 2.22,6.48q2.28,2.46 5.76,2.46q3.54,0 5.76,-2.46q2.28,-2.52 2.28,-6.48q0,-3.96 -2.28,-6.48q-2.22,-2.52 -5.76,-2.52q-3.48,0 -5.76,2.52q-2.22,2.52 -2.22,6.48zm25.08,0q0,7.02 -4.86,11.82q-4.86,4.8 -12.24,4.8q-7.32,0 -12.18,-4.8q-4.86,-4.8 -4.86,-11.82q0,-7.02 4.86,-11.82q4.86,-4.86 12.18,-4.86q7.38,0 12.24,4.86q4.86,4.8 4.86,11.82z"
                        />
                        <path id="path4668" d="m117.520624,44.999999q-5.7,0 -10.2,-4.86q-4.5,-4.86 -4.5,-12.06q0,-7.2 4.38,-11.76q4.38,-4.62 10.26,-4.62q5.88,0 9.6,4.14l0,-15.84l9,0l0,44.52l-9,0l0,-4.26q-3.78,4.74 -9.54,4.74zm-5.64,-16.56q0,3.9 2.34,6.42q2.34,2.46 5.46,2.46q3.12,0 5.28,-2.46q2.22,-2.52 2.22,-6.42q0,-3.96 -2.22,-6.54q-2.16,-2.64 -5.34,-2.64q-3.18,0 -5.46,2.64q-2.28,2.64 -2.28,6.54z"
                        />
                        <path id="path4670" d="m147.481554,27.239999l0,17.28l-6.72,0l0,-31.92l6.72,0l0,5.82q1.44,-2.94 4.32,-4.62q2.94,-1.68 6.3,-1.68q7.56,0 10.26,6.24q4.74,-6.24 11.82,-6.24q5.4,0 8.7,3.3q3.36,3.3 3.36,9.54l0,19.56l-6.72,0l0,-17.52q0,-8.82 -7.32,-8.82q-3.42,0 -6,2.22q-2.52,2.16 -2.64,6.36l0,17.76l-6.72,0l0,-17.52q0,-4.56 -1.62,-6.66q-1.62,-2.16 -5.1,-2.16q-3.48,0 -6.06,2.34q-2.58,2.28 -2.58,6.72z"
                        />
                        <path id="path4672" d="m204.601874,36.119999q2.88,2.88 7.26,2.88q4.38,0 7.2,-2.88q2.88,-2.94 2.88,-7.56q0,-4.62 -2.88,-7.5q-2.82,-2.94 -7.2,-2.94q-4.38,0 -7.26,2.94q-2.82,2.88 -2.82,7.5q0,4.62 2.82,7.56zm19.26,4.14q-4.8,4.74 -12,4.74q-7.2,0 -12,-4.74q-4.8,-4.8 -4.8,-11.7q0,-6.9 4.8,-11.64q4.8,-4.8 12,-4.8q7.2,0 12,4.8q4.8,4.74 4.8,11.64q0,6.9 -4.8,11.7z"
                        />
                        <path id="path4674" d="m239.756554,44.519999l-12.84,-31.92l6.96,0l9.72,24.12l9.72,-24.12l6.96,0l-12.84,31.92l-7.68,0z" />
                        <path id="path4676" d="m290.912494,31.499999l-25.02,0q0.24,3.48 3.18,5.64q2.94,2.1 6.72,2.1q6,0 9.12,-3.78l3.84,4.2q-5.16,5.34 -13.44,5.34q-6.72,0 -11.46,-4.44q-4.68,-4.5 -4.68,-12q0,-7.56 4.8,-12q4.8,-4.44 11.28,-4.44q6.54,0 11.1,3.96q4.56,3.9 4.56,10.8l0,4.62zm-25.02,-5.28l18.3,0q0,-4.02 -2.52,-6.18q-2.52,-2.16 -6.24,-2.16q-3.66,0 -6.6,2.28q-2.94,2.22 -2.94,6.06z"
                        />
                        <path id="path4678" d="m316.56373,34.98q0,4.56 -3.3,7.32q-3.3,2.7 -8.46,2.7q-3.48,0 -7.26,-1.26q-3.72,-1.26 -6.6,-3.54l3.24,-5.22q5.58,4.2 10.8,4.2q2.28,0 3.6,-1.02q1.32,-1.08 1.32,-2.7q0,-2.4 -6.36,-4.32q-0.48,-0.18 -0.72,-0.24q-9.96,-2.7 -9.96,-9q0,-4.44 3.42,-7.08q3.48,-2.7 9,-2.7q5.52,0 10.44,3.24l-2.52,4.98q-3.9,-2.58 -8.46,-2.58q-2.4,0 -3.9,0.9q-1.5,0.84 -1.5,2.58q0,1.56 1.56,2.28q1.08,0.54 3,1.02q1.98,0.48 3.48,0.96c0.96,0.36 1.92,0.72 2.88,1.08q1.44,0.6 3.06,1.68q3.24,2.16 3.24,6.72z"
                        />
                      </g>
                    </g>
                  </svg>
                </a>
              </div>
            </div>
            {{{layoutParts.sidebar}}}
          </div>
        </aside>
        {{/if}}
        {{{layoutParts.body}}}
      </main>

      <footer class="mdc-layout__footer">
        <div class="footer-main">
          <div class="container-fluid">
            <div class="mdc-layout-grid">
              <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone contact">
                  <h3>Contact</h3>
                  <ul class="fa-ul">
                    <li>
                      <span class="fa-li"><span class="fas fa-envelope"></span></span>
                      <a href="mailto:enquiries@goodmoves.org.uk">enquiries@goodmoves.org.uk</a>
                    </li>
                    <li>
                      <span class="fa-li"><span class="fas fa-phone"></span></span>
                      <a href="tel:+448000192149">0800&nbsp;0192&nbsp;149</a>
                    </li>
                    <li>
                      <span class="fa-li"><span class="fab fa-twitter"></span></span>
                      <a href="https://twitter.com/goodmovesjobs" target="_blank">Twitter</a>
                    </li>
                  </ul>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone help">
                  <h3>Help</h3>
                  <ul class="mdc-list">
                    {{#each @root.context.metaData.menus.footer-help ~}}
                    <li class="mdc-list-item">
                      <a href="{{path}}">{{{label}}}</a>
                    </li>
                    {{/each ~}}
                    <div id="google_translate_element"></div>
                  </ul>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone info">
                  <h3>Information</h3>
                  <ul class="mdc-list">
                    {{#each @root.context.metaData.menus.footer-info ~}}
                    <li class="mdc-list-item">
                      <a href="{{path}}">{{{label}}}</a>
                    </li>
                    {{/each ~}}
                  </ul>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone about">
                  <h3>About</h3>
                  <p>
                    <strong>Goodmoves</strong> is the premier careers hub for the civil society, charity and voluntary sector &ndash; run by the <a href="https://scvo.org">Scottish Council for Voluntary Organisations</a>.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container-fluid">
            <div class="mdc-layout-grid">
              <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone">
                  <p>
                    &copy; {{momentFormat (moment) "YYYY"}}. The Scottish Council for Voluntary Organisations (SCVO) is a Scottish Charitable Incorporated Organisation.<br />
                    Charity registered in Scotland <a href="https://www.oscr.org.uk/about-charities/search-the-register/charity-details?number=SC003558">SC003558</a>. Registered office Mansfield Traquair Centre, 15 Mansfield Place, Edinburgh EH3 6BB.
                  </p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-4-phone">
                  <a href="https://scvo.org" class="brand-logo" title="Scottish Council for Voluntary Organisations">
                    <img src="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/logos/scvo.png" alt="Scottish Council for Voluntary Organisations" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="mdc-snackbar mdc-elevation--z10"
         aria-live="assertive"
         aria-atomic="true"
         aria-hidden="true"
         id="app-snackbar">
      <div class="mdc-snackbar__text"></div>
      <div class="mdc-snackbar__action-wrapper">
        <button type="button" class="mdc-snackbar__action-button"></button>
      </div>
    </div>
  </goodmoves-site>
  <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-database.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/headroom.min.js"></script>
  {{#if (contains request.url.host '.local')}}
  <script type="text/javascript" src="https://unpkg.com/material-components-web@0.37.1/dist/material-components-web.js"></script>
  {{else}}
  <script type="text/javascript" src="https://unpkg.com/material-components-web@0.37.1/dist/material-components-web.min.js"></script>
  {{/if}}
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@7/dist/polyfill.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/string.js/3.3.3/string.min.js"></script>
  <script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement(
      {
        pageLanguage: 'en',
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
        gaTrack: true,
        gaId: 'UA-3467930-6'
      },
      'google_translate_element'
    );
  }
  </script>
  <script type="text/javascript">
  var $buoop = {required:{e:-3,f:-3,o:-3,s:-1,c:-3},insecure:true,unsupported:true,api:2018.07 };
  function $buo_f(){
   var e = document.createElement("script");
   e.src = "//browser-update.org/update.min.js";
   document.body.appendChild(e);
  };
  try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
  catch(e){window.attachEvent("onload", $buo_f)}
  </script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <script type="text/javascript" id="cookieinfo" src="/assets/js/cookieinfo.min.js" data-message="We use cookies to track anonymous usage statistics and do not collect any personal information that can be used to identify you. By continuing to visit this site you agree to our use of cookies." data-moreinfo="/cookies" data-cookie="CookieInfoScript" data-text-align="left"></script>
  <script type="text/javascript" src="/assets/js/goodmoves/main.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJdxcQpVKQ6HdrjnPXycUoZqsmp-Ep3l0&libraries=places&region=uk&callback=initMap" async defer></script>

  {{{layoutParts.foot}}}
</body>
</html>
