<div class="mdc-card full" data-vacancy-id="{{Id}}">
  {{> vacancy_key_info}}
  <hr class="mdc-list-divider" />
  <div class="mdc-card__actions">
    <div class="mdc-card__action-buttons demo-card__action-buttons--text-only mdc-card__actions--full-bleed">
      <a href="/vacancy/{{slug}}" class="mdc-card__action">Information</a>
      <a href="/vacancy/{{slug}}/documents" class="mdc-card__action">Documents</a>
      <a href="/vacancy/{{slug}}/apply" class="mdc-card__action">Apply</a>
    </div>
  </div>
  <hr class="mdc-list-divider" />
  <div class="search-result-article__snippet mdc-typography--body1">
    {{{description}}}
  </div>
</div>
