{{{rendered.vacancy_status}}}
<div class="mdc-card__info--vacancy-row">
  <div class="mdc-card__info--vacancy">
    <div class="mdc-card__info--vacancy-title mdc-typography--headline">
      <a href="/vacancy/{{slug}}">
        {{#if top_job}}<span class="top-job">Top job!</span>{{/if}}
        <span class="hover-underline">{{title}}</span>
      </a>
    </div>
    <ul class="fa-ul">
      <li class="mdc-card__info--vacancy-organisation mdc-typography--body1">
        <span class="fa-li"><span class="far fa-building fa-fw" title="Organisation"></span></span>
        <a href="/organisation/{{organisation.slug}}">{{organisation.name}}</a>
      </li>
    </ul>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <ul class="fa-ul">
            {{#if location ~}}
            <li class="mdc-card__info--vacancy-location mdc-typography--body1">
              <span class="fa-li"><span class="far fa-map-marker-alt fa-fw" title="Location"></span></span>
              {{location}}
            </li>
            {{/if ~}}
            {{#if salary ~}}
            <li class="mdc-card__info--vacancy-salary mdc-typography--body1">
              <span class="fa-li"><span class="far fa-calculator fa-fw" title="Salary"></span></span>
              {{{salary}}}
            </li>
            {{/if ~}}
          </ul>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <ul class="fa-ul">
            {{#if role_status_list ~}}
            <li class="mdc-card__info--vacancy-status mdc-typography--body1">
              <span class="fa-li"><span class="far fa-clock fa-fw" title="Status"></span></span>
              {{role_status_list}}
            </li>
            {{/if ~}}
            {{#if closing_date ~}}
            <li class="mdc-card__info--vacancy-closing mdc-typography--body1">
              <span class="fa-li"><span class="far fa-calendar-alt fa-fw" title="Closing date"></span></span>
              Closing {{momentFormat (moment closing_date "x") "Do MMMM YYYY"}}
            </li>
            {{/if ~}}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{#if organisation.has_logo ~}}
  <div class="mdc-card__media mdc-card__media--square mdc-card__media--organisation">
    <a href="/organisation/{{organisation.slug}}">
      <img src="{{organisation.logo_url}}" alt="{{organisation.name}}" />
    </a>
  </div>
  {{/if ~}}
</div>