<div class="mdc-form-field {{fieldClasses}}" 
    {{#if @partial-block ~}}data-ajax-radio-button='{{> @partial-block}}'{{/if}}>
  <div class="mdc-radio {{innerClasses}}">
    <input class="mdc-radio__native-control" 
        type="radio" id="{{default id name}}" 
        name="{{default name}}" {{#if active}}checked{{/if}}>
    <div class="mdc-radio__background">
      <div class="mdc-radio__outer-circle"></div>
      <div class="mdc-radio__inner-circle"></div>
    </div>
  </div>
  <label for="{{default id name}}">{{label}}</label>
</div>
