{{> vacancy_search_form this instance_id="perm"}}

<div id="detailed-results-container" class="container-content goodmoves-saved-searches">
  {{#if data.saved_searches.items ~}}
  <div class="settings">
    <p class="mdc-typography--body1">
      Email frequency
    </p>
    <div class="mdc-form-field">
      <div class="mdc-radio">
        <input class="mdc-radio__native-control" type="radio" id="daily" name="frequency" checked>
        <div class="mdc-radio__background">
          <div class="mdc-radio__outer-circle"></div>
          <div class="mdc-radio__inner-circle"></div>
        </div>
      </div>
      <label for="daily">Daily</label>
    </div>
    <div class="mdc-form-field">
      <div class="mdc-radio">
        <input class="mdc-radio__native-control" type="radio" id="weekly" name="frequency" checked>
        <div class="mdc-radio__background">
          <div class="mdc-radio__outer-circle"></div>
          <div class="mdc-radio__inner-circle"></div>
        </div>
      </div>
      <label for="weekly">Weekly</label>
    </div>
  </div>
  {{/if ~}}
  <h1 class="mdc-typography--headline3 v-margin-full">
    Searches
  </h1>

  {{#if data.saved_searches.items ~}}
  <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list mdc-elevation--z3">
    <li class="mdc-list-item mdc-list-item--header">
      <span class="mdc-list-item__graphic far" aria-hidden="true"></span>
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-3-phone saved-search">
            <span class="mdc-list-item__text">
              <strong>Search name</strong>
            </span>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-1-phone align-centre">
            <span class="mdc-list-item__text">
              <strong>Include in email</strong>
            </span>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone align-centre">
            <span class="mdc-list-item__text">
              <strong>Delete</strong>
            </span>
          </div>
        </div>
      </div>
    </li>
    {{#each data.saved_searches.items ~}}
      <li class="mdc-list-item mdc-ripple-upgraded">
        <span class="mdc-list-item__graphic far fa-search fa-2x" aria-hidden="true"></span>
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-2-phone saved-search">
              <span class="mdc-list-item__text">
                <a href="/search?{{{this.querystring}}}">{{{name}}}</a>
                <div class="mdc-list-item__secondary-text">
                  {{#with (querystring querystring) ~}}
                    {{#if keywords ~}}
                      <strong>Keywords: </strong> {{{keywords}}}
                    {{/if ~}}
                    {{#if roles ~}}
                      <strong>Roles: </strong>
                      {{#each (arrayify roles)}}
                         {{{getProperty @root.data.termsMaps.roles.slugsMap (concat this ".term")}}}
                        {{#unless @last}}, {{/unless}}
                      {{/each ~}}
                    {{/if ~}}
                    {{#if sectors ~}}
                      <strong>Sectors: </strong>
                      {{#each (arrayify sectors) ~}}
                         {{{getProperty @root.data.termsMaps.sectors.slugsMap (concat this ".term")}}}
                        {{#unless @last}}, {{/unless}}
                      {{/each ~}}
                    {{/if ~}}
                    {{#if statuses ~}}
                      <strong>Statuses: </strong>
                      {{#each (arrayify statuses)}}
                         {{{getProperty @root.data.termsMaps.statuses.slugsMap (concat this ".term")}}}
                        {{#unless @last}}, {{/unless}}
                      {{/each ~}}
                    {{/if ~}}
                    {{#ifAll location distance ~}}
                        Within <strong>{{round (multiply distance 0.00062137)}}</strong> miles of <strong>{{{location}}}</strong>
                    {{/ifAll ~}}
                  {{/with ~}}
                </div>
              </span>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-1-phone align-centre">
              {{#> ajax_chip
                onUrl="/toggle-subscription"
                offUrl="/toggle-subscription"
                onText="Email"
                offText="Email"
                onMethod="POST"
                offMethod="POST"
                iconClasses="far fa-envelope"
                on=subscribed
              }}
              {
                "onData": {
                  "name": {{{stringify ../name}}}
                },
                "offData": {
                  "name": {{{stringify ../name}}}
                }
              }
              {{/ajax_chip}}
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone">
              {{> delete_search name=name}}
            </div>
          </div>
        </div>
      </li>
      {{#unless @last}}
        <li class="mdc-list-divider" role="separator"></li>
      {{/unless ~}}
    {{/each ~}}
  </ul>
  {{else}}
  <p class="mdc-typography--body1">
    You don't yet have any searches saved. To save a search, click the &ensp;<strong><span class="far fa-search-plus mdc-chip__icon mdc-chip__icon--leading" aria-hidden="true"></span>Save/email this search</strong>&ensp;button once you've entered some search parameters.
  </p>
  {{/if ~}}
  </form>
</div>