<div id="detailed-results-container" class="container-content goodmoves-saved-searches">
  {{#compare (length @root.data.searches.items) ">" 0 ~}}
  <div class="settings">
    <span class="mdc-typography--body1">Email frequency</span>
    {{> email_frequency}}
  </div>
  {{/compare}}
  <h1 class="mdc-typography--headline3 v-margin-full">
    Searches
  </h1>

  {{#compare (length @root.data.searches.items) ">" 0 ~}}
  <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list mdc-elevation--z3">
    <li class="mdc-list-item mdc-list-item--header">
      <span class="mdc-list-item__graphic far" aria-hidden="true"></span>
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-3-phone saved-search">
            <span class="mdc-list-item__text">
              <strong>Search name</strong>
            </span>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-1-phone align-centre">
            <span class="mdc-list-item__text">
              <strong>Include in email</strong>
            </span>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone align-centre">
            <span class="mdc-list-item__text">
              <strong>Delete</strong>
            </span>
          </div>
        </div>
      </div>
    </li>
    {{#each @root.data.searches.items ~}}
      <li class="mdc-list-item mdc-ripple-upgraded">
        <span class="mdc-list-item__graphic far fa-search fa-2x" aria-hidden="true"></span>
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-2-phone saved-search">
              <span class="mdc-list-item__text">
                <a href="/search?{{{this.querystring}}}">{{{name}}}</a>
                <div class="mdc-list-item__secondary-text">
                  {{#with (querystring querystring) ~}}
                    {{#if keywords ~}}
                      Keywords: <strong>{{{keywords}}}</strong>
                    {{/if ~}}

                    {{#ifAny salary_min salary_max ~}}
                      Salary
                    {{/ifAny ~}}
                    {{#if salary_min ~}}
                      minimum: <strong>£{{addCommas salary_min}}</strong>
                    {{/if ~}}
                    {{#if salary_max ~}}
                      {{#if salary_min ~}}and{{/if}}
                      maximum: <strong>£{{addCommas salary_max}}</strong>
                    {{/if ~}}

                    {{#if roles ~}}
                      {{inflect (length (arrayify roles)) "Role" "Roles"}}:
                      {{#each (arrayify roles) ~}}
                        <strong>{{{getProperty @root.data.termsMaps.roles.slugsMap (concat this ".term")}}}{{#unless @last}}, {{/unless}}</strong>
                      {{/each ~}}
                    {{/if ~}}

                    {{#if sectors ~}}
                      {{inflect (length (arrayify sectors)) "Sector" "Sectors"}}:
                      {{#each (arrayify sectors) ~}}
                        <strong>{{{getProperty @root.data.termsMaps.sectors.slugsMap (concat this ".term")}}}{{#unless @last}}, {{/unless}}</strong>
                      {{/each ~}}
                    {{/if ~}}

                    {{#if statuses ~}}
                      Working {{inflect (length (arrayify statuses)) "pattern" "patterns"}}:
                      {{#each (arrayify statuses)}}
                        <strong>{{{getProperty @root.data.termsMaps.statuses.slugsMap (concat this ".term")}}}{{#unless @last}}, {{/unless}}</strong>
                      {{/each ~}}
                    {{/if ~}}

                    {{#ifAll location distance ~}}
                      {{#ifAny keywords roles sectors statuses ~}}
                        Within
                      {{else}}
                        within
                      {{/ifAny ~}}
                      <strong>{{round (multiply distance 0.00062137)}}</strong>
                      miles of
                      <strong>{{{location}}}</strong>
                    {{/ifAll ~}}
                  {{/with ~}}
                </div>
              </span>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-1-phone align-centre">
              {{#> ajax_chip
                onUrl="/toggle-subscription"
                offUrl="/toggle-subscription"
                onText="Email"
                offText="Email"
                onMethod="POST"
                offMethod="POST"
                iconClasses="far fa-envelope"
                on=subscribed
              }}
              {
                "onData": {
                  "name": {{{stringify ../name}}}
                },
                "offData": {
                  "name": {{{stringify ../name}}}
                }
              }
              {{/ajax_chip}}
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone">
              {{> delete_search name=name}}
            </div>
          </div>
        </div>
      </li>
      {{#unless @last}}
        <li class="mdc-list-divider" role="separator"></li>
      {{/unless ~}}
    {{/each ~}}
  </ul>
  {{else}}
  <p class="mdc-typography--body1">
    You don't yet have any searches saved. To save a search, click the &ensp;<strong><span class="far fa-search-plus mdc-chip__icon mdc-chip__icon--leading" aria-hidden="true"></span>Save/email this search</strong>&ensp;button once you've entered some search parameters.
  </p>
  {{/compare ~}}
</div>
