<div class="mdc-card search-result" data-organisation-id="{{Id}}">
  <div class="mdc-card__info--content-secondary-row">
    <div class="mdc-card__info--content-secondary">
      {{#if has_logo ~}}
      <div class="mdc-card__media mdc-card__media--content-secondary">
        <a href="/organisation/{{slug}}{{@root.request.url.search}}">
          <img src="{{logo_url}}" alt="{{title}}" />
        </a>
      </div>
      {{/if ~}}
      <div class="mdc-card__info--content-secondary-title mdc-typography--headline6">
        <a href="/organisation/{{slug}}{{@root.request.url.search}}">{{title}}</a>
      </div>
      <div class="search-result-article__snippet mdc-typography--body1">
        {{{og_summary}}}
      </div>
    </div>
  </div>
  <div class="mdc-card__actions">
    <div class="mdc-card__action-buttons demo-card__action-buttons--text-only mdc-card__actions--full-bleed">
      <a href="/organisation/{{slug}}{{@root.request.url.search}}" class="mdc-card__action hide-sm">Find out more</a>
      <a href="/organisation/{{slug}}{{@root.request.url.search}}" class="mdc-card__action hide-md hide-lg"><span class="fal fa-info-circle fa-fw fa-2x" aria-hidden="true"></span></a>
    </div>
  </div>
</div>