{{#compare @root.data.supplimentaryResponses.types.hits.total ">" 0 ~}}
<div class="mdc-layout-grid home-content-primary">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone content page-content">
      <div class="browse-title browse-title-roles mdc-typography--headline5">
        Roles
      </div>
      <ul class="mdc-list">
        {{#each @root.data.supplimentaryResponses.types.aggregations.roles.buckets ~}}
          {{#if key ~}}
            <a class="mdc-list-item" href="/search?roles%5B%5D={{urlencode (slugify (replace key "/" "-"))}}" role="menuitem" onclick="gtag('event', 'navigation', { event_category: '{{default ../eventContext "category-browser"}}', event_label: 'Role: {{slugify (replace key "/" "-")}}' })">
              <span class="mdc-list-item__text">
                {{{key}}}
              </span>
              <span class="mdc-list-item__meta" aria-label="{{doc_count}} vacancies">
                {{doc_count}}
              </span>
            </a>
          {{/if ~}}
        {{/each ~}}
      </ul>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone content page-content">
      <div class="browse-title browse-title-sectors mdc-typography--headline5">
        Sectors
      </div>
      <ul class="mdc-list">
        {{#each @root.data.supplimentaryResponses.types.aggregations.sectors.buckets ~}}
          {{#if key ~}}
            <a class="mdc-list-item" href="/search?sectors%5B%5D={{urlencode (slugify (replace key "/" "-"))}}" role="menuitem" onclick="gtag('event', 'navigation', { event_category: '{{default ../eventContext "category-browser"}}', event_label: 'Sector: {{slugify (replace key "/" "-")}}' })">
              <span class="mdc-list-item__text">
                {{{key}}}
              </span>
              <span class="mdc-list-item__meta" aria-label="{{doc_count}} vacancies">
                {{doc_count}}
              </span>
            </a>
          {{/if ~}}
        {{/each ~}}
      </ul>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone content page-content">
      <div class="browse-title browse-title-working-patterns mdc-typography--headline5">
        Working patterns
      </div>
      <ul class="mdc-list">
        {{#each @root.data.supplimentaryResponses.types.aggregations.working_patterns.buckets ~}}
          {{#if key ~}}
            <a class="mdc-list-item" href="/search?working_patterns%5B%5D={{urlencode (slugify (replace key "/" "-"))}}" role="menuitem" onclick="gtag('event', 'navigation', { event_category: '{{default ../eventContext "category-browser"}}', event_label: 'Working pattern: {{slugify (replace key "/" "-")}}' })">
              <span class="mdc-list-item__text">
                {{{key}}}
              </span>
              <span class="mdc-list-item__meta" aria-label="{{doc_count}} vacancies">
                {{doc_count}}
              </span>
            </a>
          {{/if ~}}
        {{/each ~}}
      </ul>

      <div class="browse-title browse-title-regions mdc-typography--headline5">
        Regions
      </div>
      <ul class="mdc-list">
        {{#each @root.data.supplimentaryResponses.types_regions.aggregations.countries.buckets ~}}
          {{#if key ~}}
          {{#compare (length @root.data.supplimentaryResponses.types_regions.aggregations.countries.buckets) ">" 1 ~}}
            <li class="mdc-list-item mdc-list-item--{{@index}}">
              <h3 class="mdc-typography--headline7">{{{key}}}</h3>
            </li>
            {{/compare ~}}
          {{/if ~}}
          {{#each this.regions.buckets ~}}
            {{#if key ~}}
              <a class="mdc-list-item" href="/search?regions%5B%5D={{urlencode (slugify (replace key "/" "-"))}}" role="menuitem" onclick="gtag('event', 'navigation', { event_category: '{{default ../../eventContext "category-browser"}}', event_label: 'Region: {{slugify (replace key "/" "-")}}' })">
                <span class="mdc-list-item__text">
                  {{{key}}}
                </span>
                <span class="mdc-list-item__meta" aria-label="{{doc_count}} vacancies">
                  {{doc_count}}
                </span>
              </a>
            {{/if ~}}
          {{/each ~}}
        {{/each ~}}
        {{#ifAny (length @root.data.supplimentaryResponses.types.aggregations.home_based.buckets) (length @root.data.supplimentaryResponses.types.aggregations.various_locations.buckets) ~}}
          {{#compare (length @root.data.supplimentaryResponses.types_regions.aggregations.countries.buckets) ">" 1 ~}}
            <li class="mdc-list-item mdc-list-item--other">
              <h3 class="mdc-typography--headline7">Other</h3>
            </li>
          {{/compare ~}}
          {{#compare (length @root.data.supplimentaryResponses.types.aggregations.various_locations.buckets) ">=" 1 ~}}
            <a class="mdc-list-item" href="/search?various_locations%5B%5D=true" role="menuitem" onclick="gtag('event', 'navigation', { event_category: '{{default eventContext "category-browser"}}', event_label: 'Various locations' })">
              <span class="mdc-list-item__text">
                Various locations
              </span>
              <span class="mdc-list-item__meta" aria-label="{{@root.data.supplimentaryResponses.types.aggregations.various_locations.buckets.0.doc_count}} vacancies">
                {{@root.data.supplimentaryResponses.types.aggregations.various_locations.buckets.0.doc_count}}
              </span>
            </a>
          {{/compare ~}}
          {{#compare (length @root.data.supplimentaryResponses.types.aggregations.home_based.buckets) ">=" 1 ~}}
            <a class="mdc-list-item" href="/search?home_based%5B%5D=true" role="menuitem" onclick="gtag('event', 'navigation', { event_category: '{{default eventContext "category-browser"}}', event_label: 'Home-based' })">
              <span class="mdc-list-item__text">
                Home-based
              </span>
              <span class="mdc-list-item__meta" aria-label="{{@root.data.supplimentaryResponses.types.aggregations.home_based.buckets.0.doc_count}} vacancies">
                {{@root.data.supplimentaryResponses.types.aggregations.home_based.buckets.0.doc_count}}
              </span>
            </a>
          {{/compare ~}}
        {{/ifAny ~}}
      </ul>
    </div>
  </div>
</div>
{{else}}
<div class="home-content-primary">
  <div class="content page-content">
    <div class="browse-title mdc-typography--headline5">
      No jobs are currently listed
    </div>
  </div>
</div>
{{/compare ~}}