<div class="mdc-layout-grid tfn tfn-latest">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone v-margin-full">
      <div class="mdc-typography--headline5 v-margin-full">
        Latest articles on <a href="https://thirdforcenews.org.uk?utm_source=Widget&utm_medium=Widget&utm_campaign=Widget-Traffic">Third Force News</a>
      </div>
      <div class="mdc-layout-grid equal-height">
        <div class="mdc-layout-grid__inner">
          {{#each @root.data.posts.tfn_latest.hits.hits ~}}
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
            {{#with _source ~}}
            <div class="gist tfn-post {{../_type}}" style="background-image: url('{{image_feature}}');">
              <a href="{{url}}?utm_source=Widget&amp;utm_medium=Widget&amp;utm_campaign=Widget-Traffic" title="{{title}}" class="mdc-card{{#if image_feature}}{{else}} no-image{{/if}}">
                <h3 class="mdc-card__title mdc-typography--headline">
                  {{{title}}}
                </h3>
                <h4 class="mdc-card__subtitle post-info">
                  <div class="post-info-item post-info-date">
                    <span class="far fa-calendar-edit" aria-hidden="true"></span>
                    {{{momentFormat (moment date_published "x") "Do MMMM YYYY"}}}
                  </div>
                </h4>
              </a>
            </div>
            {{/with ~}}
          </div>
          {{/each ~}}
        </div>
      </div>
      <p class="mdc-typography--body1">
        <a href="https://thirdforcenews.org.uk/tfn-news?utm_source=Widget&utm_medium=Widget&utm_campaign=Widget-Traffic">Read all the latest news from TFN</a>&emsp;<a href="https://thirdforcenews.org.uk/signup?utm_source=Widget&utm_medium=Widget&utm_campaign=Widget-Traffic">Subscribe to TFN</a>
      </p>
    </div>
  </div>
</div>