{{#*inline "term_checkbox"}}
<div class="mdc-form-field">
  <div class="mdc-checkbox">
    <input type="checkbox" class="mdc-checkbox__native-control" id="{{instance_id}}_{{field}}_{{slug}}"
    name="{{#compare field "===" "type"}}{{field}}{{else}}{{field}}[]{{/compare}}" value="{{slug}}"{{#if (contains selected slug)}} checked{{/if}} />
    <div class="mdc-checkbox__background">
      <svg class="mdc-checkbox__checkmark"
      viewBox="0 0 24 24">
      <path class="mdc-checkbox__checkmark-path"
      fill="none"
      stroke="white"
      d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
    </svg>
    <div class="mdc-checkbox__mixedmark"></div>
  </div>
</div>
<label for="{{instance_id}}_{{field}}_{{slug}}">
  {{{default value.key value}}}
</label>
</div>
{{/inline}}

  <div class="mdc-drawer__content">
    <h2 class="mdc-drawer__content-heading hide-sm">Search jobs</h2>
    <div id="search-tab-bar" class="mdc-tab-bar mdc-tab-bar--fullwidth search-tab-bar" data-mdc-auto-init="MDCTabBar">
      <a href="/search{{@root.request.url.search}}" class="mdc-tab {{#compare @root.request.url.pathname "/search"}}mdc-tab--active{{/compare}} details-tab" id="detailed-results">
        <span class="far fa-list fa-fw" title="List"></span>
        List
      </a>
      <a href="/map{{@root.request.url.search}}" class="mdc-tab {{#compare @root.request.url.pathname "/map"}}mdc-tab--active{{/compare}} map-tab">
        <span class="far fa-map-marker-alt fa-fw" title="Map"></span>
        Map
      </a>
      <span class="mdc-tab-bar__indicator"></span>
    </div>
    <form action="/{{#compare @root.request.url.pathname "/map"}}map{{else}}search{{/compare}}" method="GET" class="search-form">
      <div class="h-padding">
        <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
          <span class="far fa-search mdc-text-field__icon" tabindex="-1"></span>
          <input type="text" id="{{instance_id}}-keywords" name="keywords" class="mdc-text-field__input mdc-text-field--fullwidth" value="{{@root.request.params.query.keywords}}" data-lpignore="true" autocomplete="off">
          <label class="mdc-floating-label" for="keywords">
            Keywords
          </label>
          <div class="mdc-line-ripple"></div>
        </div>
      </div>

      <div class="h-padding">
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
              <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
                <span class="far fa-map-marker-alt mdc-text-field__icon" tabindex="0" role="button"></span>
                <input type="text" id="{{instance_id}}-location" name="location" class="mdc-text-field__input mdc-text-field--fullwidth" value="{{@root.request.params.query.location}}" placeholder="" data-lpignore="true" data-location-options='
                  {
                    "types": ["(regions)"],
                    "componentRestrictions": {
                      "country": "gb"
                    }
                  }' data-location-lat="[name='lat']" data-location-lng="[name='lng']" data-location-types="[name='location_types']">
                <label class="mdc-floating-label" for="{{instance_id}}-location">
                  Location
                </label>
                <div class="mdc-line-ripple"></div>
              </div>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
              <div class="mdc-select mdc-select--box" data-mdc-auto-init="MDCSelect">
                <select class="mdc-select__native-control" id="{{instance_id}}-distance" name="distance">
                  <option value="8046.72"{{#compare @root.request.params.query.distance "8046.72"}} selected{{/compare}}>5 miles</option>
                  <option value="16093.44"{{#compare @root.request.params.query.distance "16093.44"}} selected{{/compare}}>10 miles</option>
                  <option value="40233.6"{{#compare @root.request.params.query.distance "40233.6"}} selected{{/compare}}>25 miles</option>
                  <option value="80467.2"{{#compare @root.request.params.query.distance "80467.2"}} selected{{/compare}}>50 miles</option>
                  <option value=""{{#compare @root.request.params.query.distance ""}} selected{{/compare}}>no limit</option>
                </select>
                <label class="mdc-floating-label" for="{{instance_id}}-distance">
                  Within
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <input type="hidden" name="lat" value="{{@root.request.params.query.lat}}" id="{{instance_id}}-lat">
      <input type="hidden" name="lng" value="{{@root.request.params.query.lng}}" id="{{instance_id}}-lng">
      <input type="hidden" name="sort" value="distance" id="sort">

      <h3 class="mdc-drawer__content-heading cursor-pointer" data-collapse-target="#{{instance_id}}-salary-collapse" role="button" aria-pressed="false" aria-label="Show salary search options" tabindex="0">
        Salary
        <span class="mdc-icon-toggle pull-right">
          <i class="far {{#if (getProperty @root.request.params.query "salary_min")}}fa-chevron-up{{else}}fa-chevron-down{{/if}}" aria-hidden="true"></i>
        </span>
      </h3>
      <div id="{{instance_id}}-salary-collapse"{{#unless (getProperty @root.request.params.query "salary_min")}}{{#unless (getProperty @root.request.params.query "salary_max")}} style="display: none;"{{/unless}}{{/unless}}>
        <div class="h-padding">
          <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
            <span class="far fa-arrow-alt-from-left mdc-text-field__icon" tabindex="-1"></span>
            <input type="number" id="{{instance_id}}-salary_min" name="salary_min" class="mdc-text-field__input mdc-text-field--fullwidth" value="{{@root.request.params.query.salary_min}}" data-lpignore="true">
            <label class="mdc-floating-label" for="{{instance_id}}-salary_min">
              Minimum salary
            </label>
            <div class="mdc-line-ripple"></div>
          </div>
        </div>

        <div class="h-padding">
          <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
            <span class="far fa-arrow-alt-to-right mdc-text-field__icon" tabindex="-1"></span>
            <input type="number" id="{{instance_id}}-salary_max" name="salary_max" class="mdc-text-field__input mdc-text-field--fullwidth" value="{{@root.request.params.query.salary_max}}" data-lpignore="true">
            <label class="mdc-floating-label" for="{{instance_id}}-salary_max">
              Maximum salary
            </label>
            <div class="mdc-line-ripple"></div>
          </div>
        </div>
      </div>

      <!-- <div class="h-padding">
        <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
          <span class="far fa-arrow-alt-from-left mdc-text-field__icon" tabindex="-1"></span>
          <input type="number" id="{{instance_id}}-salary_min" name="salary_min" class="mdc-text-field__input mdc-text-field--fullwidth" value="{{@root.request.params.query.salary_min}}" data-lpignore="true">
          <label class="mdc-floating-label" for="{{instance_id}}-salary_min">
            Minimum salary
          </label>
          <div class="mdc-line-ripple"></div>
        </div>
      </div>

      <div class="h-padding">
        <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
          <span class="far fa-arrow-alt-to-right mdc-text-field__icon" tabindex="-1"></span>
          <input type="number" id="{{instance_id}}-salary_max" name="salary_max" class="mdc-text-field__input mdc-text-field--fullwidth" value="{{@root.request.params.query.salary_max}}" data-lpignore="true">
          <label class="mdc-floating-label" for="{{instance_id}}-salary_max">
            Maximum salary
          </label>
          <div class="mdc-line-ripple"></div>
        </div>
      </div> -->

      {{#each (split "statuses,roles,sectors" ",")}}
        <h3 class="mdc-drawer__content-heading cursor-pointer" data-collapse-target="#{{../instance_id}}-{{this}}-collapse" role="button" aria-pressed="false" aria-label="Show {{getProperty @root.context.metaData.termTypeLabels (concat this ".plural")}}" tabindex="0">
          {{getProperty @root.context.metaData.termTypeLabels (concat this ".plural")}}
          <span class="mdc-icon-toggle pull-right">
            <i class="far {{#if (getProperty @root.request.params.query this)}}fa-chevron-up{{else}}fa-chevron-down{{/if}}" aria-hidden="true"></i>
          </span>
        </h3>
        <div id="{{../instance_id}}-{{this}}-collapse"{{#unless (getProperty @root.request.params.query this)}} style="display: none;"{{/unless}}>
          {{#each (getProperty @root.data.supplimentaryResponses.types.aggregations (concat this "_slugs.buckets")) ~}}
            {{#if key ~}}
              {{> term_checkbox slug=key field=../this selected=(getProperty @root.request.params.query ../this) instance_id=../../instance_id value=(lookup (getProperty @root.data.supplimentaryResponses.types.aggregations (concat ../this ".buckets")) @index)}}
            {{/if ~}}
          {{/each ~}}
        </div>
      {{/each}}

      <div class="h-margin v-margin">
        <button class="mdc-button mdc-button--raised mdc-button--large mdc-button--fullwidth mdc-ripple-surface mdc-ripple-surface--primary" type="submit" id="{{instance_id}}-search-submit" data-mdc-auto-init="MDCRipple">
          <span class="far fa-search fa-fw mdc-list-item__graphic" aria-hidden="true"></span>
          Search
        </button>
      </div>
    </form>
  </div>
