<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
    <channel>
        <title>SCVO Posts - {{category}}</title>
        <description>{{{description}}}</description>
        <link>https://test.scvo.org{{{replace (replace params.uri.path "&_view=rss" "") "?_view=rss" ""}}}</link>
        <lastBuildDate>{{momentFormat (moment) 'ddd, DD MMM YYYY HH:mm:ss ZZ'}}</lastBuildDate>
        <pubDate>{{momentFormat (moment) 'ddd, DD MMM YYYY HH:mm:ss ZZ'}}</pubDate>
        <ttl>1800</ttl>
        {{#each primaryResponse.hits.hits}}
            {{{_source.rendered.rss}}}
        {{/each}}
    </channel>
</rss>
