<div class="post">
    {{> header_splash}}
    <div class="container-fluid">
        {{#> handle_404}}
        {{> breadcrumbs_posts}}
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone content post-content">
                    {{#with primaryResponse.hits.hits.[0]._source}}
                    {{{rendered.full}}}
                    {{/with}}
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone sidebar post-sidebar">
                    {{> wee_search title="Search posts" searchRoute="main_search" extraParams='{ "type": "scvo-cms-post" }'}}
                    {{#if primaryResponse.hits.hits.[0]._source.is_press_release}}
                    <ul class="supplimentary-list">
                        {{#each supplimentaryResponses.category_posts.hits.hits}}
                        {{{_source.rendered.sidebar}}}
                        {{/each}}
                    </ul>
                    {{else}}
                    {{#if primaryResponse.hits.hits.[0]._source.categories}}
                    <div class="author_about">
                        {{#if supplimentaryResponses.staff_profile.hits.hits.[0]}}
                        {{{supplimentaryResponses.staff_profile.hits.hits.[0]._source.rendered.scvo_profile}}}
                        {{else}}
                        {{{supplimentaryResponses.author_profile.hits.hits.[0]._source.rendered.scvo_profile}}}
                        {{/if}}
                    </div>
                    {{#compare supplimentaryResponses.authors_posts.hits.total ">" 0}}
                    {{#compare supplimentaryResponses.staff_profile.hits.total ">" 0}}
                    <h3 class="author">More posts by {{primaryResponse.hits.hits.[0]._source.author_name_full}}</h3>
                    {{/compare}}
                    <ul class="supplimentary-list">
                        {{#each supplimentaryResponses.authors_posts.hits.hits}}
                        {{{_source.rendered.sidebar}}}
                        {{/each}}
                    </ul>
                    {{else}}
                    <ul class="supplimentary-list">
                        {{#each supplimentaryResponses.category_posts.hits.hits}}
                        {{{_source.rendered.sidebar}}}
                        {{/each}}
                    </ul>
                    {{/compare}}
                    {{/if}}
                    {{/if}}
                </div>
                {{#compare supplimentaryResponses.tfn_related_posts.hits.total ">" 0}}
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 related post-related post-related-tfn">
                    <h3>Related articles on <a href="http://thirdforcenews.org.uk">Third Force News</a></h3>
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner">
                            {{#each supplimentaryResponses.tfn_related_posts.hits.hits}}
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                                {{{_source.rendered.gist}}}
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{/compare}}
            </div>
        </div>
        {{/handle_404}}
    </div>
</div>
