<nav class="menu-sidebar" id="setting-up-menu">
    {{#each context.menus.setting-up}}
    <a class="menu-level-1 mdc-button mdc-button--raised{{#if match}} mdc-button--active{{/if}}" href="{{path}}">{{{label}}}</a>
    {{#each this.children}}
    <a class="menu-level-2 mdc-button mdc-button--raised{{#if match}} mdc-button--active{{/if}}" href="{{path}}">{{{label}}}</a>
    {{#each this.children}}
    <a class="menu-level-3 mdc-button mdc-button--raised{{#if match}} mdc-button--active{{/if}}" href="{{path}}">{{{label}}}</a>
    {{#each this.children}}
    <a class="menu-level-4 mdc-button mdc-button--raised{{#if match}} mdc-button--active{{/if}}" href="{{path}}">{{{label}}}</a>
    {{/each}}
    {{/each}}
    {{/each}}
    {{/each}}
</nav>

{{> menu_running_contact}}