<!doctype html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <base href="/">
  {{{layoutParts.head}}}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--

  Powered by:
  ███████╗ ██████╗██╗   ██╗ ██████╗ ██╗  ██████╗  ██████╗ ██╗   ██╗████████╗███████╗██████╗
  ██╔════╝██╔════╝██║   ██║██╔═══██╗╚██╗ ██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝██╔════╝██╔══██╗
  ███████╗██║     ██║   ██║██║   ██║ ╚██╗██████╔╝██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
  ╚════██║██║     ╚██╗ ██╔╝██║   ██║ ██╔╝██╔══██╗██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
  ███████║╚██████╗ ╚████╔╝ ╚██████╔╝██╔╝ ██║  ██║╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
  ╚══════╝ ╚═════╝  ╚═══╝   ╚═════╝ ╚═╝  ╚═╝  ╚═╝ ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝

  -->

  <link rel="apple-touch-icon" sizes="57x57" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scvo/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scvo/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scvo/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scvo/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scvo/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scvo/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scvo/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scvo/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scvo/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scvo/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scvo/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scvo/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scvo/favicon-16x16.png">
  <link rel="manifest" href="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scvo/manifest.json">
  <meta name="msapplication-TileColor" content="#C2185B">
  <meta name="msapplication-TileImage" content="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/icons/scvo/ms-icon-144x144.png">
  <meta name="theme-color" content="#C2185B">
  <link rel="search" type="application/opensearchdescription+xml" title="SCVO" href="/assets/opensearch.xml" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3467930-2"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-3467930-2', { 'send_page_view': true, 'anonymize_ip': true });

  {{#each route.primaryResponse.hits.hits ~}}
  gtag('event', 'document_hit', {
    'event_category': '{{_type}}',
    'event_label': '{{_id}}'
  });
  {{/each ~}}

  {{#if request.params.query.debug ~}}
  console.log('#### DEBUG MODE ON ####');
  console.log('Request:', {{{regexReplace (regexReplace (stringify request) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  console.log('Route:', {{{regexReplace (regexReplace (stringify route) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  console.log('Data:', {{{regexReplace (regexReplace (stringify data) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  console.log('Menus:', {{{regexReplace (regexReplace (stringify context.metaData.menus) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  {{/if ~}}
  </script>
  <link type="text/css" rel="stylesheet" href="/assets/css/material-components-web.min.css">
  <link type="text/css" rel="stylesheet" href="/assets/fonts/fontawesome/css/fontawesome-all.min.css">
  <link type="text/css" rel="stylesheet" href="/assets/css/scvo-styles.css">
  <!-- <script>
  if(location.host.indexOf('.local') > -1){
  document.write('<script src="https://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
  }
  </script> -->
</head>
<body class="mdc-theme--site-bg {{#if request.params.path}}{{replace request.params.path '_' ' '}}{{else}}home{{/if}}">
  <scvo-site>
    <div class="mdc-typography">
      <header class="mdc-toolbar mdc-toolbar--fixed mdc-theme--primary-light-bg">
        <div class="mdc-toolbar__row">
          <div class="container-fluid">
            <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
              <span class="mdc-toolbar__title catalog-title">
                <a href="/" class="brand-logo" title="Scottish Council for Voluntary Organisations">
                  <img src="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/logos/scvo.png" />
                </a>
              </span>
            </section>
            <section class="mdc-toolbar__section upper-menu mdc-toolbar__section--align-end">
              <nav id="upper-tab-bar" class="mdc-tab-bar" [menu]="'main-upper'" [menulinkselector]="''" [menulabelselector]="'span.mdc-tab--label'" [menuactiveclass]="'mdc-tab--active'">
                {{#each context.metaData.menus.main-upper ~}}
                <a class="mdc-tab{{#if (regexMatch ../request.url.pathname route "gi")}} mdc-tab--active{{/if}}" href="{{stripTrailingSlash path}}"><span class="mdc-tab--label">{{{label}}}</span></a>
                {{/each ~}}
              </nav>
            </section>
            <section class="mdc-toolbar__section mdc-toolbar__section--align-end mdc-toolbar__section--shrink-to-fit toolbar-search">
              <form [searchroute]="'main_search'" class="mdc-form-field mdc-form-field--align-end search_form" autocomplete="off" action="/search" method="GET">
                <div class="mdc-textfield">
                  <input type="text" class="mdc-textfield__input white-text mdc-text-field searchRoute" placeholder="Search" id="q" name="q" aria-label="Search keywords" value="{{request.params.query.q}}">
                </div>
                <button type="submit" class="mdc-toolbar__icon mdc-toolbar__search" aria-label="Search" alt="Search">
                  <span class="far fa-search" aria-hidden="true"></span>
                </button>
              </form>
            </section>
            <section class="mdc-toolbar__section mdc-toolbar__section--align-end mdc-toolbar__section--shrink-to-fit">
              <button class="mdc-top-app-bar__navigation-icon hide-lg" data-drawer-target="#mobile-menu">
                <span class="far fa-fw fa-2x fa-bars"></span>
              </button>
            </section>
          </div>
        </div>
        <div class="mdc-toolbar__row toolbar-nav mdc-theme--primary-dark-bg">
          <div class="container-fluid">
            <section class="mdc-toolbar__section mdc-toolbar__section--align-start toolbar-menu">
              <nav id="main-tab-bar" class="mdc-tab-bar" [menu]="'main'" [menulinkselector]="''" [menulabelselector]="'span.mdc-tab--label'" [menuactiveclass]="'mdc-tab--active'">
                {{#each context.metaData.menus.main ~}}
                <a class="mdc-tab{{#if (regexMatch ../request.url.pathname route "gi")}} mdc-tab--active{{/if}}" href="{{stripTrailingSlash path}}"><span class="mdc-tab--label">{{{label}}}</span></a>
                {{/each ~}}
              </nav>
            </section>
            {{#if data.auth ~}}
            <section class="toolbar-user">
              <div class="mdc-menu-anchor">
                <button class="mdc-button" data-menu-target="#user-menu">
                  <span class="far fa-fw fa-user-circle"></span>
                  {{{data.auth.email}}}
                  <span class="far fa-fw fa-angle-down"></span>
                </button>
                <div class="mdc-menu" tabindex="-1" data-mdc-auto-init="MDCMenu" id="user-menu">
                  <div class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
                    <a class="mdc-list-item " href="/jobs/community-jobs-scotland/vacancies/sign-out" role="menuitem">
                      <span class="far fa-sign-out-alt mdc-list-item__graphic" aria-hidden="true"></span>
                      Sign out
                    </a>
                  </div>
                </div>
              </div>
            </section>
            {{/if ~}}
          </div>
        </div>
      </header>

      <aside class="mdc-drawer mdc-drawer--temporary" id="mobile-menu" data-mdc-auto-init="MDCTemporaryDrawer">
        <nav class="mdc-drawer__drawer">
          <header class="mdc-drawer__header">
            <div class="mdc-drawer__header-content mdc-theme--primary-bg">
              <img src="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/logos/scvo.png" />
            </div>
          </header>
          <nav class="mdc-drawer__content mdc-list">
            <a class="mdc-list-item" href="/">Home</a>
            {{#each context.metaData.menus.main ~}}
            <a class="mdc-list-item{{#if (regexMatch ../request.url.pathname route "gi")}} mdc-list-item--activated{{/if}}" href="{{stripTrailingSlash path}}">
              {{#if icon ~}}
              <span class="far fa-{{icon}} mdc-list-item__graphic" aria-hidden="true"></span>
              {{/if ~}}
              {{{label}}}
            </a>
            {{/each ~}}
            {{#each context.metaData.menus.main-upper ~}}
            <a class="mdc-list-item{{#if (regexMatch ../request.url.pathname route "gi")}} mdc-list-item--activated{{/if}}" href="{{stripTrailingSlash path}}">
              {{#if icon ~}}
              <span class="far fa-{{icon}} mdc-list-item__graphic" aria-hidden="true"></span>
              {{/if ~}}
              {{{label}}}
            </a>
            {{/each ~}}
          </nav>
        </nav>
      </aside>

      <main class="mdc-toolbar-fixed-adjust mdc-theme--background">
        <div class="container-content">
          {{{layoutParts.body}}}
        </div>
      </main>

      <footer>
        <div class="footer-main">
          <div class="container-fluid">
            <div class="mdc-layout-grid">
              <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone contact">
                  <h3>Contact</h3>
                  <ul class="fa-ul">
                    <li>
                      <span class="fa-li"><span class="fas fa-envelope"></span></span>
                      <a href="mailto:enquiries@scvo.org.uk">enquiries@scvo.org.uk</a>
                    </li>
                    <li>
                      <span class="fa-li"><span class="fas fa-phone"></span></span>
                      <a href="tel:+441314748000">0131 474 8000</a>
                    </li>
                  </ul>
                  <p>
                    Information service helpline
                  </p>
                  <ul class="fa-ul">
                    <li>
                      <span class="fa-li"><span class="fas fa-phone"></span></span>
                      <a href="tel:+448001690022">0800 169 0022</a>
                    </li>
                  </ul>
                  <ul class="mdc-list">
                    <li class="mdc-list-item"><a href="/services/membership">Become a member</a></li>
                  </ul>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone social">
                  <h3>Social</h3>
                  <ul class="fa-ul">
                    <li>
                      <span class="fa-li"><span class="fab fa-twitter"></span></span>
                      <a href="https://twitter.com/scvotweet">Twitter</a>
                    </li>
                    <li>
                      <span class="fa-li"><span class="fab fa-facebook"></span></span>
                      <a href="https://www.facebook.com/SCVO1939">Facebook</a>
                    </li>
                    <li>
                      <span class="fa-li"><span class="fas fa-heart"></span></span>
                      <a href="https://goodhq.org/scvo">Good HQ</a>
                    </li>
                    <li>
                      <span class="fa-li"><span class="fab fa-youtube"></span></span>
                      <a href="https://www.youtube.com/user/SCVOtv">YouTube</a>
                    </li>
                    <li>
                      <span class="fa-li"><span class="fab fa-linkedin"></span></span>
                      <a href="https://www.linkedin.com/company/scvo">LinkedIn</a>
                    </li>
                  </ul>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone help">
                  <h3>Help</h3>
                  <ul class="mdc-list">
                    {{#each context.metaData.menus.footer ~}}
                    <li class="mdc-list-item"><a href="{{path}}">{{{label}}}</a></li>
                    {{/each ~}}
                  </ul>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone about">
                  <h3>About</h3>
                  <p>
                    The <strong>Scottish Council for Voluntary Organisations</strong> is the membership organisation for Scotland's charities, voluntary organisations and social enterprises. <a href="/about">Find out more</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container-fluid">
            <div class="mdc-layout-grid">
              <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                  <p>
                    &copy; {{momentFormat (moment) "YYYY"}}. The Scottish Council for Voluntary Organisations (SCVO) is a Scottish Charitable Incorporated Organisation. Charity registered in Scotland <a href="https://www.oscr.org.uk/about-charities/search-the-register/charity-details?number=SC003558">SC003558</a>. Registered office Mansfield Traquair Centre, 15 Mansfield Place, Edinburgh EH3 6BB.
                  </p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                  <a href="/" class="brand-logo" title="Scottish Council for Voluntary Organisations">
                    <img src="https://storage.googleapis.com/scvo-assets/scvo-frontend/assets/images/logos/scvo.png" alt="Scottish Council for Voluntary Organisations" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </scvo-site>

  {{#if (contains request.url.host '.local')}}
  <script type="text/javascript" src="https://unpkg.com/material-components-web@0.34.1/dist/material-components-web.js"></script>
  {{else}}
  <script type="text/javascript" src="https://unpkg.com/material-components-web@0.34.1/dist/material-components-web.min.js"></script>
  {{/if}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/headroom.min.js"></script>
  <script type="text/javascript" src="/assets/js/swiper.min.js"></script>
  <script type="text/javascript" id="cookieinfo" src="/assets/js/cookieinfo.min.js" data-message="We use cookies to track anonymous usage statistics and do not collect any personal information that can be used to identify you. By continuing to visit this site you agree to our use of cookies." data-moreinfo="/cookies" data-cookie="CookieInfoScript" data-text-align="left"></script>
  <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
  <script type="text/javascript" src="/assets/js/scvo/root.js"></script>
  {{{layoutParts.foot}}}
</body>
</html>