<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>The Scotland Declaration on Human Rights</title>
    <base href="/">
    <!--{section:head}-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#00838f">
    <meta name="msapplication-TileImage" content="/assets/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#00838f">
    <link type="text/css" rel="stylesheet" href="/assets/css/material-components-web.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/humanrightsdeclaration-styles.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3467930-27"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-3467930-28', { 'send_page_view': true });
    </script>
</head>
<body class="{{replace route.params.path '_' ' '}}">
    <scvo-site>
        <div class="mdc-typography">
            <header class="mdc-toolbar">
                <div class="mdc-toolbar__row">
                    <div class="container-fluid">
                        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                            <span class="mdc-toolbar__title catalog-title">
                                <a href="/" class="brand-logo" title="The Scotland Declaration on Human Rights">
                                    <img src="https://storage.googleapis.com/human-rights-declaration/sdhr-logo.png" class="brand-logo-mobile" />
                                    <img src="https://storage.googleapis.com/human-rights-declaration/sdhr-logo-desktop.png" class="brand-logo-desktop" />
                                </a>
                            </span>
                        </section>
                        <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
                            <nav id="main-tab-bar" class="mdc-tab-bar" [menu]="'main'" [menulinkselector]="''" [menulabelselector]="'span.mdc-tab--label'" [menuactiveclass]="'active'">
                                {{#each menus.main}}
                                <a class="mdc-tab{{#if match}} mdc-tab--active{{/if}}" href="{{path}}"><span class="mdc-tab--label">{{{label}}}</span></a>
                                {{/each}}
                            </nav>
                            <button id="menu_button" class="menu mdc-toolbar__icon mdc-toolbar__icon--menu" onclick="window.drawer.open = true">
                                <span class="far fa-2x fa-bars" aria-hidden="true"></span>
                            </button>
                        </section>
                    </div>
                </div>
            </header>

            <aside class="mdc-temporary-drawer" id="menu_draw" dir="rtl">
                <nav class="mdc-temporary-drawer__drawer">
                    <header class="mdc-temporary-drawer__header">
                        <div class="mdc-temporary-drawer__header-content mdc-theme--text-primary-on-primary">
                            <img src="https://storage.googleapis.com/human-rights-declaration/sdhr-logo.png" class="brand-logo-mobile" />
                        </div>
                    </header>
                    <nav class="mdc-temporary-drawer__content mdc-list-group">
                        <div id="icon-with-text-demo" class="mdc-list" [menu]="'main'" [menulinkselector]="''" [menulabelselector]="'span.menu-label'" [menuactiveclass]="'active'">
                            {{#each menus.main}}
                            <a class="mdc-list-item{{#if match}} mdc-tab--active{{/if}}" href="{{path}}"
                                data-mdc-tabindex-handled="true" tabindex="-" onclick="window.drawer.open = false">
                                <span class="menu-label">{{{label}}}</span>
                            </a>
                            {{/each}}
                        </div>
                    </nav>
                </nav>
            </aside>

            <main>
                <div class="container-fluid">
                    <!--{section:body}-->
                </div>
            </main>

            <footer>
                <div class="footer-main">
                    <div class="container-fluid">
                        <div class="mdc-layout-grid">
                            <div class="mdc-layout-grid__inner">
                                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-9-desktop">
                                    <h3>About</h3>
                                    <p>
                                        The <strong>Scotland Declaration on Human Rights</strong> is run by the
                                        <a href="https://scvo.org">Scottish Council for Voluntary Organisations</a>
                                        with support from <a href="https://hrcscotland.org">Human Rights Consortium Scotland</a>, <a href="http://www.scottishhumanrights.com">Scottish Human Rights
                                        Commission</a> and the <a href="https://www.equalityhumanrights.com">Equality and Human Rights Commission</a>
                                    </p>
                                    <a href="https://www.equalityhumanrights.com" class="brand-logo" title="Equality Human Rights Scotland">
                                        <img src="https://storage.googleapis.com/human-rights-declaration/ehrc-logo.svg" />
                                    </a>
                                    <a href="http://www.scottishhumanrights.com" class="brand-logo" title="Scottish Human Rights Commission">
                                        <img src="https://storage.googleapis.com/human-rights-declaration/shrc-logo.svg" style="max-width:none;height:44px;" />
                                    </a>
                                    <a href="https://hrcscotland.org" class="brand-logo" title="Human Rights Consortium Scotland">
                                        <img src="https://storage.googleapis.com/human-rights-declaration/hrcs-logo.jpg" />
                                    </a>
                                </div>
                                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-3-desktop">
                                    <h3>Help</h3>
                                    <ul class="mdc-list">
                                        <li class="mdc-list-item">
                                            <a href="/accessibility">Accessibility</a>
                                        </li>
                                        <li class="mdc-list-item">
                                            <a href="/privacy-and-cookies">Privacy &amp; cookies policy</a>
                                        </li>
                                        <li class="mdc-list-item">
                                            <a href="/terms-and-conditions">Terms &amp; conditions</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container-fluid">
                        <div class="mdc-layout-grid">
                            <div class="mdc-layout-grid__inner">
                                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-9-desktop">
                                    <p>
                                        &copy; {{momentFormat (moment) "YYYY"}}. The Scottish Council for Voluntary Organisations (SCVO) is a Scottish Charitable Incorporated Organisation. Charity registered in Scotland <a href="https://www.oscr.org.uk/about-charities/search-the-register/charity-details?number=SC003558">SC003558</a>. Registered office Mansfield Traquair Centre, 15 Mansfield Place, Edinburgh EH3 6BB.
                                    </p>
                                </div>
                                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-3-desktop">
                                    <a href="https://scvo.org" title="Scottish Council for Voluntary Organisations">
                                        <img src="/assets/images/scvo-logo.png" alt="Scottish Council for Voluntary Organisations" class="logo scvo" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </scvo-site>
    <script type="text/javascript" src="/assets/js/material-components-web.js"></script>
    <script type="text/javascript" id="cookieinfo"
    	src="/assets/js/cookieinfo.min.js"
    	data-bg="#1A1A19"
    	data-fg="#FFFFFF"
    	data-link="#FFFFFF"
        data-divlink="#FFFFFF"
        data-divlinkbg="#2C2C2B"
        data-moreinfo="/privacy-cookies-policy"
    	data-cookie="CookieInfoScript"
    	data-text-align="left">
    </script>
    <script type="text/javascript" src="/assets/js/humanrightsdeclaration/root.js"></script>
    <!--{section:foot}-->
</body>
</html>
